a-sample-workflow-NxjTHmYzgK5vQNPs.json
{"updatedAt":"2025-11-27T12:54:51.053Z","createdAt":"2025-11-27T11:01:49.687Z","id":"NxjTHmYzgK5vQNPs","name":"a sample workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,-16],"id":"c979e429-ab27-4f7d-8acc-3bc759594111","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"spreadsheet","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-320,208],"id":"18f2dcc4-7737-4a94-8fd8-3275c6d16ed3","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}},{"parameters":{"path":"778e01b1-987b-4be9-bf5a-24fc9a456e2b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,-96],"id":"29c3a329-4930-41fa-8267-823d912eee50","name":"Webhook","webhookId":"778e01b1-987b-4be9-bf5a-24fc9a456e2b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-112],"id":"f4b5ea78-c421-482e-92c0-4d939baff9ae","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[752,-112],"id":"d6fb1e5c-5898-4772-84e6-726b91413596"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[574,-112],"id":"5427f10a-cf04-4445-9c0a-f4826dc2cb28","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-112,208],"id":"43879eb8-ea77-4459-abb5-0562c9a01c65","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[656,32],"id":"b0bb97e7-f343-4bcf-926b-75215aca1402","name":"Merge1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[641.5,32],"id":"65d392f6-a82c-4014-bf09-66e3d7536d32","name":"Code in JavaScript"},{"parameters":{"authentication":"serviceAccount","operation":"sendAndWait","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[64,-96],"id":"e2b0e507-f1db-4d48-9606-e5ecd222d6d4","name":"Send a message","webhookId":"0bc8b2c4-3046-4776-bbf5-e5d47c55aa82","credentials":{"googleApi":{"id":"mgtntPSoGkTPOse4","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create spreadsheet","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Analyze an image","type":"main","index":0}]]},"Create spreadsheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e80dc28-e0ea-431c-8283-905bc89238d3","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T11:01:49.687Z","createdAt":"2025-11-27T11:01:49.687Z","role":"workflow:owner","workflowId":"NxjTHmYzgK5vQNPs","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}