ai-agent-router---csv-&-linkedin-automation-aV486hrDfFAak2US.json
{"updatedAt":"2025-11-06T13:13:15.247Z","createdAt":"2025-11-06T10:28:43.170Z","id":"aV486hrDfFAak2US","name":"AI Agent Router - CSV & LinkedIn Automation","active":false,"isArchived":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=You route tasks to tools:\\n- CSV file = Email Automation Tool\\n- LinkedIn/image/post request = LinkedIn Post Tool\\n\\nInput: {{ $json.body.message }}\\n{{ $json.body.fileName ? 'File: ' + $json.body.fileName : '' }}","options":{"systemMessage":"Route requests efficiently. Confirm action briefly"}},"id":"c4478aa0-e760-4662-bc29-5e84749394ee","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-448,320]},{"parameters":{"name":"Email_Automation_Tool","description":"Use this tool when the user provides a CSV file or mentions sending emails to contacts. This tool triggers the email automation workflow that processes CSV files with contact information and sends bulk emails.","workflowId":"=GHrrl0GW9qeSLMJQ"},"id":"4f7bab98-d06d-425e-b6ea-0cbb464e19e3","name":"Tool - Email Automation","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[-416,640]},{"parameters":{"name":"LinkedIn_Post_Tool","description":"Use this tool when the user requests to create promotional images, graphics, or social media content and post them on LinkedIn. This includes requests like 'create an image for X% off on Y courses', 'generate a promotional post', or 'post about our new product on LinkedIn'.","workflowId":"=k7DKp0lrt3IRRKj9"},"id":"0c0f47c0-2ea0-4269-a885-c712620bd30c","name":"Tool - LinkedIn Post","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[-192,640]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  \"status\": \"success\",\n  \"response\": $json.output,\n  \"timestamp\": $now\n}) }}","options":{}},"id":"edd31e87-60f5-4369-bb54-03f3c6795cd5","name":"Response - Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-80,320]},{"parameters":{"httpMethod":"POST","path":"ai-agent-router","responseMode":"responseNode","options":{}},"id":"bef591ec-4c50-4a03-afea-9300e25a17fb","name":"Webhook Trigger1","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-768,320],"webhookId":"ai-agent-router"},{"parameters":{"model":"google/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-640,640],"id":"ea5f96a3-6590-4731-95a6-d138523a5659","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"VsjmFGDtBzibGUhL","name":"OpenRouter account 2"}}}],"connections":{"AI Agent":{"main":[[{"node":"Response - Success","type":"main","index":0}]]},"Webhook Trigger1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Tool - Email Automation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool - LinkedIn Post":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"750eb985-0dfd-48b2-b9bd-9a68327f60c4","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T10:28:43.170Z","createdAt":"2025-11-06T10:28:43.170Z","role":"workflow:owner","workflowId":"aV486hrDfFAak2US","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}