automated-email-workflow(no-ai-agent)--test-google-sheet-EQe4h4pdHrbh5mxR.json
{"updatedAt":"2025-11-18T12:14:48.940Z","createdAt":"2025-11-10T10:11:37.762Z","id":"EQe4h4pdHrbh5mxR","name":"automated-email-workflow(no-AI-agent) -Test google sheet","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,336],"id":"39ce06be-fc85-4e5f-9b32-e3fe02452476","name":"Select Random Template"},{"parameters":{"jsCode":"// Get the template from previous node\nconst template = $input.first().json;\n\n// Get the current CSV row data from Batch Email Processor\nconst csvData = $('Batch Email Processor2').first().json;\n// Replace placeholders in subject and body\nlet personalizedSubject = template.subject || '';\nlet personalizedBody = template.body || '';\n\n// Replace [survey] placeholder\nconst survey = csvData.Survey || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Survey\\]/g, survey);\npersonalizedBody = personalizedBody.replace(/\\[Survey\\]/g, survey);\n\n// Replace [Name] placeholder\nconst name = csvData.Name || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Name\\]/g, name);\npersonalizedBody = personalizedBody.replace(/\\[Name\\]/g, name);\n\n// Replace [Survey Link] with actual clickable link\nlet surveyLink = csvData.Survey_link || '';\n\nif (surveyLink) {\n  // Add https:// if not present\n  if (!surveyLink.startsWith('http://') && !surveyLink.startsWith('https://')) {\n    surveyLink = 'https://' + surveyLink;\n  }\n  \n  // Create a clickable HTML link with styling\n  const clickableLink = `<a href=\"${surveyLink}\" style=\"color: #0066cc; text-decoration: underline; font-weight: bold;\" target=\"_blank\">${surveyLink}</a>`;\n  personalizedBody = personalizedBody.replace(/\\[Survey Link\\]/g, clickableLink);\n}\n\n// Wrap body in proper HTML structure\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  ${personalizedBody}\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    Email: csvData.Email,\n    Subject: personalizedSubject,\n    Body: htmlBody,\n    Name: csvData.Name,\n    Survey_link: csvData.Survey_link,\n    RowNumber: csvData.RowNumber  // Keep row number for updating\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,336],"id":"7434f8dd-2ab3-40d5-a33d-2b1856a9a223","name":"Personalize Email"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,496],"id":"cda1cab4-f0f7-4c0c-bd96-a9c64416b8b4","name":"Batch Email Processor2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1408,768],"id":"9d31bd0f-aaad-4538-bd00-13272e8f7f30","name":"Wait","webhookId":"1f4b125d-982b-49bb-9a4b-75e5bd7a7017"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1104,512],"id":"c4528359-9920-458e-b65f-6e68eca21e11","name":"Merge Email Data"},{"parameters":{"jsCode":"const response = $input.first().json.message || '';\nlet status = \"FAILED\";\n\n// Check for successful email send - expanded checks\nif (response && typeof response === 'string') {\n  const responseLower = response.toLowerCase();\n  if (responseLower.includes(\"queued.thankyou.\") || \n      responseLower.includes(\"thankyou\") ||\n      responseLower.includes(\"queued\") ||\n      responseLower.startsWith(\"queued\")) {\n    status = \"SENT\";\n  }\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get the merged data (which includes both CSV and email content)\nconst emailData = $('Batch Email Processor2').item.json;\n\nreturn [\n  {\n    json: {\n      Name: emailData.Name || '',\n      Email: emailData.Email || '',\n      Survey_link: emailData.Survey_link || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: emailData.Subject || '',\n      ResponseMessage: response,\n      RowNumber: emailData.RowNumber  // Pass row number for sheet update\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,512],"id":"47c80984-a44c-49f0-a117-216e0c842678","name":"Update Status & Format"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-112,64],"id":"62973105-f6f7-414d-9860-972b3a433d95","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.Email)\n  .map(item => ({\n    Name: item.Name || '',\n    Email: item.Email || '',\n    Survey_link: item.Survey_link || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,64],"id":"846350e9-9329-4cbf-b80a-eedea426cc18","name":"Format Final Response"},{"parameters":{"operation":"getAll","tableId":"email_template","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[16,-640],"id":"726b7067-4fa4-4cab-bf01-1c5fbf312bf7","name":"email_templates","credentials":{"supabaseApi":{"id":"d8px7xRtHhyacU4j","name":"Supabase account"}}},{"parameters":{"fromEmail":"uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","text":"=","html":"={{ $json.Body }}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[1328,512],"id":"25e0d4cf-7bd4-44cd-ab8e-35da4ae5001a","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"documentId":{"__rl":true,"value":"16kLV2-KL3durubRwzMLoVQhVkHLZoO4uB9pSRW59DDM","mode":"list","cachedResultName":"email_survey_list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16kLV2-KL3durubRwzMLoVQhVkHLZoO4uB9pSRW59DDM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16kLV2-KL3durubRwzMLoVQhVkHLZoO4uB9pSRW59DDM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1072,432],"id":"f26551bc-5479-4029-a6a1-0d2aea413788","name":"Read Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"n8KXJZPCurBjtYAf","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1296,432],"id":"c24f5300-50a9-499c-9817-39a2c60ba2f7","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Add row numbers to track positions for updating\nreturn items.map((item, index) => ({\n  json: {\n    ...item.json,\n    RowNumber: index + 2  // +2 because row 1 is header, data starts at row 2\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,432],"id":"2cd756cb-dcdc-4fe7-9b5c-849004a9593f","name":"Add Row Numbers"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,432],"id":"80851c5a-9d1a-4a83-a46d-c968538df507","name":"Filter Unsent Emails"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16kLV2-KL3durubRwzMLoVQhVkHLZoO4uB9pSRW59DDM","mode":"list","cachedResultName":"email_survey_list_test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16kLV2-KL3durubRwzMLoVQhVkHLZoO4uB9pSRW59DDM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16kLV2-KL3durubRwzMLoVQhVkHLZoO4uB9pSRW59DDM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Survey_link":"={{ $json.Survey_link }}","Status":"={{ $json.Status }}","SentOn":"={{ $json.SentOn }}"},"matchingColumns":["Survey_link"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Survey_link","displayName":"Survey_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Survey","displayName":"Survey","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SentOn","displayName":"SentOn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1840,512],"id":"ff0a059f-7718-448f-b679-6db00f7832f9","name":"Update Status","credentials":{"googleSheetsOAuth2Api":{"id":"n8KXJZPCurBjtYAf","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8","mode":"list","cachedResultName":"email_templates","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,336],"id":"b5b3be20-1a38-408a-a66e-b635ff9c52bb","name":"Get Email template","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}}],"connections":{"Select Random Template":{"main":[[{"node":"Personalize Email","type":"main","index":0}]]},"Personalize Email":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Batch Email Processor2":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Merge Email Data","type":"main","index":1},{"node":"Get Email template","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Mailgun","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"email_templates":{"main":[[]]},"Mailgun":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Read Google Sheet":{"main":[[{"node":"Add Row Numbers","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Read Google Sheet","type":"main","index":0}]]},"Add Row Numbers":{"main":[[{"node":"Filter Unsent Emails","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Get Email template":{"main":[[{"node":"Select Random Template","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"530f492d-a134-4e65-9149-21c5c60b8d0c","triggerCount":1,"shared":[{"updatedAt":"2025-11-10T10:11:37.762Z","createdAt":"2025-11-10T10:11:37.762Z","role":"workflow:owner","workflowId":"EQe4h4pdHrbh5mxR","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}