automated-email-workflow(no-ai-agent)-by-input-router-GHrrl0GW9qeSLMJQ.json
{"updatedAt":"2025-11-06T10:35:52.121Z","createdAt":"2025-11-06T10:29:53.443Z","id":"GHrrl0GW9qeSLMJQ","name":"automated-email-workflow(no-AI-agent)-by input router","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,3936],"id":"5b7f9b33-7f2b-48f4-baa5-690ff1852195","name":"Select Random Template"},{"parameters":{"jsCode":"// Get the template from previous node\nconst template = $input.first().json;\n\n// Get the current CSV row data from Batch Email Processor\nconst csvData = $('Batch Email Processor2').first().json;\n// Replace placeholders in subject and body\nlet personalizedSubject = template.subject || '';\nlet personalizedBody = template.body || '';\n\n// Replace [survey] placeholder\nconst survey = csvData.Survey || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Survey\\]/g, survey);\npersonalizedBody = personalizedBody.replace(/\\[Survey\\]/g, survey);\n\n// Replace [Name] placeholder\nconst name = csvData.Name || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Name\\]/g, name);\npersonalizedBody = personalizedBody.replace(/\\[Name\\]/g, name);\n\n// Replace [Survey Link] with actual clickable link\nlet surveyLink = csvData.Survey_link || '';\n\nif (surveyLink) {\n  // Add https:// if not present\n  if (!surveyLink.startsWith('http://') && !surveyLink.startsWith('https://')) {\n    surveyLink = 'https://' + surveyLink;\n  }\n  \n  // Create a clickable HTML link with styling\n  const clickableLink = `<a href=\"${surveyLink}\" style=\"color: #0066cc; text-decoration: underline; font-weight: bold;\" target=\"_blank\">${surveyLink}</a>`;\n  personalizedBody = personalizedBody.replace(/\\[Survey Link\\]/g, clickableLink);\n}\n\n// Wrap body in proper HTML structure\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  ${personalizedBody}\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    Email: csvData.Email,\n    Subject: personalizedSubject,\n    Body: htmlBody,\n    Name: csvData.Name,\n    Survey_link: csvData.Survey_link\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,3936],"id":"b0af4037-011c-4c08-b009-f5d8754084fc","name":"Personalize Email"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,4096],"id":"677973a0-e210-4ece-bcfe-c70c7e0b29f8","name":"Batch Email Processor2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1824,4432],"id":"df5b4393-72d0-4e84-9507-ff4959ace808","name":"Wait","webhookId":"5e450b37-1610-4fd4-9f9b-3078149c8355"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1376,4176],"id":"5fd84c20-48cd-4efd-acbb-4634e528ec8a","name":"Merge Email Data"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1584,4176],"id":"563aed98-b457-4e13-9d76-69835791fa0e","name":"Send Email","webhookId":"e78b9634-21ba-41c7-a8e1-9b2a538651e8","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const response = items[0].json.response || '';\nlet status = \"FAILED\";\n\n// Check for successful email send - expanded checks\nif (response && typeof response === 'string') {\n  const responseLower = response.toLowerCase();\n  if (responseLower.includes(\"250 ok\") || \n      responseLower.includes(\"250 2.0.0\") ||\n      responseLower.includes(\"queued\") ||\n      responseLower.startsWith(\"250\")) {\n    status = \"SENT\";\n  }\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get the merged data (which includes both CSV and email content)\nconst emailData = $('Batch Email Processor2').item.json ;\n\nreturn [\n  {\n    json: {\n      Name: emailData.Name || '',\n      Email: emailData.Email || '',\n      Survey_link: emailData.Survey_link || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: emailData.Subject || '',\n      ResponseMessage: response\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,4176],"id":"c387b646-5a18-47db-8215-8f393dccd987","name":"Update Status & Format"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,3664],"id":"2f2e8422-434f-4a27-999f-b601d0d927a5","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.Email)\n  .map(item => ({\n    Name: item.Name || '',\n    Email: item.Email || '',\n    Survey_link: item.Survey_link || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || '',\n    // Subject: item.Subject || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,3664],"id":"0984e914-26d8-4a9c-9f44-55021d3a0067","name":"Format Final Response"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  return lines.slice(1)\n    .filter(line => line.trim())\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') {\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,4096],"id":"da892497-b1dc-4257-be6c-3a942cf6d6fb","name":"Parse CSV File"},{"parameters":{"operation":"getAll","tableId":"email_template","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[384,3936],"id":"cae69d18-874e-4bc2-90f0-b40374406561","name":"email_templates","credentials":{"supabaseApi":{"id":"d8px7xRtHhyacU4j","name":"Supabase account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"email_list.csv","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-624,4064],"id":"b4cd2d8e-6cfa-416c-a280-2bd081d3f6ec","name":"When Executed by Another Workflow"}],"connections":{"Select Random Template":{"main":[[{"node":"Personalize Email","type":"main","index":0}]]},"Personalize Email":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Batch Email Processor2":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"email_templates","type":"main","index":0},{"node":"Merge Email Data","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Update Status & Format","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"email_templates":{"main":[[{"node":"Select Random Template","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9cfe6b42-4cb9-40bc-9e84-c799f88d0bdc","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T10:29:53.443Z","createdAt":"2025-11-06T10:29:53.443Z","role":"workflow:owner","workflowId":"GHrrl0GW9qeSLMJQ","projectId":"tsuA2t8C154Ytetn"}],"tags":[],"needsUpdate":false}