automated-email-workflow(no-ai-agent)-TomTUawPTqWeRhLd.json
{"updatedAt":"2025-11-26T12:19:19.286Z","createdAt":"2025-11-06T06:15:34.321Z","id":"TomTUawPTqWeRhLd","name":"automated-email-workflow(no-AI-agent)","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,3936],"id":"461cac3e-0d6d-4da8-b9e6-5241592d718e","name":"Select Random Template"},{"parameters":{"jsCode":"// Get the template from previous node\nconst template = $input.first().json;\n\n// Get the current CSV row data from Batch Email Processor\nconst csvData = $('Batch Email Processor2').first().json;\n// Replace placeholders in subject and body\nlet personalizedSubject = template.subject || '';\nlet personalizedBody = template.body || '';\n\n// Replace [survey] placeholder\nconst survey = csvData.Survey || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Survey\\]/g, survey);\npersonalizedBody = personalizedBody.replace(/\\[Survey\\]/g, survey);\n\n// Replace [Name] placeholder\nconst name = csvData.Name || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Name\\]/g, name);\npersonalizedBody = personalizedBody.replace(/\\[Name\\]/g, name);\n\n// Replace [Survey Link] with actual clickable link\nlet surveyLink = csvData.Survey_link || '';\n\nif (surveyLink) {\n  // Add https:// if not present\n  if (!surveyLink.startsWith('http://') && !surveyLink.startsWith('https://')) {\n    surveyLink = 'https://' + surveyLink;\n  }\n  \n  // Create a clickable HTML link with styling\n  const clickableLink = `<a href=\"${surveyLink}\" style=\"color: #0066cc; text-decoration: underline; font-weight: bold;\" target=\"_blank\">${surveyLink}</a>`;\n  personalizedBody = personalizedBody.replace(/\\[Survey Link\\]/g, clickableLink);\n}\n\n// Wrap body in proper HTML structure\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  ${personalizedBody}\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    Email: csvData.Email,\n    Subject: personalizedSubject,\n    Body: htmlBody,\n    Name: csvData.Name,\n    Survey_link: csvData.Survey_link\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,3936],"id":"be9ffe33-f355-48b2-8556-2886744f07f7","name":"Personalize Email"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,4096],"id":"81461dc5-a132-471d-a1d4-26f757f62334","name":"Batch Email Processor2"},{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-768,4096],"id":"5a6e4dfe-f5c2-4c01-9a19-926eeb9621f0","name":"Webhook Trigger","webhookId":"email-campaign-webhook"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1936,4320],"id":"e70fa49f-227c-4990-ad76-bd99cf8ee114","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1584,4080],"id":"5196b8c3-f817-4fdc-89cd-aaded62c391b","name":"Merge Email Data"},{"parameters":{"jsCode":"const response = $input.first().json.message || '';\nlet status = \"FAILED\";\n\n// Check for successful email send - expanded checks\nif (response && typeof response === 'string') {\n  const responseLower = response.toLowerCase();\n  if (responseLower.includes(\"queued.thankyou.\") || \n      responseLower.includes(\"thankyou\") ||\n      responseLower.includes(\"queued\") ||\n      responseLower.startsWith(\"queued\")) {\n    status = \"SENT\";\n  }\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get the merged data (which includes both CSV and email content)\nconst emailData = $('Batch Email Processor2').item.json ;\n\nreturn [\n  {\n    json: {\n      Name: emailData.Name || '',\n      Email: emailData.Email || '',\n      Survey_link: emailData.Survey_link || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: emailData.Subject || '',\n      ResponseMessage: response\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,4080],"id":"4591a331-7114-4f4e-a98c-a8cd87e89f6a","name":"Update Status & Format"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[368,3664],"id":"6fb28953-53d7-47e7-be50-77d8dd193fb6","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.Email)\n  .map(item => ({\n    Name: item.Name || '',\n    Email: item.Email || '',\n    Survey_link: item.Survey_link || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || '',\n    // Subject: item.Subject || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,3664],"id":"e8a2e0c2-cc5d-44f9-90ce-86563b418856","name":"Format Final Response"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  return lines.slice(1)\n    .filter(line => line.trim())\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') {\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,4096],"id":"6a9d4eb1-04a3-48ce-bca4-cc24abb8d6a5","name":"Parse CSV File"},{"parameters":{"fromEmail":"uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","text":"=","html":"={{ $json.Body }}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[1824,4080],"id":"f17c29b7-fb48-42af-b601-b411a73b3eb8","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8","mode":"list","cachedResultName":"email_templates","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,3936],"id":"9e5a45af-767d-4dda-aebd-95967e22da27","name":"Get Email template","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}}],"connections":{"Select Random Template":{"main":[[{"node":"Personalize Email","type":"main","index":0}]]},"Personalize Email":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Batch Email Processor2":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Merge Email Data","type":"main","index":1},{"node":"Get Email template","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Mailgun","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Mailgun":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Get Email template":{"main":[[{"node":"Select Random Template","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0a22bbee-d86d-447c-9a92-cafd4f231be7","triggerCount":1,"shared":[{"updatedAt":"2025-11-06T06:15:34.321Z","createdAt":"2025-11-06T06:15:34.321Z","role":"workflow:owner","workflowId":"TomTUawPTqWeRhLd","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}