automated-email-workflow(no-ai-agent)--test-uxboost-implementation-jQleiVvYGKEt5I8a.json
{"updatedAt":"2025-11-11T13:12:20.092Z","createdAt":"2025-11-11T09:20:52.875Z","id":"jQleiVvYGKEt5I8a","name":"automated-email-workflow(no-AI-agent) -Test UXBoost implementation","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// --- Collect items from Batch Email Processor2 ---\nconst items = $('Batch Email Processor2').all();\nif (!items || items.length === 0) {\n  return [];\n}\n\n// --- Load templates safely (prefer the `email_templates` node) ---\nlet subjectTpl = '';\nlet bodyTpl = '';\n\ntry {\n  const tplNode = $('email_templates').first(); // make sure this node executed upstream\n  if (tplNode && tplNode.json) {\n    subjectTpl = tplNode.json.email_subject || '';\n    bodyTpl    = tplNode.json.email_body || '';\n  }\n} catch (e) {\n  // ignore and try $input next\n}\n\n// Fallback to $input if available\nif (!subjectTpl || !bodyTpl) {\n  try {\n    subjectTpl = subjectTpl || ($input.first().json.email_subject || '');\n    bodyTpl    = bodyTpl    || ($input.first().json.email_body || '');\n  } catch (e) {\n    // ignore, use hardcoded defaults below\n  }\n}\n\n// Final hardcoded defaults if nothing found\nif (!subjectTpl) subjectTpl = 'UX Analysis Report - ${analysis.domain}';\nif (!bodyTpl) {\n  bodyTpl = `\n    <!DOCTYPE html><html><body>\n      <h1>UX Analysis Report</h1>\n      <p>${analysis.domain}</p>\n      <p>Hi ${recipientName},</p>\n      <p>${userName} has shared a UX analysis report with you for <strong>${analysis.domain}</strong>.</p>\n      <p>Report ID: ${body.syntheticId}</p>\n    </body></html>\n  `;\n}\n\nconst outputItems = items.map(item => {\n  const data = item.json || {};\n\n  // Extract values from input\n  const syntheticId        = data.syntheticId || 'N/A';\n  const recipientFirstName = data.recipientFirstName || '';\n  const recipientLastName  = data.recipientLastName  || '';\n  const recipientEmail     = data.recipientEmail     || '';\n  const domain             = data.domain             || 'example.com';\n  const userName           = data.name               || 'A team member';\n\n  // Recipient display name\n  const recipientName = `${recipientFirstName} ${recipientLastName}`.trim() || 'there';\n\n  // Subject: replace ${analysis.domain}\n  const emailSubject = String(subjectTpl).replace(/\\$\\{analysis\\.domain\\}/g, domain);\n\n  // Body: replace all four placeholders\n  const emailBody = String(bodyTpl)\n    .replace(/\\$\\{analysis\\.domain\\}/g, domain)\n    .replace(/\\$\\{recipientName\\}/g, recipientName)\n    .replace(/\\$\\{userName\\}/g, userName)\n    .replace(/\\$\\{body\\.syntheticId\\}/g, syntheticId);\n\n  return {\n    json: {\n      ...data,\n      emailSubject,\n      emailBody,\n      recipientEmail,\n      recipientName,\n      userName,\n      domain\n    }\n  };\n});\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,352],"id":"7f5eddd5-7d23-4930-8f98-44f317298bc3","name":"Personalize Email"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,496],"id":"7f40e62f-f1ae-454a-9181-92d689a1e80a","name":"Batch Email Processor2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,832],"id":"5f039acc-d69b-41a1-b8c1-c0dc8e36a70a","name":"Wait","webhookId":"20d5bbff-233b-4782-93d6-b2cb1579d3e2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1008,560],"id":"384a8176-d460-4fe9-8cd6-4618f85b9247","name":"Merge Email Data"},{"parameters":{"jsCode":"const response = $input.first().json.message || '';\nlet status = \"FAILED\";\n\n// Check for successful email send - expanded checks\nif (response && typeof response === 'string') {\n  const responseLower = response.toLowerCase();\n  if (responseLower.includes(\"queued.thankyou.\") || \n      responseLower.includes(\"thankyou\") ||\n      responseLower.includes(\"queued\") ||\n      responseLower.startsWith(\"queued\")) {\n    status = \"SENT\";\n  }\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get the merged data (which includes both CSV and email content)\nconst emailData = $('Batch Email Processor2').item.json;\n\nreturn [\n  {\n    json: {\n      name: emailData.name || '',\n      syntheticId: emailData.syntheticId || '',\n      recipientEmail: emailData.recipientEmail || '',\n      recipientFirstName: emailData.recipientFirstName || '',\n      recipientLastName: emailData.recipientLastName || '',\n      Status: status || '',\n      SentOn: sentOn || '',\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,576],"id":"bb753728-f484-4d70-b46d-76791292055b","name":"Update Status & Format"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-112,64],"id":"ac95ac8c-ffae-4fd8-9543-0d4c856ff050","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.name)\n  .map(item => ({\n    Name: item.name || '',\n    syntheticId: item.syntheticId || '',\n    recipientEmail: item.recipientEmail || '',\n    recipientFirstname: item.recipientFirstName || '',\n    recipientlastname: item.recipientLastName || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,64],"id":"e995e9f9-c3bd-4b11-8f7d-3d306d39e419","name":"Format Final Response"},{"parameters":{"operation":"getAll","tableId":"email_template","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,272],"id":"3860e3bc-436b-41c8-b526-0efaf699c5a6","name":"email_templates","credentials":{"supabaseApi":{"id":"QoNA4Ei8WVmiGGti","name":"UXBoost supabase"}}},{"parameters":{"fromEmail":"noreply@uxboost.ai","toEmail":"={{ $json.recipientEmail }}","subject":"={{ $('Merge Email Data').item.json.emailSubject }}","text":"=","html":"={{ $('Merge Email Data').item.json.emailBody }}","attachments":"=data"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[1536,576],"id":"ae784081-5c65-4e30-860c-ea4125aabb3d","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"httpMethod":"POST","path":"26a7036b-9ffe-4aab-aaf4-c839fba195ef","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1104,496],"id":"4cd12c12-4591-4383-89ee-9e1ed1ba023b","name":"Webhook","webhookId":"26a7036b-9ffe-4aab-aaf4-c839fba195ef"},{"parameters":{"jsCode":"// Flatten webhook payload where `body` can be an array or an object\nconst incoming = $input.all();\nconst out = [];\n\nfor (let i = 0; i < incoming.length; i++) {\n  const item = incoming[i];\n  const { headers = {}, params = {}, query = {}, body, webhookUrl, executionMode } = item.json || {};\n\n  // Helper to push a normalized item and keep meta\n  const pushItem = (row) => {\n    out.push({\n      json: {\n        // copy over expected fields (safe if extra keys exist)\n        organisationId: row.organisationId ?? null,\n        syntheticId: row.syntheticId ?? null,\n        reportType: row.reportType ?? null,\n        attachPdfVariant: row.attachPdfVariant ?? null,\n        recipientFirstName: row.recipientFirstName ?? null,\n        recipientLastName: row.recipientLastName ?? null,\n        recipientEmail: row.recipientEmail ?? null,\n        name: row.name ?? null,\n        domain: row.domain ?? null,\n        attachment: row.attachment.data\n\n      },\n      // keeps linkage to the original input item for n8n UI\n      pairedItem: { item: i },\n    });\n  };\n\n  if (Array.isArray(body)) {\n    for (const row of body) pushItem(row);\n  } else if (body && typeof body === 'object') {\n    pushItem(body);\n  } else {\n    // Fallback: emit whatever was sent as body\n    out.push({\n      json: {\n        body,\n        _meta: { headers, params, query, webhookUrl, executionMode, sourceItemIndex: i },\n      },\n      pairedItem: { item: i },\n    });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,512],"id":"f669cd71-d7db-4d1c-9d74-025755e42fb5","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[368,64],"id":"bdac6e2f-e996-4e4a-82eb-df7ae88320c1","name":"Respond to Webhook"},{"parameters":{"jsCode":"// Convert Base64 to PDF Binary for n8n\nconst items = $input.all();\n\nconst processedItems = items.map(item => {\n  const data = item.json;\n  \n  // Get base64 data directly from attachment field\n  let base64Data = data.attachment;\n  \n  // Generate filename from domain and report type\n  const filename = `UX_Report_${data.domain}_${data.syntheticId}.pdf`;\n  const mimeType = 'application/pdf';\n  \n  if (!base64Data) {\n    throw new Error('No attachment data found in the input.');\n  }\n  \n  // Remove data URL prefix if present (e.g., \"data:application/pdf;base64,\")\n  if (base64Data.includes('base64,')) {\n    base64Data = base64Data.split('base64,')[1];\n  }\n  \n  // Remove any whitespace or newlines\n  base64Data = base64Data.replace(/\\s/g, '');\n  \n  // Convert to Buffer\n  const binaryBuffer = Buffer.from(base64Data, 'base64');\n  \n  // Get file extension\n  const fileExtension = filename.split('.').pop() || 'pdf';\n  \n  return {\n    json: {\n      // Keep all original data\n      organisationId: data.organisationId,\n      syntheticId: data.syntheticId,\n      reportType: data.reportType,\n      attachPdfVariant: data.attachPdfVariant,\n      recipientFirstName: data.recipientFirstName,\n      recipientLastName: data.recipientLastName,\n      recipientEmail: data.recipientEmail,\n      name: data.name,\n      domain: data.domain,\n      // Add file metadata\n      pdfFilename: filename,\n      fileSize: binaryBuffer.length,\n      fileSizeKB: (binaryBuffer.length / 1024).toFixed(2)\n    },\n    binary: {\n      data: {\n        data: binaryBuffer.toString('base64'),\n        mimeType: mimeType,\n        fileName: filename,\n        fileExtension: fileExtension,\n        fileSize: binaryBuffer.length\n      }\n    }\n  };\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,560],"id":"495581ee-2e9b-4d52-8573-efac0973f0b1","name":"Attachment Base64 to pdf convert"}],"connections":{"Personalize Email":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Batch Email Processor2":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Personalize Email","type":"main","index":0},{"node":"email_templates","type":"main","index":0},{"node":"Merge Email Data","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Attachment Base64 to pdf convert","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"email_templates":{"main":[[{"node":"Personalize Email","type":"main","index":0}]]},"Mailgun":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Format Final Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Attachment Base64 to pdf convert":{"main":[[{"node":"Mailgun","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e12748e1-cf93-408c-b992-8ec09c563e00","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T09:20:52.875Z","createdAt":"2025-11-11T09:20:52.875Z","role":"workflow:owner","workflowId":"jQleiVvYGKEt5I8a","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}