backup-n8n-workflows-UROE3Nmoj1RUOXrT.json
{"updatedAt":"2025-11-27T10:04:02.634Z","createdAt":"2025-11-26T09:13:35.913Z","id":"UROE3Nmoj1RUOXrT","name":"Backup n8n workflows","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8d44b4f8-cc41-498b-934a-43efa77fd841","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3104,2784]},{"parameters":{"options":{}},"id":"d6f76a97-081c-47e6-840f-5325360ce341","name":"Set date2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2800,2960]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ff3c9b4b-9e8c-42f1-8619-c73664e5a5a3","name":"Format date2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2592,2960]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"17e41b60-188d-4316-b5a9-b6f292c1d5be","name":"Set commit date2","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2400,2960]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"="},"id":"b59da9fa-9b7b-4f17-8fe9-4568bd397f4d","name":"List files from repository [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2192,2960],"alwaysOutputData":true,"webhookId":"2906544a-8b0b-4ff3-a6bf-49a7e9dc691b","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"c3d65a79-c644-4e3e-b505-f756990b1944","name":"Combine file names [GITHUB]2","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2000,2960]},{"parameters":{"filters":{},"requestOptions":{}},"id":"77c15fe5-3a51-41b6-bda7-e4325e6bcee0","name":"Retrieve workflows [N8N]2","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1792,2960],"credentials":{"n8nApi":{"id":"5vKfGIt4m3vYMFQO","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"2b2846dd-1c1e-4fd9-b968-a2cb458ee250","name":"Move JSON to binary3","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1584,2960]},{"parameters":{"batchSize":1,"options":{}},"id":"0a7f8386-c4eb-4856-a175-8cdcb8438f17","name":"Split to single items2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1360,2960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]2'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"49e1c064-9b16-4cf0-8330-cb64f3f83fc8","name":"Check if file exists in repository2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1120,2880]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"4f6f20b6-f79c-40bc-91c1-bc2b8ce235bf","name":"Get existing file content [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-880,2736],"webhookId":"aaa38c73-558e-427e-8ec1-f0267943c8aa","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needsUpdate }}"}]}},"id":"4b013544-0a91-4f26-932d-3680c96cad72","name":"Has changes?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-400,2736]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"6768b869-239a-4e6c-8f7e-f51ce4cf9a74","name":"Move JSON to binary4","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-144,2592]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date2'].json.commitDate }}"},"id":"34f34e5b-7e92-4d7f-8e19-ba41b2490370","name":"Update file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[96,2368],"webhookId":"06deee28-ba83-4b69-8ab0-8f5ac1455c95","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date2'].json.commitDate }}"},"id":"47a67796-92d3-490e-813a-0d3d2429c54c","name":"Upload file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[-544,2992],"webhookId":"5c216a75-a254-4c76-903f-4daf865ae95f","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"values":{"string":[],"number":[],"boolean":[],"array":[],"object":[]},"options":{}},"id":"176e84fe-7fe7-4d7c-8fd6-8aff8d2106a4","name":"No changes1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-224,3072]},{"parameters":{"jsCode":"return items.map(item => {\n  // New file content: base64 from Move JSON to binary3\n  const newBase64 = item.binary?.data?.data;\n\n  // Old file content: base64 from GitHub GET (json.content)\n  const oldBase64 = item.json?.content || '';\n\n  let needsUpdate = true;\n\n  try {\n    if (newBase64 && oldBase64) {\n      const newStr = Buffer.from(newBase64, 'base64').toString('utf8').trim();\n      const oldStr = Buffer.from(oldBase64, 'base64').toString('utf8').trim();\n      needsUpdate = newStr !== oldStr;\n    } else if (!newBase64) {\n      // nothing new to upload\n      needsUpdate = false;\n    } else if (!oldBase64) {\n      // no existing file → must create/update\n      needsUpdate = true;\n    }\n  } catch (error) {\n    // fail-safe: if anything goes wrong, force update\n    needsUpdate = true;\n  }\n\n  item.json.needsUpdate = needsUpdate;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,2624],"id":"1527b97b-73f7-4ef1-b0f1-854f1f5e4b41","name":"Code in JavaScript4"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date2","type":"main","index":0}]]},"Set date2":{"main":[[{"node":"Format date2","type":"main","index":0}]]},"Format date2":{"main":[[{"node":"Set commit date2","type":"main","index":0}]]},"Set commit date2":{"main":[[{"node":"List files from repository [GITHUB]2","type":"main","index":0}]]},"List files from repository [GITHUB]2":{"main":[[{"node":"Combine file names [GITHUB]2","type":"main","index":0}]]},"Combine file names [GITHUB]2":{"main":[[{"node":"Retrieve workflows [N8N]2","type":"main","index":0}]]},"Retrieve workflows [N8N]2":{"main":[[{"node":"Move JSON to binary3","type":"main","index":0}]]},"Move JSON to binary3":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Split to single items2":{"main":[[{"node":"Check if file exists in repository2","type":"main","index":0}]]},"Check if file exists in repository2":{"main":[[{"node":"Get existing file content [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]2","type":"main","index":0}]]},"Get existing file content [GITHUB]1":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Has changes?1":{"main":[[{"node":"Move JSON to binary4","type":"main","index":0}],[{"node":"No changes1","type":"main","index":0}]]},"Move JSON to binary4":{"main":[[{"node":"Update file [GITHUB]2","type":"main","index":0}]]},"Update file [GITHUB]2":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Upload file [GITHUB]2":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"No changes1":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Has changes?1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5879ff3c-bb87-4537-92b2-007600025535","triggerCount":0,"shared":[{"updatedAt":"2025-11-26T09:13:35.913Z","createdAt":"2025-11-26T09:13:35.913Z","role":"workflow:owner","workflowId":"UROE3Nmoj1RUOXrT","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}