backup-n8n-workflows-copy-ez0MYcwN92Vdbja1.json
{"updatedAt":"2025-11-27T13:01:48.818Z","createdAt":"2025-11-27T12:10:17.446Z","id":"ez0MYcwN92Vdbja1","name":"Backup n8n workflows copy","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4d59a633-ce35-4634-83ef-861441880daf","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3104,2784]},{"parameters":{"options":{}},"id":"0b079ef3-3d51-4269-ad6a-1107e6660e71","name":"Set date2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2800,2960]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2563123b-4ff2-4379-96f0-32cf62e8f76e","name":"Format date2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2592,2960]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"19e77845-d03d-4f7e-92be-4bad52e84f6c","name":"Set commit date2","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2400,2960]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"="},"id":"b9881186-11e2-4df2-9be6-9fad27e4da52","name":"List files from repository [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2192,2960],"alwaysOutputData":true,"webhookId":"469d2316-fc57-4533-9ed7-7a4d7ff78fd7","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1d30e784-78e5-44f0-b70d-2ce5526753fc","name":"Combine file names [GITHUB]2","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2000,2960]},{"parameters":{"filters":{},"requestOptions":{}},"id":"f63d54af-3151-4928-b1c9-c1134360a997","name":"Retrieve workflows [N8N]2","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1792,2960],"credentials":{"n8nApi":{"id":"5vKfGIt4m3vYMFQO","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"0e374191-9752-4884-b6cf-57d94633055f","name":"Move JSON to binary3","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1584,2960]},{"parameters":{"batchSize":1,"options":{}},"id":"074f7b4c-e72d-4459-b846-b4a798fdb5bc","name":"Split to single items2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1360,2960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]2'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"763a2c57-d6b8-48f1-ba07-8c67e43be6ca","name":"Check if file exists in repository2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1120,2880]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"c222d28d-26ee-4caf-8552-905ae96b5847","name":"Get existing file content [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-912,2736],"webhookId":"7773cab9-6dd7-4b7d-b128-69632f858547","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needsUpdate }}","value2":"={{ true }}"}]}},"id":"10ee62d5-0b41-438b-8339-8f4a3622d114","name":"Has changes?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-400,2736]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=Update-{{ $json.fileName }}-{{ $node['Set commit date2'].json.commitDate }}"},"id":"405a2cce-ea17-4ca7-9116-d11e4158c10c","name":"Update file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[96,2368],"webhookId":"c721da20-2f44-42a4-a547-30bd7fadf982","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $binary.data.fileName }}-{{ $node['Set commit date2'].json.commitDate }}"},"id":"08ef2b14-424c-4f4f-af97-127d7cad09d4","name":"Upload file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[-544,2992],"webhookId":"7c31fc84-b5f3-4314-b40a-e1b2c3a5e2b8","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"values":{"string":[],"number":[],"boolean":[],"array":[],"object":[]},"options":{}},"id":"0fefc6f4-2d07-44a3-bb70-1903d0214fba","name":"No changes1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-224,3072]},{"parameters":{"jsCode":"// All new workflow files (from Move JSON to binary3)\nconst newItems = $('Move JSON to binary3').all();\n\n// Get all input items from HTTP node\nconst allInputs = $input.all();\n\nconsole.log('Total input items:', allInputs.length);\n\n// Process each input item\nreturn allInputs.map((item, index) => {\n  try {\n    let githubFileName = '';\n    let githubContent = '';\n    \n    // Since we only have binary data, extract from there\n    if (item.binary?.data?.fileName) {\n      githubFileName = item.binary.data.fileName;\n    }\n    \n    if (item.binary?.data?.data) {\n      githubContent = item.binary.data.data;\n    }\n    \n    console.log(`[${index}] Processing: ${githubFileName}`);\n    \n    // Find matching new workflow\n    const newItem = newItems.find(i => {\n      const newFileName = i.binary?.data?.fileName;\n      return newFileName === githubFileName;\n    });\n    \n    let needsUpdate = false;\n    \n    if (newItem) {\n      // Extract new content (base64)\n      let newContent = '';\n      if (newItem.binary?.data?.data) {\n        newContent = Buffer.from(newItem.binary.data.data, 'base64').toString('utf8');\n      }\n      \n      // Extract old content (base64 from GitHub)\n      let oldContent = '';\n      if (githubContent) {\n        oldContent = Buffer.from(githubContent, 'base64').toString('utf8');\n      }\n      \n      if (newContent && oldContent) {\n        try {\n          const newJson = JSON.parse(newContent);\n          const oldJson = JSON.parse(oldContent);\n          \n          const newStr = JSON.stringify(newJson);\n          const oldStr = JSON.stringify(oldJson);\n          \n          needsUpdate = (newStr !== oldStr);\n          console.log(`[${index}] JSON comparison: Changed=${needsUpdate}`);\n        } catch (parseError) {\n          // String comparison fallback\n          needsUpdate = (newContent !== oldContent);\n          console.log(`[${index}] String comparison: Changed=${needsUpdate}`);\n        }\n      } else {\n        console.log(`[${index}] Missing content: new=${!!newContent}, old=${!!oldContent}`);\n      }\n    } else {\n      console.log(`[${index}] No match found for: ${githubFileName}`);\n    }\n    \n    console.log(`[${index}] Result: ${githubFileName} - Changed: ${needsUpdate}`);\n    \n    // Create output object with binary data\n    const output = {\n      json: {\n        needsUpdate: needsUpdate,\n        fileName: githubFileName,\n        matchFound: !!newItem\n      },\n      binary: {\n        data: {\n          fileName: githubFileName,\n          data: githubContent\n        }\n      }\n    };\n    \n    // Use new item's binary for upload if match found\n    if (newItem?.binary) {\n      output.binary = newItem.binary;\n    }\n    \n    return output;\n  } catch (error) {\n    console.log(`Error at item ${index}: ${error.message}`);\n    // Return minimal valid output\n    return {\n      json: {\n        needsUpdate: false,\n        error: error.message\n      }\n    };\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,2720],"id":"09a4c672-b785-4006-a19f-6c6dc612f659","name":"Code in JavaScript"},{"parameters":{"url":"=https://api.github.com/repos/shrinivasv11/n8n-workflow-backup-new/contents/{{ $binary.data.fileName }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1232,2320],"id":"fdb6f892-cfa5-42ab-9b6d-a3e42b461dee","name":"HTTP Request","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date2","type":"main","index":0}]]},"Set date2":{"main":[[{"node":"Format date2","type":"main","index":0}]]},"Format date2":{"main":[[{"node":"Set commit date2","type":"main","index":0}]]},"Set commit date2":{"main":[[{"node":"List files from repository [GITHUB]2","type":"main","index":0}]]},"List files from repository [GITHUB]2":{"main":[[{"node":"Combine file names [GITHUB]2","type":"main","index":0}]]},"Combine file names [GITHUB]2":{"main":[[{"node":"Retrieve workflows [N8N]2","type":"main","index":0}]]},"Retrieve workflows [N8N]2":{"main":[[{"node":"Move JSON to binary3","type":"main","index":0}]]},"Move JSON to binary3":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Split to single items2":{"main":[[{"node":"Check if file exists in repository2","type":"main","index":0}]]},"Check if file exists in repository2":{"main":[[{"node":"Get existing file content [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]2","type":"main","index":0}]]},"Get existing file content [GITHUB]1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Has changes?1":{"main":[[{"node":"Update file [GITHUB]2","type":"main","index":0}],[{"node":"No changes1","type":"main","index":0}]]},"Update file [GITHUB]2":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Upload file [GITHUB]2":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"No changes1":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Has changes?1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9eca24ab-39ac-4c4c-aa09-505d5e11fd1e","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T12:10:17.446Z","createdAt":"2025-11-27T12:10:17.446Z","role":"workflow:owner","workflowId":"ez0MYcwN92Vdbja1","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}