backup-n8n-workflows-UROE3Nmoj1RUOXrT.json
{"updatedAt":"2025-11-27T07:15:11.465Z","createdAt":"2025-11-26T09:13:35.913Z","id":"UROE3Nmoj1RUOXrT","name":"Backup n8n workflows","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8d44b4f8-cc41-498b-934a-43efa77fd841","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,1632]},{"parameters":{"options":{}},"id":"17bac505-7698-4562-970f-065b75aa4680","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[16,480]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"42725614-9624-48e3-aee0-1da9190fcfea","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[224,480]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"557d2cbe-1b58-4f72-8fa6-a411996f7147","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[416,480]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"="},"id":"6b9edaee-6eb6-418e-9e7f-ca8b36683d01","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[624,480],"alwaysOutputData":true,"webhookId":"2906544a-8b0b-4ff3-a6bf-49a7e9dc691b","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"84237079-368d-4f40-acdd-7e6ad809ea6c","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[816,480]},{"parameters":{"filters":{},"requestOptions":{}},"id":"9abac0af-3489-4e6e-bb99-027326bf08b2","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1024,480],"credentials":{"n8nApi":{"id":"5vKfGIt4m3vYMFQO","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"389e2b55-e476-4383-b90e-0fb15d1c292e","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1216,480]},{"parameters":{"batchSize":1,"options":{}},"id":"66e96dcc-4fed-4e0d-8080-579a0f1d3a90","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1456,480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"661fd5ef-4a9a-4400-9e8e-7834beb06093","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1696,400]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"6747d8ad-feae-4ee0-8990-00f37eacc47c","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1920,208],"webhookId":"06deee28-ba83-4b69-8ab0-8f5ac1455c95","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"eda03361-ff6d-4e03-9107-bd523b5241a4","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1920,608],"webhookId":"5c216a75-a254-4c76-903f-4daf865ae95f","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"4a782f0b-d6a5-4a39-885b-5e433d0d3c1d","name":"Get existing file content [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[160,1408],"webhookId":"aaa38c73-558e-427e-8ec1-f0267943c8aa","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"functionCode":"return items.map(item => {\n  const newBase64 = item.binary.data?.data;\n  const oldBase64 = item.json.content || '';\n  let needsUpdate = true;\n  try {\n    if (oldBase64 && newBase64) {\n      const newStr = Buffer.from(newBase64, 'base64').toString('utf8');\n      const oldStr = Buffer.from(oldBase64, 'base64').toString('utf8');\n      needsUpdate = newStr !== oldStr;\n    }\n  } catch (error) {\n    needsUpdate = true;\n  }\n  item.json.needsUpdate = needsUpdate;\n  return item;\n});"},"id":"3d013b7f-e99a-4a62-a759-923cf5d8b288","name":"Compare file content","type":"n8n-nodes-base.function","typeVersion":1,"position":[384,1408]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needsUpdate }}"}]}},"id":"72246e34-7e5c-4a32-8016-2a06a703cce8","name":"Has changes?","type":"n8n-nodes-base.if","typeVersion":1,"position":[608,1408]},{"parameters":{"values":{"string":[],"number":[],"boolean":[],"array":[],"object":[]},"options":{}},"id":"c6e3b594-0612-4656-8184-24693197442e","name":"No changes","type":"n8n-nodes-base.set","typeVersion":2,"position":[736,1744]},{"parameters":{"options":{}},"id":"4771f5d3-1bc3-4368-89b4-87705201d060","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1840,1632]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6b5107c9-33b5-42dc-be9d-5f723e386f3a","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1632,1632]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"724f3f34-6cb6-4536-9e69-c7e0109d402e","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1440,1632]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"="},"id":"8f35bf6c-d936-4c02-a333-0b0ad96c7027","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1232,1632],"alwaysOutputData":true,"webhookId":"2906544a-8b0b-4ff3-a6bf-49a7e9dc691b","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"ed2b4d4f-d678-4ca6-9bf4-30ea7dc1fb4a","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1040,1632]},{"parameters":{"filters":{},"requestOptions":{}},"id":"a948d827-1608-488b-a73f-2a3b2581889f","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-832,1632],"credentials":{"n8nApi":{"id":"5vKfGIt4m3vYMFQO","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"1e6d7bbf-307c-4f10-befc-57d737105888","name":"Move JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-640,1632]},{"parameters":{"batchSize":1,"options":{}},"id":"3dae179d-b406-44b0-8057-1f8e0aca4c02","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-400,1632]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ee7a36f7-7ada-456b-a8f3-387b194a7336","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,1552]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"3d9fd739-b099-43d3-a2a1-000781499bb2","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[864,1136],"webhookId":"06deee28-ba83-4b69-8ab0-8f5ac1455c95","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/shrinivasv11/n8n-workflow-backup-new","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflow-backup-new","mode":"list","cachedResultName":"n8n-workflow-backup-new","cachedResultUrl":"https://github.com/shrinivasv11/n8n-workflow-backup-new"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"edcb1ce8-a77b-47fb-85b8-b8b99b038131","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[208,1664],"webhookId":"5c216a75-a254-4c76-903f-4daf865ae95f","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date1","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Get existing file content [GITHUB]":{"main":[[{"node":"Compare file content","type":"main","index":0}]]},"Compare file content":{"main":[[{"node":"Has changes?","type":"main","index":0}]]},"Has changes?":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"No changes","type":"main","index":0}]]},"No changes":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Move JSON to binary1","type":"main","index":0}]]},"Move JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Get existing file content [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"66895b9b-e80c-4d3c-8d33-44f6e2c7f5b1","triggerCount":0,"shared":[{"updatedAt":"2025-11-26T09:13:35.913Z","createdAt":"2025-11-26T09:13:35.913Z","role":"workflow:owner","workflowId":"UROE3Nmoj1RUOXrT","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}