backup-n8n-workflows-main-account-BBmu75kcDDQa5wwh.json
{"updatedAt":"2025-12-02T06:03:14.553Z","createdAt":"2025-11-28T07:15:26.631Z","id":"BBmu75kcDDQa5wwh","name":"Backup n8n workflows main account","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"6ba4e9ee-10e3-4e78-b3e6-77ea90ebf024","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3104,2784]},{"parameters":{"options":{}},"id":"e620e68f-41c8-4b3c-b957-5ac7b8f6a5ff","name":"Set date2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2800,2960]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2210772b-0940-4d6d-9c15-63a5f6478054","name":"Format date2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2592,2960]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0226cee6-5c14-42df-9690-1c7d4d268d5a","name":"Set commit date2","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2400,2960]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ashedge/n8n-workflows","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashedge/n8n-workflows"},"filePath":"="},"id":"fabed4a8-6dd3-424c-9ceb-672b85bbb9d0","name":"List files from repository [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2192,2960],"alwaysOutputData":true,"webhookId":"360c74df-87e6-4959-b1c4-9f83a745687e","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"6345c836-1630-4029-8bd3-399fbf9a0d9e","name":"Combine file names [GITHUB]2","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2000,2960]},{"parameters":{"filters":{},"requestOptions":{}},"id":"641019cf-9e9b-4d5c-a7d6-b2c727aa74da","name":"Retrieve workflows [N8N]2","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1792,2960],"credentials":{"n8nApi":{"id":"5vKfGIt4m3vYMFQO","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"cfd802bc-8179-4495-b0ac-10a8ec85e538","name":"Move JSON to binary3","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1584,2960]},{"parameters":{"batchSize":1,"options":{}},"id":"836e3034-4148-4e17-8487-fda54fa17d1d","name":"Split to single items2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1360,2960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]2'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"8fb46194-e235-4a84-854e-94d023856bb3","name":"Check if file exists in repository2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1120,2880]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/ashedge/n8n-workflows","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashedge/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"fdc42ad1-0044-4505-93b2-d87582a75711","name":"Get existing file content [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-912,2736],"webhookId":"c4436837-1771-47e2-8bae-79b6f080d144","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needsUpdate }}","value2":"={{ true }}"}]}},"id":"24704d90-c289-407d-baa1-d67c2a4f4147","name":"Has changes?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-400,2736]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ashedge/n8n-workflows","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashedge/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=Update-{{ $json.fileName }}-{{ $node['Set commit date2'].json.commitDate }}"},"id":"0f32145e-ec6b-42f3-ae21-aad78747ed51","name":"Update file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[96,2368],"webhookId":"0e06b15d-a76a-4b00-adc7-6d1814bb839c","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ashedge/n8n-workflows","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashedge/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $binary.data.fileName }}-{{ $node['Set commit date2'].json.commitDate }}"},"id":"31f3430f-3d7b-4885-b06a-6e3e470e21c5","name":"Upload file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[-544,2992],"webhookId":"eb9ba245-7e15-40a8-bfdf-a293aa079a2f","credentials":{"githubOAuth2Api":{"id":"BF3iAlyJXX4rkzP3","name":"GitHub OAuth"}}},{"parameters":{"values":{"string":[],"number":[],"boolean":[],"array":[],"object":[]},"options":{}},"id":"9461309e-b8db-4d94-b6b1-affb9ec08fea","name":"No changes1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-224,3072]},{"parameters":{"jsCode":"// All new workflow files (from Move JSON to binary3)\nconst newItems = $('Move JSON to binary3').all();\n\n// Get all input items from HTTP node\nconst allInputs = $input.all();\n\nconsole.log('Total input items:', allInputs.length);\n\n// Process each input item\nreturn allInputs.map((item, index) => {\n  try {\n    let githubFileName = '';\n    let githubContent = '';\n    \n    // Since we only have binary data, extract from there\n    if (item.binary?.data?.fileName) {\n      githubFileName = item.binary.data.fileName;\n    }\n    \n    if (item.binary?.data?.data) {\n      githubContent = item.binary.data.data;\n    }\n    \n    console.log(`[${index}] Processing: ${githubFileName}`);\n    \n    // Find matching new workflow\n    const newItem = newItems.find(i => {\n      const newFileName = i.binary?.data?.fileName;\n      return newFileName === githubFileName;\n    });\n    \n    let needsUpdate = false;\n    \n    if (newItem) {\n      // Extract new content (base64)\n      let newContent = '';\n      if (newItem.binary?.data?.data) {\n        newContent = Buffer.from(newItem.binary.data.data, 'base64').toString('utf8');\n      }\n      \n      // Extract old content (base64 from GitHub)\n      let oldContent = '';\n      if (githubContent) {\n        oldContent = Buffer.from(githubContent, 'base64').toString('utf8');\n      }\n      \n      if (newContent && oldContent) {\n        try {\n          const newJson = JSON.parse(newContent);\n          const oldJson = JSON.parse(oldContent);\n          \n          const newStr = JSON.stringify(newJson);\n          const oldStr = JSON.stringify(oldJson);\n          \n          needsUpdate = (newStr !== oldStr);\n          console.log(`[${index}] JSON comparison: Changed=${needsUpdate}`);\n        } catch (parseError) {\n          // String comparison fallback\n          needsUpdate = (newContent !== oldContent);\n          console.log(`[${index}] String comparison: Changed=${needsUpdate}`);\n        }\n      } else {\n        console.log(`[${index}] Missing content: new=${!!newContent}, old=${!!oldContent}`);\n      }\n    } else {\n      console.log(`[${index}] No match found for: ${githubFileName}`);\n    }\n    \n    console.log(`[${index}] Result: ${githubFileName} - Changed: ${needsUpdate}`);\n    \n    // Create output object with binary data\n    const output = {\n      json: {\n        needsUpdate: needsUpdate,\n        fileName: githubFileName,\n        matchFound: !!newItem\n      },\n      binary: {\n        data: {\n          fileName: githubFileName,\n          data: githubContent\n        }\n      }\n    };\n    \n    // Use new item's binary for upload if match found\n    if (newItem?.binary) {\n      output.binary = newItem.binary;\n    }\n    \n    return output;\n  } catch (error) {\n    console.log(`Error at item ${index}: ${error.message}`);\n    // Return minimal valid output\n    return {\n      json: {\n        needsUpdate: false,\n        error: error.message\n      }\n    };\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,2720],"id":"b977ed97-7812-4cae-9139-d060c0a05042","name":"Code in JavaScript"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date2","type":"main","index":0}]]},"Set date2":{"main":[[{"node":"Format date2","type":"main","index":0}]]},"Format date2":{"main":[[{"node":"Set commit date2","type":"main","index":0}]]},"Set commit date2":{"main":[[{"node":"List files from repository [GITHUB]2","type":"main","index":0}]]},"List files from repository [GITHUB]2":{"main":[[{"node":"Combine file names [GITHUB]2","type":"main","index":0}]]},"Combine file names [GITHUB]2":{"main":[[{"node":"Retrieve workflows [N8N]2","type":"main","index":0}]]},"Retrieve workflows [N8N]2":{"main":[[{"node":"Move JSON to binary3","type":"main","index":0}]]},"Move JSON to binary3":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Split to single items2":{"main":[[{"node":"Check if file exists in repository2","type":"main","index":0}]]},"Check if file exists in repository2":{"main":[[{"node":"Get existing file content [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]2","type":"main","index":0}]]},"Get existing file content [GITHUB]1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Has changes?1":{"main":[[{"node":"Update file [GITHUB]2","type":"main","index":0}],[{"node":"No changes1","type":"main","index":0}]]},"Update file [GITHUB]2":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Upload file [GITHUB]2":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"No changes1":{"main":[[{"node":"Split to single items2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Has changes?1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48e4ac11-bd15-4226-926b-91f1240eb69f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T07:15:26.631Z","createdAt":"2025-11-28T07:15:26.631Z","role":"workflow:owner","workflowId":"BBmu75kcDDQa5wwh","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":null,"tags":[]}