email-automation-RMRWvNrw1GZHtXd8.json
{"updatedAt":"2025-10-31T05:48:14.578Z","createdAt":"2025-10-31T05:43:57.990Z","id":"RMRWvNrw1GZHtXd8","name":"Email-automation","active":false,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[528,448],"id":"80020674-001c-4f78-9938-bc6c8cb6742b","name":"Send email","webhookId":"35901c2b-3018-4d09-b70f-0dbb835ddeac","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1728,336],"id":"298940ed-1aff-4baf-8ddd-d4769efcaa39","name":"When clicking ‘Test workflow’"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[832,528],"id":"9a41f900-658e-4e86-83b9-7d7f80667156","name":"Wait","webhookId":"59d0e464-9eef-4147-9d07-e283193ed822"},{"parameters":{"jsCode":"// Get Perplexity response (usually an array)\nconst data = items[0].json;\n\n// Get message content safely\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\n// 🧹 Clean Markdown formatting like ```json ... ```\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\n// Try parsing the JSON\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  // Try to extract JSON substring manually if needed\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\n// ✅ Return clean structured output\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,192],"id":"fae03384-cae6-4693-a145-83d8e64e0385","name":"Extract subject/body"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[224,272],"id":"1500bbbf-1e73-4673-8632-9fe205d33f23","name":"Combine Subject/body & name/email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1008,416],"id":"44f7d46b-a40b-472a-9b9e-df9dde6692ba","name":"Check email send status"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[912,144],"id":"db2594ec-4005-41a1-b628-1f2a518b4d4f","name":"Combine data from previous node &  gmail"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,416],"id":"ecf827ff-c994-4e32-83e3-c5d23c2a7ed5","name":"Batch Email Processor"},{"parameters":{"messages":{"message":[{"content":"=You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\n- Campaign name: {{$json.CampaignName || \"Product Launch\" }}\n- Target audience: {{ \"busy professionals and entrepreneurs\" }}\n- Sector: {{ $('Batch Email Processor').item.json.Sector || \"General\" }}\n- Goal: {{ $json.goal || \"Boost brand awareness\" }}\n- Tone: {{ \"friendly and persuasive\" }}\n- Personalization: The recipient's name is {{ $('Batch Email Processor').item.json.Name || \"there\" }}\n- Company: {{ $('Batch Email Processor').item.json.Company || \"Our Brand Partners\" }}\n- Company's Website: {{ $('Batch Email Processor').item.json.Website || \"N/A\" }} (Add this as hyperlink)\n- Country: {{ $('Batch Email Processor').item.json.Country || \"Global\" }}\n\nRequirements:\n1. The subject should be catchy (under 10 words).\n2. The email body should be 100–150 words, formatted in HTML with <p> tags.\n3. Include a clear call-to-action (CTA) link or button text.\n4. Do not include placeholders like [Name] or [Product]; use the provided data.\n5. Return only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-256,-32],"id":"7366f630-f47e-435a-9fec-e4e0609f860d","name":"AI Email Generator (Perplexity)","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"operation":"getAll","tableId":"email_list"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1440,352],"id":"3705ef08-e8c8-4fb9-abd5-bb1c22fc609a","name":"Data/Database2"},{"parameters":{"jsCode":"// This function will iterate over every item passed to the Code node\nfor (const item of items) {\n    // Access the response string from the current item's JSON data\n    const response = item.json.response;\n    \n    let status = \"FAILED\"; // Default status is FAILED\n    \n    // Check if the response string exists and starts with \"250 Ok\" (case-insensitive)\n    if (response && response.toLowerCase().startsWith(\"250 ok\")) {\n        status = \"SENT\";\n    }\n    \n    // Create the new item with only the \"Status\" field\n    // You can also include original fields if needed, but for simplicity, we return only the status.\n    return [\n        {\n            json: {\n                Status: status\n            }\n        }\n    ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,384],"id":"310672f6-2ece-48c7-96f1-4fa958f50776","name":"Code in JavaScript"},{"parameters":{"operation":"getAll","tableId":"email_list"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,80],"id":"e1030e04-5643-4c80-8fd9-f3177b20ecc1","name":"Partner Company Data1"},{"parameters":{"operation":"update","tableId":"email_list","filters":{"conditions":[{"keyName":"Email","condition":"ilike","keyValue":"={{ $json.Email }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Status","fieldValue":"={{ $json.Status }}"},{"fieldId":"SentOn","fieldValue":"={{new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n}) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1136,272],"id":"ba6a9c20-bf1a-4cfb-aab3-af72e1593296","name":"Update Send Status1"}],"connections":{"Send email":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Data/Database2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Extract subject/body":{"main":[[{"node":"Combine Subject/body & name/email","type":"main","index":0}]]},"Combine Subject/body & name/email":{"main":[[{"node":"Combine data from previous node &  gmail","type":"main","index":0},{"node":"Send email","type":"main","index":0}]]},"Check email send status":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Combine data from previous node &  gmail":{"main":[[{"node":"Update Send Status1","type":"main","index":0}]]},"Batch Email Processor":{"main":[[],[{"node":"Combine Subject/body & name/email","type":"main","index":1},{"node":"Partner Company Data1","type":"main","index":0}]]},"AI Email Generator (Perplexity)":{"main":[[{"node":"Extract subject/body","type":"main","index":0}]]},"Data/Database2":{"main":[[{"node":"Check email send status","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Combine data from previous node &  gmail","type":"main","index":1}]]},"Partner Company Data1":{"main":[[{"node":"AI Email Generator (Perplexity)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f837a2f-b8a2-49c9-b602-d74ac72751a1","triggerCount":0,"shared":[{"updatedAt":"2025-10-31T05:43:57.990Z","createdAt":"2025-10-31T05:43:57.990Z","role":"workflow:owner","workflowId":"RMRWvNrw1GZHtXd8","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}