email-automation-gemini-mailgun-webhook-edVzEeXR5aMCeAkL.json
{"updatedAt":"2025-11-04T10:08:37.520Z","createdAt":"2025-11-03T06:12:58.535Z","id":"edVzEeXR5aMCeAkL","name":"email-automation-gemini-mailgun-webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[912,64],"id":"08b2d154-a764-4de0-b86e-97977c14d5dd","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,224],"id":"73db42bf-af03-4cf2-a5df-169ce40c1a8c","name":"Extract Subject/Body"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  return lines.slice(1)\n    .filter(line => line.trim())\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') {\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,176],"id":"6575ceb8-43cf-42fb-ae93-849ec8b18a81","name":"Parse CSV File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,144],"id":"d16885a4-1960-4623-a08c-7c70dc01498d","name":"Filter Unsent Emails"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-240,32],"id":"bfb9fec0-2bea-4efd-8326-1c5fe2da2a3e","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.Email) // Only include items with email addresses\n  .map(item => ({\n    //Id: item.Id || '',\n    Name: item.Name || '',\n    Email: item.Email || '',\n    Company: item.Company || '',\n    // Website: item.Website || '',\n    Sector: item.Sector || '',\n    Country: item.Country || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || '',\n    //Subject: item.Subject || '',\n   // Body: item.Body || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,32],"id":"c9e1375a-ded4-4799-a0dc-2c0c231cb692","name":"Format Final Response"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,256],"id":"8c9887bf-dbc7-44da-b638-1b8fee20400e","name":"Batch Email Processor"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\nData Inputs:\n\n- Campaign Name: {{$json.CampaignName || \"Product Launch\"}}\n\n- Target Audience: Professionals\n\n- Sector: {{$json.Sector || \"General\"}}\n\n- Goal: {{$json.goal || \"Boost brand awareness\"}}\n\n- Tone: friendly and persuasive\n\n- Recipient Name: {{$json.Name || \"there\"}} (employee of {{$json.Company || \"Our Brand Partners\"}})\n\n- ToCompany: {{$json.Company || \"Our Brand Partners\"}}\n\n- FromCompany: {{$json.FromCompany}}\n\n- FromCompany Website: {{$json.FromCompanyWebsite || \"N/A\"}} (add as a clickable hyperlink)\n\n- Country: {{$json.Country || \"Global\"}}\n\nEmail Requirements:\n\n1. Create a catchy subject line (under 10 words).\n\n2. Write a 100–150 word body in HTML format using <p> tags.\n\n3. Use a friendly and persuasive tone tailored to busy professionals.\n\n4. Include one clear call-to-action (CTA) as a clickable link or button text.\n\n5. Do not use placeholders like [Name] — instead, use the provided data or defaults.\n\n6. The final output must be valid JSON only, with this structure:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}\n\n7. The output must contain no markdown, no explanations, and no extra text — only the valid JSON object.\n\n8. End with a polite sign-off with {{ $json.FromCompany }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-80,192],"id":"180353b9-b3a0-43cc-a5cf-e035f572e174","name":"AI Email Generator","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[624,336],"id":"4afdacf7-7538-4c75-9418-a715b7bc38b8","name":"Merge Email Data"},{"parameters":{"jsCode":"const response = $input.first().json.message || '';\nlet status = \"FAILED\";\n\n// if (response && typeof response === 'string' && response.toLowerCase().startsWith(\"250 ok\")) {\n//     status = \"SENT\";\n// }\n\nif (response && typeof response === 'string' && response.toLowerCase().startsWith(\"queued\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get original CSV data from the batch\nconst originalData = $('Batch Email Processor').item.json;\n\nreturn [\n  {\n    json: {\n      Name: originalData.Name || '',\n      Email: originalData.Email || '',\n      Company: originalData.Company || '',\n      Website: originalData.Website || '',\n      Sector: originalData.Sector || '',\n      Country: originalData.Country || '',\n      Status: status,\n      SentOn: sentOn,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,336],"id":"06bf7818-f0ed-4058-b2a2-1c0c34242178","name":"Update Status & Format"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,736],"id":"7ee827b8-6210-428f-afe6-d25f793a4a04","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1296,48],"id":"5a6ab9e3-0af3-44ff-bb23-5f150add7fdb","name":"Webhook Trigger","webhookId":"email-campaign-webhook"},{"parameters":{"fromEmail":"noreply@uxboost.ai","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","text":"=","html":"={{ $json.Body }}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[912,336],"id":"458be1e2-101b-4278-be5b-0a904b0d1e6e","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"promptType":"define","text":"Write a marketing email for the following campaign details:\n\nData Inputs:\n\n- Campaign Name: {{$json.CampaignName || \"Product Launch\"}}\n\n- Target Audience: Professionals\n\n- Sector: {{$json.Sector || \"General\"}}\n\n- Goal: {{$json.goal || \"Boost brand awareness\"}}\n\n- Tone: friendly and persuasive\n\n- Recipient Name: {{$json.Name || \"there\"}} (employee of {{$json.Company || \"Our Brand Partners\"}})\n\n- ToCompany: {{$json.Company || \"Our Brand Partners\"}}\n\n- FromCompany: {{$json.FromCompany}}\n\n- FromCompany Website: {{$json.FromCompanyWebsite || \"N/A\"}} (add as a clickable hyperlink)\n\n- Country: {{$json.Country || \"Global\"}}\n\nEmail Requirements:\n\n1. Create a catchy subject line (under 10 words).\n\n2. Write a 100–150 word body in HTML format using <p> tags.\n\n3. Use a friendly and persuasive tone tailored to busy professionals.\n\n4. Include one clear call-to-action (CTA) as a clickable link or button text.\n\n5. Do not use placeholders like [Name] — instead, use the provided data or defaults.\n\n6. The final output must be valid JSON only, with this structure:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}\n\n7. The output must contain no markdown, no explanations, and no extra text — only the valid JSON object.\n\n8. End with a polite sign-off with {{ $json.FromCompany }}","options":{"systemMessage":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[224,-464],"id":"271ce6c5-0148-4d2b-9092-985c14349f31","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[416,-176],"id":"29e2370f-940e-49e4-b2fc-a40ab8453c58","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"OzLwZ30z89EJDRtH","name":"OpenRouter account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-pro-preview-03-25","mode":"list","cachedResultName":"models/gemini-2.5-pro-preview-03-25"},"messages":{"values":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.","role":"model"},{"content":"=Write a marketing email for the following campaign details:\n\nData Inputs:\n\n- Campaign Name: {{$json.CampaignName || \"Product Launch\"}}\n\n- Target Audience: Professionals\n\n- Sector: {{$json.Sector || \"General\"}}\n\n- Goal: {{$json.goal || \"Boost brand awareness\"}}\n\n- Tone: friendly and persuasive\n\n- Recipient Name: {{$json.Name || \"there\"}} (employee of {{$json.Company || \"Our Brand Partners\"}})\n\n- ToCompany: {{$json.Company || \"Our Brand Partners\"}}\n\n- FromCompany: {{$json.FromCompany}}\n\n- FromCompany Website: {{$json.FromCompanyWebsite || \"N/A\"}} (add as a clickable hyperlink)\n\n- Country: {{$json.Country || \"Global\"}}\n\nEmail Requirements:\n\n1. Create a catchy subject line (under 10 words).\n\n2. Write a 100–150 word body in HTML format using <p> tags.\n\n3. Use a friendly and persuasive tone tailored to busy professionals.\n\n4. Include one clear call-to-action (CTA) as a clickable link or button text.\n\n5. Do not use placeholders like [Name] — instead, use the provided data or defaults.\n\n6. The final output must be valid JSON only, with this structure:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}\n\n7. The output must contain no markdown, no explanations, and no extra text — only the valid JSON object.\n\n8. End with a polite sign-off with {{ $json.FromCompany }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-576,-384],"id":"6973c635-1699-4379-bf33-cdabc38854f1","name":"Message a model","credentials":{"googlePalmApi":{"id":"Nid4wp84YtQyv5FL","name":"shrinivas-gemini-api-key"}}}],"connections":{"Send Email":{"main":[[]]},"Extract Subject/Body":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Filter Unsent Emails","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Batch Email Processor":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Merge Email Data","type":"main","index":1},{"node":"AI Email Generator","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"AI Email Generator":{"main":[[{"node":"Extract Subject/Body","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Mailgun","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]},"Mailgun":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c50ab36f-c66c-48ff-824c-44cc9c821aff","triggerCount":1,"shared":[{"updatedAt":"2025-11-03T06:12:58.535Z","createdAt":"2025-11-03T06:12:58.535Z","role":"workflow:owner","workflowId":"edVzEeXR5aMCeAkL","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}