email-automation-final-webhook-u55stgOMa6lox1uD.json
{"updatedAt":"2025-11-10T09:52:17.289Z","createdAt":"2025-10-31T07:30:33.668Z","id":"u55stgOMa6lox1uD","name":"email-automation-final-webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1968,2352],"id":"df4ce717-5c9c-4130-abda-9d90893ffecf","name":"Webhook Trigger","webhookId":"email-campaign-webhook"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[320,2368],"id":"ea6cfc00-6235-46fd-9608-679f61ecdeca","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,2256],"id":"a3db6b56-686f-43a3-a238-cad82e2e5c31","name":"Extract Subject/Body"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  return lines.slice(1)\n    .filter(line => line.trim())\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') {\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,2352],"id":"3aae33a5-cab0-404d-b6af-d13a1f44b9bc","name":"Parse CSV File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,2176],"id":"d1d9ec80-1835-4195-a415-8241935f0842","name":"Filter Unsent Emails"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-832,2064],"id":"5e8312d4-7517-4ab5-96e3-669393653a6b","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.Email) // Only include items with email addresses\n  .map(item => ({\n    //Id: item.Id || '',\n    Name: item.Name || '',\n    Email: item.Email || '',\n    Company: item.Company || '',\n    // Website: item.Website || '',\n    Sector: item.Sector || '',\n    Country: item.Country || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || '',\n    //Subject: item.Subject || '',\n   // Body: item.Body || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,2064],"id":"961339b9-d89e-4ceb-ae28-e6444f10d9f3","name":"Format Final Response"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1152,2288],"id":"61ebc229-f569-462d-a175-c884ade8f65f","name":"Batch Email Processor"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\nData Inputs:\n\n- Campaign Name: {{$json.CampaignName || \"Product Launch\"}}\n\n- Target Audience: Professionals\n\n- Sector: {{$json.Sector || \"General\"}}\n\n- Goal: {{$json.goal || \"Boost brand awareness\"}}\n\n- Tone: friendly and persuasive\n\n- Recipient Name: {{$json.Name || \"there\"}} (employee of {{$json.Company || \"Our Brand Partners\"}})\n\n- ToCompany: {{$json.Company || \"Our Brand Partners\"}}\n\n- FromCompany: {{$json.FromCompany}}\n\n- FromCompany Website: {{$json.FromCompanyWebsite || \"N/A\"}} (add as a clickable hyperlink)\n\n- Country: {{$json.Country || \"Global\"}}\n\nEmail Requirements:\n\n1. Create a catchy subject line (under 10 words).\n\n2. Write a 100–150 word body in HTML format using <p> tags.\n\n3. Use a friendly and persuasive tone tailored to busy professionals.\n\n4. Include one clear call-to-action (CTA) as a clickable link or button text.\n\n5. Do not use placeholders like [Name] — instead, use the provided data or defaults.\n\n6. The final output must be valid JSON only, with this structure:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}\n\n7. The output must contain no markdown, no explanations, and no extra text — only the valid JSON object.\n\n8. End with a polite sign-off with {{ $json.FromCompany }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-560,2240],"id":"be892e90-8941-4fd4-93ec-44f6bbedb4b1","name":"AI Email Generator","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[32,2368],"id":"482f61bb-c16b-400c-ac69-969409b858b4","name":"Merge Email Data"},{"parameters":{"jsCode":"const response = items[0].json.response || '';\nlet status = \"FAILED\";\n\nif (response && typeof response === 'string' && response.toLowerCase().startsWith(\"250 ok\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get original CSV data from the batch\nconst originalData = $('Batch Email Processor').item.json;\n\nreturn [\n  {\n    json: {\n      // Id: originalData.Id || '',\n      Name: originalData.Name || '',\n      Email: originalData.Email || '',\n      Company: originalData.Company || '',\n      Website: originalData.Website || '',\n      Sector: originalData.Sector || '',\n      Country: originalData.Country || '',\n      Status: status,\n      SentOn: sentOn,\n      // Subject: items[0].json.Subject || '',\n      // Body: items[0].json.Body || ''\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,2368],"id":"7541d685-3108-45d6-9848-ee01e3fae6d1","name":"Update Status & Format"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,2768],"id":"5ee9e19a-1b80-4f0d-963b-0b1a47afc0de","name":"Wait","webhookId":"wait-webhook-001"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Extract Subject/Body":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Filter Unsent Emails","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Batch Email Processor":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"AI Email Generator","type":"main","index":0},{"node":"Merge Email Data","type":"main","index":1}]]},"AI Email Generator":{"main":[[{"node":"Extract Subject/Body","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"36670656-6e0e-4202-b951-c1745be2fec5","triggerCount":1,"shared":[{"updatedAt":"2025-10-31T07:30:33.668Z","createdAt":"2025-10-31T07:30:33.668Z","role":"workflow:owner","workflowId":"u55stgOMa6lox1uD","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}