get-email-logs-8Ti05XqLw69keNqf.json
{"updatedAt":"2025-12-09T11:05:40.949Z","createdAt":"2025-12-09T09:58:20.808Z","id":"8Ti05XqLw69keNqf","name":"Get Email Logs","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"email/getlogs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,0],"id":"be45b60a-690c-4e4e-acb1-e8f0d0a63045","name":"Webhook","webhookId":"19c49104-eea8-4d4d-bb11-f4c45b4bad63"},{"parameters":{"promptType":"define","text":"=You are a database assistant responsible for retrieving data from the 'messagelogs' table in Supabase. ALWAYS check if the search_message_logs tool can answer the user's request before replying with text. If you are unsure, try the tool first.\n\nuser input :- {{ $json.body.command }}\n\nFollow these STRICT rules for every request:\n\n1. **Date Calculation & Formatting:**\n   - You CANNOT send SQL logic (like `now()`, `interval`, or `DATE()`) to the tool.\n   - You MUST calculate relative dates yourself based on the current time (e.g., if the user says \"10 days ago\", calculate the specific date and time).\n   - **Timezone Constraint:** When passing date values to filters (e.g., `created_at`), format them as `YYYY-MM-DDTHH:mm:ss` (ISO-8601 without the 'Z' or timezone offset).\n     - CORRECT: \"2023-11-25T14:30:00\"\n     - INCORRECT: \"2023-11-25T14:30:00Z\" or \"2023-11-25T14:30:00+00:00\"\n\n2. **Default Limits:**\n   - If the user does not explicitly specify how many records to retrieve, you MUST set the `limit` parameter to 10.\n   - If the user specifies a number, use that number.\n\n3. **Filter Mapping:**\n   - Use the `Get_many_rows_in_Supabase` tool.\n   - Map `created_at` filters using the operator `gte` (Greater Than or Equal) for \"since\" or \"last X days\" queries.\n   - Map `email` or other text columns using `ilike` or `eq` as appropriate.\n\nExample scenario:\nUser: \"Show me logs from the last 2 days.\"\nYour Action: Calculate the date for 48 hours ago (e.g., 2023-10-25T10:00:00), strip the 'Z', set limit to 10, and call the tool with `created_at` `gte` that value.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-80,0],"id":"383ca956-c76a-4389-a497-f22fe164de7b","name":"AI Agent"},{"parameters":{"operation":"getAll","tableId":"messagelogs","returnAll":true,"filterType":"string","filterString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filters__String_', ``, 'string') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[16,144],"id":"ece5bef8-71c8-4be1-901f-befc809d8152","name":"search_message_logs","credentials":{"supabaseApi":{"id":"MXdtZTvdFmQfml81","name":"Supabase account - Shubham"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-80,144],"id":"4c3d58f3-c803-4c7a-ae0e-5b993dffd532","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,0],"id":"50200297-5774-4bd4-bf3b-1cb856848402","name":"Respond to Webhook"},{"parameters":{"jsonSchemaExample":"[{\n\t\"firstname\": \"California\",\n\t\"lastname\": \"\",\n    \"companyname\": \"\",\n  \"email\": \"\",\n  \"subject\": \"\",\n  \"body\": \"\",\n  \"senton\": \"\"\n}\n]","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-16,288],"id":"2f89b41a-52f3-44dc-b79c-b3cf92cce7fb","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-16,448],"id":"28851c9a-5158-4caa-a15e-1cb87ce14e73","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"search_message_logs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0814ee3d-6853-4438-a2bd-ee7235976033","activeVersionId":"0814ee3d-6853-4438-a2bd-ee7235976033","triggerCount":1,"shared":[{"updatedAt":"2025-12-09T09:58:20.808Z","createdAt":"2025-12-09T09:58:20.808Z","role":"workflow:owner","workflowId":"8Ti05XqLw69keNqf","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":{"updatedAt":"2025-12-11T11:32:04.260Z","createdAt":"2025-12-11T11:32:04.260Z","versionId":"0814ee3d-6853-4438-a2bd-ee7235976033","workflowId":"8Ti05XqLw69keNqf","nodes":[{"parameters":{"httpMethod":"POST","path":"email/getlogs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,0],"id":"be45b60a-690c-4e4e-acb1-e8f0d0a63045","name":"Webhook","webhookId":"19c49104-eea8-4d4d-bb11-f4c45b4bad63"},{"parameters":{"promptType":"define","text":"=You are a database assistant responsible for retrieving data from the 'messagelogs' table in Supabase. ALWAYS check if the search_message_logs tool can answer the user's request before replying with text. If you are unsure, try the tool first.\n\nuser input :- {{ $json.body.command }}\n\nFollow these STRICT rules for every request:\n\n1. **Date Calculation & Formatting:**\n   - You CANNOT send SQL logic (like `now()`, `interval`, or `DATE()`) to the tool.\n   - You MUST calculate relative dates yourself based on the current time (e.g., if the user says \"10 days ago\", calculate the specific date and time).\n   - **Timezone Constraint:** When passing date values to filters (e.g., `created_at`), format them as `YYYY-MM-DDTHH:mm:ss` (ISO-8601 without the 'Z' or timezone offset).\n     - CORRECT: \"2023-11-25T14:30:00\"\n     - INCORRECT: \"2023-11-25T14:30:00Z\" or \"2023-11-25T14:30:00+00:00\"\n\n2. **Default Limits:**\n   - If the user does not explicitly specify how many records to retrieve, you MUST set the `limit` parameter to 10.\n   - If the user specifies a number, use that number.\n\n3. **Filter Mapping:**\n   - Use the `Get_many_rows_in_Supabase` tool.\n   - Map `created_at` filters using the operator `gte` (Greater Than or Equal) for \"since\" or \"last X days\" queries.\n   - Map `email` or other text columns using `ilike` or `eq` as appropriate.\n\nExample scenario:\nUser: \"Show me logs from the last 2 days.\"\nYour Action: Calculate the date for 48 hours ago (e.g., 2023-10-25T10:00:00), strip the 'Z', set limit to 10, and call the tool with `created_at` `gte` that value.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-80,0],"id":"383ca956-c76a-4389-a497-f22fe164de7b","name":"AI Agent"},{"parameters":{"operation":"getAll","tableId":"messagelogs","returnAll":true,"filterType":"string","filterString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filters__String_', ``, 'string') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[16,144],"id":"ece5bef8-71c8-4be1-901f-befc809d8152","name":"search_message_logs","credentials":{"supabaseApi":{"id":"MXdtZTvdFmQfml81","name":"Supabase account - Shubham"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-80,144],"id":"4c3d58f3-c803-4c7a-ae0e-5b993dffd532","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,0],"id":"50200297-5774-4bd4-bf3b-1cb856848402","name":"Respond to Webhook"},{"parameters":{"jsonSchemaExample":"[{\n\t\"firstname\": \"California\",\n\t\"lastname\": \"\",\n    \"companyname\": \"\",\n  \"email\": \"\",\n  \"subject\": \"\",\n  \"body\": \"\",\n  \"senton\": \"\"\n}\n]","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-16,288],"id":"2f89b41a-52f3-44dc-b79c-b3cf92cce7fb","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-16,448],"id":"28851c9a-5158-4caa-a15e-1cb87ce14e73","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"search_message_logs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}