google-places-api---batch-place-details-Qcxu5LObFpnIGD2d.json
{"updatedAt":"2025-12-02T08:26:43.252Z","createdAt":"2025-11-28T09:55:57.092Z","id":"Qcxu5LObFpnIGD2d","name":"Google Places API - Batch Place Details","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1008,544],"id":"6e4d3df8-5de8-4273-b194-2649a80bede7","name":"When clicking 'Execute workflow'"},{"parameters":{"operation":"sort","options":{}},"name":"Loop Over Place IDs","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[176,-432],"id":"6e246f2c-d798-486d-85b3-a70cc5b4ef03"},{"parameters":{"jsCode":"// Define place IDs array\nconst placeIds = [\n  // \"ChIJ42G_EH7A1DsReWsZ89hkeqI\",\n  // \"ChIJnZtVpPLvDDkRE9EJy8rGeJg\",\n  // \"ChIJU_bGNubtDzkRLY6kzO-iH3I\",\n  // \"ChIJsb4w163B1DsR5v_B9t6iotk\",\n  // \"ChIJL1XsnM-LqKcRHB_y59FLnZs\",\n  // \"ChIJHWVqEObH5zsR5y7lb_7o8gI\",\n  // \"ChIJL2ksKCq25zsRgxmYLR0jDrw\",\n  // \"ChIJM2da8Uv7DDkRQXb7xfPmUK8\",\n  // \"ChIJb9B4cajiYjkR1HQe7FF0qjA\",\n  // \"ChIJ7wA5dTNxrzsREyRoCTrKda4\",\n  // \"ChIJsze0AFfuDzkRMVcse6xG3Cc\",\n  // \"ChIJo4JZwpoUrjsRrIGnOtImJUU\",\n  // \"ChIJ4eqe_YJhUjoRvPvrqCPLzNg\",\n  \"ChIJHfkzS64WrjsR8GDBUpBHrhY\",\n  \"ChIJvdqBsCkVrjsRAubsAQ7wrZs\",\n  \"ChIJH_KgjKzB1DsRtc07FItSR1A\",\n  \"ChIJ9ZJ7bkDH1DsRs4hRy_IDSwA\",\n  \"ChIJsaCrr7fB1DsR2Ncc9shWZlY\",\n  \"ChIJpYEMV_ERrjsRx-Hp6VgJglg\",\n  \"ChIJra4D01HB5zsRv_CR7O7lKIk\"\n];\n\n// Create items from place IDs\nreturn placeIds.map((placeId) => ({\n  json: {\n    placeId: placeId\n  }\n}));"},"name":"Place IDs1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-160],"id":"e64dab50-8801-4de7-9f89-fe3d0b7892a9"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.placeId }}&key=AIzaSyCk8GIZoFr_4tHuY5X-h77VCqCtgIj1Vs0&fields=name,formatted_address,formatted_phone_number,website,rating,user_ratings_total,business_status,type","options":{}},"name":"Get Place Details1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[288,-48],"id":"b28bd873-abf9-438b-b1c6-a2f798b35511"},{"parameters":{"functionCode":"return {\n  place_id: $json.result?.place_id || 'N/A',\n  name: $json.result?.name || 'N/A',\n  address: $json.result?.formatted_address || 'N/A',\n  phone: $json.result?.formatted_phone_number || 'N/A',\n  website: $json.result?.website || 'N/A',\n  rating: $json.result?.rating || 'N/A',\n  reviews: $json.result?.user_ratings_total || 0,\n  status: $json.result?.business_status || 'N/A',\n  retrieved_at: new Date().toISOString()\n};"},"name":"Transform Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[560,-48],"id":"21f6a36c-6048-467e-ba6c-5abacbc5c16e"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":452068262,"mode":"list","cachedResultName":"digital-marketing-agencies-india","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=452068262"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reviews","displayName":"reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"retrieved_at","displayName":"retrieved_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Append to Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[768,-48],"id":"3703fdd2-44d7-4446-b440-a55bcd137dac","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-32,-144],"id":"f0607a4e-c5b8-4c41-bf92-c3b31e6ca83f","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,560],"id":"ea751563-a10f-485f-b5a1-ae9932d56ba7","name":"Loop Over Items1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $json.data.markdown }}\n\nread above markdown and return me output in JSON like below\n\n{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[528,608],"id":"4cb56e83-1b82-4918-ae28-475e75d306e7","name":"AI Agent - Get team details1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[416,816],"id":"b1c74cb8-4e4e-4bb0-b2cf-8e0667bd9fbc","name":"Google Gemini 2.0 Flash1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[592,848],"id":"9b679750-3c6b-49c6-96d5-08911d5a0f2f","name":"Output Helper1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":861648751,"mode":"list","cachedResultName":"UIUX-agencies-in-USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=861648751"},"columns":{"mappingMode":"defineBelow","value":{"firstname":"={{ $json.output.firstname }}","name":"={{ $json.output.name }}","email":"={{ $json.output.email }}","lastname":"={{ $json.output.lastname }}","contact":"={{ $json.output.contact }}","address":"={{ $json.output.location }}","website":"={{ $json.output.website }}","facebook":"={{ $json.output.facebook }}","instagram":"={{ $json.output.instagram }}","twitter":"={{ $json.output.twitter }}","description":"={{ $json.output.description }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastname","displayName":"lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contact","displayName":"contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook","displayName":"facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter","displayName":"twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,928],"id":"2cd44ee5-e432-47e2-99fe-20034ea3090f","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[592,976],"id":"439a9bda-0b48-45fd-8ee2-4632d1800186","name":"Format fixer1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-5d63fe501d3442fea34213df3283696e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\":\"{{ $json.result.website }}\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"onlyMainContent\": true,\n  \"includeTags\": [\n    \"<string>\"\n  ],\n  \"excludeTags\": [\n    \"<string>\"\n  ],\n  \"maxAge\": 172800000,\n  \"headers\": {},\n  \"waitFor\": 0,\n  \"mobile\": false,\n  \"skipTlsVerification\": true,\n  \"parsers\": [\n    \"pdf\"\n  ],\n  \"actions\": [\n    {\n      \"type\": \"wait\",\n      \"selector\": \"#my-element\"\n    }\n  ],\n  \"location\": {\n    \"country\": \"US\",\n    \"languages\": [\n      \"en-US\"\n    ]\n  },\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"auto\",\n  \"storeInCache\": true,\n  \"zeroDataRetention\": false\n} ","options":{"redirect":{"redirect":{"maxRedirects":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[144,544],"id":"39d5c921-8ba3-494f-b38b-67f997d6e2d8","name":"HTTP Request"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.placeId }}&key=AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos&fields=name,formatted_address,formatted_phone_number,website,rating,user_ratings_total,business_status,type","options":{}},"name":"Get Place Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-128,528],"id":"096b6f95-dd4f-4ebd-b09b-928ae496a317"},{"parameters":{"jsCode":"// Define place IDs array\nconst placeIds = [\n  \"ChIJ06P1_4hYwokR-Sjo0J_NRkw\",\n  \"ChIJO5ewdfWAhYARbaRageJsnaE\",\n  \"ChIJBSUZPBG6j4ARVaOEcAFW7Js\",\n  \"ChIJ65sLQ4W5woAROys8a1Adh40\",\n  \"ChIJHaAgGSVZwokRJNuHLslBIKQ\",\n  \"ChIJTUWdELssDogRg4QxpPignLk\",\n  \"ChIJv0gMtq1ZwokRwYMdZJYgP5Y\",\n  \"ChIJ-fp1LamxwoARdVZn9NbgRH4\",\n  \"ChIJQ_sGirr7wokRhYy6ltHsobU\",\n  \"ChIJx1UloemBhYARcpmC8a8EhuA\",\n  \"ChIJn-zvWCC_woAR8v6t656Ldko\",\n  \"ChIJIV80F1mxQYgRXZlayOi0n8k\",\n  \"ChIJr-cZk4ZZwokRu-ftpVM5lVQ\",\n  \"ChIJqy7918lZwokRieg2ekBVjmY\",\n  \"ChIJ09dVLTCxJIgR6v414IiyrW0\",\n  \"ChIJa2teuNymw4kRAvNsl9prlpQ\",\n  \"ChIJTVmrAdHBwjsRKXZKdqrqbRI\",\n  \"ChIJy0AIyzBPDg8Rv4HZvcngFqk\",\n  \"ChIJ3w3eKNe_wjsRJAWGCEjStNM\",\n  \"ChIJY0W_49S5wjsRidvXqfsrMpQ\",\n////////////////////////////\n  \"ChIJr2wAWWdXwokRfCQEu7scxJY\",\n  \"ChIJL1XsnM-LqKcRHB_y59FLnZs\",\n  \"ChIJzcHFtOe4wjsRrL0fgmETqoM\",\n  \"ChIJP1bsUiC7wjsRDuW2PAbAGas\",\n  \"ChIJNTSJpgm5wjsRAyexKbwMgaQ\",\n  \"ChIJUX2--KTBwjsR8tJoAEqa1C0\",\n  \"ChIJsVIej2-_wjsReiz2lfwady0\",\n  \"ChIJ3xJRjb2_wjsRhIv4xTGPiEA\",\n  \"ChIJPU2wXI-_wjsRRrWtggMXUY8\",\n  \"ChIJt3oML46r_wgRHu2uWkIszNo\",\n  \"ChIJ40leVcu_wjsR4IbDzJ1qQ_c\",\n  \"ChIJ4eqe_YJhUjoRvPvrqCPLzNg\",\n  \"ChIJoVJNssfBwjsRo8EpXSkCbYU\",\n  \"ChIJ3yXQFKIVrjsRgjd8q4fFAxM\",\n  \"ChIJaWfNbNG25zsR0j-La_3FYw4\",\n  \"ChIJdQ2CmwC35zsRgrDWiHsRa8s\",\n  \"ChIJtU3uVdq25zsRo6-Ohj2eZiY\",\n  \"ChIJW_zGyDm_wjsRNzWWtuX6bSc\",\n  \"ChIJlyvs8SjBwjsRt7v4BEyeDQQ\",\n  \"ChIJsze0AFfuDzkRMVcse6xG3Cc\",\n  //////////////////////////////////\n\n  \"ChIJ-8FTjYLDwjsRtNY3kfY4-8s\",\n  \"ChIJQWtnkZm_wjsRMdIVa-o4YgA\",\n  \"ChIJkYoAfDu5wjsRl1CpzUcjhpE\",\n  \"ChIJrYP2wHCVwjsRk2d2vLchpXQ\",\n  \"ChIJJWpM0-zO5zsRPrOudtO2vWU\",\n  \"ChIJIVABbce_wjsRGAmttRLcYQU\",\n  \"ChIJC2ZD9FeVwjsR-hqTkNtB6CI\",\n  \"ChIJVVUF4znBwjsREQJY9W9xwtU\",\n  \"ChIJhywSxDzI5zsRtgHHRO3a3vw\",\n  \"ChIJf1UVAfq25zsRAP7GnH6W-lA\"\n];\n\n// Create items from place IDs\nreturn placeIds.map((placeId) => ({\n  json: {\n    placeId: placeId\n  }\n}));"},"name":"Place IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,688],"id":"28c4c4fe-7496-4c5f-8ac0-42bd4cf1dd54"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Place IDs","type":"main","index":0}]]},"Loop Over Place IDs":{"main":[[]]},"Place IDs1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Place Details1":{"main":[[{"node":"Transform Response1","type":"main","index":0}]]},"Transform Response1":{"main":[[{"node":"Append to Google Sheets1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Place Details1","type":"main","index":0}]]},"Append to Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent - Get team details1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Google Gemini 2.0 Flash1":{"ai_languageModel":[[{"node":"AI Agent - Get team details1","type":"ai_languageModel","index":0}]]},"Output Helper1":{"ai_outputParser":[[{"node":"AI Agent - Get team details1","type":"ai_outputParser","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Format fixer1":{"ai_languageModel":[[{"node":"Output Helper1","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get Place Details","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent - Get team details1","type":"main","index":0}]]},"Get Place Details":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Place IDs":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"133055cb-1e68-4656-b4f7-9bad70423230","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T09:55:57.092Z","createdAt":"2025-11-28T09:55:57.092Z","role":"workflow:owner","workflowId":"Qcxu5LObFpnIGD2d","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":null,"tags":[]}