google-drive-to-linkedin-auto-post-XCbalLKsMdzR0rV1.json
{"updatedAt":"2025-11-12T12:30:58.461Z","createdAt":"2025-11-12T06:28:45.685Z","id":"XCbalLKsMdzR0rV1","name":"Google Drive to LinkedIn Auto-Post","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 3 * * *"}]}},"id":"77abe832-1755-43b6-901f-35c7f372b082","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2320,1408],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in YYYY-MM-DD format (IST timezone)\nconst today = new Date();\n\n// Convert to IST (UTC + 5:30)\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istDate = new Date(today.getTime() + istOffset);\n\n// Format as YYYY-MM-DD\nconst year = istDate.getUTCFullYear();\nconst month = String(istDate.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istDate.getUTCDate()).padStart(2, '0');\n\nconst formattedDate = `${year}-${month}-${day}`;\n\nreturn {\n  currentDate: formattedDate,\n  searchQuery: `name='${formattedDate}'`\n};"},"id":"ae4c8cf2-6e2f-4f74-8078-0e456b21cae4","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1936,1392],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.currentDate }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1696,1408],"id":"3bfd0a44-b166-4eff-984f-48e3c9808fea","name":"Search files and folders","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Searches for all images containing today's date in filename"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-files-found","leftValue":"={{ $json.name }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"32b3b032-3a73-45f8-945a-decbec8346df","name":"Check If Image Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1440,1408]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.id}}","mode":"id"},"options":{}},"id":"1e0a95d1-f30b-4dda-aab9-a8672ef17156","name":"Download Images","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1120,1312],"notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Downloads all matching images (up to 20 for LinkedIn limit)"},{"parameters":{"person":"rIt1tOcqlf","text":"={{\"Check out today's post! 🚀\\n\\n#LinkedIn #DailyPost #\" + $('Get Current Date').item.json.currentDate}}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"f7d44753-80b2-43c2-b4f6-158e100b8c71","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-848,1360],"notesInFlow":true,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}},"notes":"Posts all downloaded images to LinkedIn (max 20 images)"},{"parameters":{"errorMessage":"No Image Found to share today"},"id":"d99f9d84-1c0a-400e-864a-32eeb053cd40","name":"No Image Found - Stop","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-1152,1584]}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Check If Image Found","type":"main","index":0}]]},"Check If Image Found":{"main":[[{"node":"Download Images","type":"main","index":0}],[{"node":"No Image Found - Stop","type":"main","index":0}]]},"Download Images":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c285324-6d77-4151-9a5c-97e6df849118","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T06:28:45.685Z","createdAt":"2025-11-12T06:28:45.685Z","role":"workflow:owner","workflowId":"XCbalLKsMdzR0rV1","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}