google-drive-to-linkedin-auto-post-google-sheet-YwrWHlIzZfQPFiCt.json
{"updatedAt":"2025-11-13T08:14:07.011Z","createdAt":"2025-11-12T12:42:02.462Z","id":"YwrWHlIzZfQPFiCt","name":"Google Drive to LinkedIn Auto-Post google-sheet","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 3 * * *"}]}},"id":"df371c37-5e65-4c07-a04a-80b5e961c5a4","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1776,128],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in YYYY-MM-DD format (IST timezone)\nconst today = new Date();\n\n// Convert to IST (UTC + 5:30)\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istDate = new Date(today.getTime() + istOffset);\n\n// Format as YYYY-MM-DD\nconst year = istDate.getUTCFullYear();\nconst month = String(istDate.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istDate.getUTCDate()).padStart(2, '0');\n\nconst formattedDate = `${month}/${day}/${year}`;\n\nreturn {\n  currentDate: formattedDate\n};"},"id":"00e46181-0505-4f65-9108-770fd6c7cd65","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,128],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"documentId":{"__rl":true,"value":"1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU","mode":"list","cachedResultName":"LinkedIn-post-content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $('Get Current Date').item.json.currentDate }}"}]},"options":{}},"id":"7d8b8ce6-aeed-49b8-866d-7cbc546b1cc6","name":"Get Sheet Row by Date","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1216,128],"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}},"notes":"Searches for row with today's date in the 'Date' column"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-row-found","leftValue":"={{ $json.Date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0786b7e7-94d4-4858-b26c-88dc9ec5fbea","name":"Check If Post Data Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[-960,128],"notesInFlow":true,"notes":"Checks if a row exists with valid date and image URL"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.URL }}","mode":"url"},"options":{}},"id":"42603045-ca4d-4034-8564-e70835db9ad5","name":"Download Image from Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-640,32],"notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Downloads image from Google Drive URL"},{"parameters":{"person":"rIt1tOcqlf","text":"={{ $('Get Sheet Row by Date').item.json.Description || 'Check out today\\'s post! 🚀' }}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"fbd0e896-85fa-4046-80d4-c7f687a657d2","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-368,32],"notesInFlow":true,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}},"notes":"Posts image with description from Google Sheet to LinkedIn"},{"parameters":{"errorMessage":"No post scheduled for today ({{ $('Get Current Date').item.json.currentDate }})"},"id":"71847fbf-2c08-4ea3-b664-44deb24e8409","name":"No Post Found - Stop","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-672,224],"notesInFlow":true,"notes":"Stops workflow if no post is scheduled for today"},{"parameters":{"jsCode":"// Get the response from the LinkedIn node\nconst response = $input.first().json.urn;\n\n// Check if 'urn:li:share:' exists in the response\nif (response && response.startsWith('urn:li:share:')) {\n  return [{ status: 'SENT', message: 'Post successfully published on LinkedIn', shareId: response }];\n} else {\n  return [{ status: 'FAILED', message: 'LinkedIn post not created', rawResponse: response }];}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,32],"id":"b3f32e4d-4386-4b0e-ad96-6eaf1b7d437e","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU","mode":"list","cachedResultName":"LinkedIn-post-content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ShareID":"={{ $json.shareId }}","Status":"={{ $json.status }}","URL":"={{ $('Download Image from Drive').item.json.URL }}"},"matchingColumns":["URL"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ShareID","displayName":"ShareID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,32],"id":"7f4d9135-b585-425e-963b-26e9dd592194","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Get Sheet Row by Date","type":"main","index":0}]]},"Get Sheet Row by Date":{"main":[[{"node":"Check If Post Data Found","type":"main","index":0}]]},"Check If Post Data Found":{"main":[[{"node":"Download Image from Drive","type":"main","index":0}],[{"node":"No Post Found - Stop","type":"main","index":0}]]},"Download Image from Drive":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a1dad71-1167-49bf-ab9d-a027fa8b81d3","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T12:42:02.462Z","createdAt":"2025-11-12T12:42:02.462Z","role":"workflow:owner","workflowId":"YwrWHlIzZfQPFiCt","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}