image-generation-workflow-QeZ7S5jP6IrunIlE.json
{"updatedAt":"2025-11-06T12:49:39.300Z","createdAt":"2025-11-05T07:27:29.116Z","id":"QeZ7S5jP6IrunIlE","name":"image-generation-workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"person":"rIt1tOcqlf","text":"HII","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1264,80],"id":"46accc0a-8092-4a48-a567-9d0376b25f87","name":"Create a post","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[736,80],"id":"3ea9e847-d289-4537-b87f-03c98b8a6269","name":"Message Processor - AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[464,80],"id":"afc3fc1a-999a-4468-8d08-a7c9bcdb93dd","name":"When chat message received","webhookId":"321482d6-dbc1-4cdf-ab3c-d88e0699c3a0"},{"parameters":{"model":"google/gemini-2.5-flash-image-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,288],"id":"e6ca0647-8482-47d7-851b-0ef8bf038e49","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"VsjmFGDtBzibGUhL","name":"OpenRouter account 2"}}},{"parameters":{"operation":"toBinary","sourceProperty":"output[1].url","options":{"fileName":"image.jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1072,80],"id":"1ac05a7e-decb-4c90-adad-bfcfc4f89ced","name":"Convert to File"}],"connections":{"Message Processor - AI Agent":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Message Processor - AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Message Processor - AI Agent","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Create a post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24ecf819-e8c2-4f2f-9a14-bc876e26f33f","triggerCount":0,"shared":[{"updatedAt":"2025-11-05T07:27:29.116Z","createdAt":"2025-11-05T07:27:29.116Z","role":"workflow:owner","workflowId":"QeZ7S5jP6IrunIlE","projectId":"tsuA2t8C154Ytetn"}],"tags":[],"needsUpdate":false}