image-generation-workflow-copy--by-input-router-k7DKp0lrt3IRRKj9.json
{"updatedAt":"2025-11-06T10:33:28.330Z","createdAt":"2025-11-06T10:30:21.789Z","id":"k7DKp0lrt3IRRKj9","name":"image-generation-workflow copy- by input router","active":false,"isArchived":false,"nodes":[{"parameters":{"person":"rIt1tOcqlf","text":"HII","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1376,64],"id":"a3912144-665c-49c0-837f-ee7abfcd3c77","name":"Create a post","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}}},{"parameters":{"promptType":"define","text":"={{ $json.imagePrompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[736,80],"id":"7bc79b36-2a15-4d0f-89a5-93b139a7e493","name":"Message Processor - AI Agent"},{"parameters":{"model":"google/gemini-2.5-flash-image-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[608,288],"id":"e015a081-f107-468a-8028-47f319dbcd5b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"OzLwZ30z89EJDRtH","name":"OpenRouter account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"output[1].url","options":{"fileName":"image.jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,112],"id":"91fd4037-c91b-4498-8cfb-5151b641cfb5","name":"Convert to File"},{"parameters":{"workflowInputs":{"values":[{"name":"imagePrompt"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[400,64],"id":"b91f6ae8-e8f4-4269-9d13-0248ee2e26e6","name":"When Executed by Another Workflow"}],"connections":{"Message Processor - AI Agent":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Message Processor - AI Agent","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Message Processor - AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52bdfa2c-60d5-4391-9359-874871fad15c","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T10:30:21.789Z","createdAt":"2025-11-06T10:30:21.789Z","role":"workflow:owner","workflowId":"k7DKp0lrt3IRRKj9","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}