input-router---csv-or-linkedin-post-0iB49G62rGAuT371.json
{"updatedAt":"2025-11-06T10:29:07.013Z","createdAt":"2025-11-06T10:28:45.820Z","id":"0iB49G62rGAuT371","name":"Input Router - CSV or LinkedIn Post","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"input-router","responseMode":"responseNode","options":{}},"id":"ed5349d5-45f2-46ef-ab70-657612683b83","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-656,64],"webhookId":"input-router-webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"csv-check","leftValue":"={{ $json.body.fileType }}","rightValue":"csv","operator":{"type":"string","operation":"equals"}},{"id":"csv-attachment-check","leftValue":"={{ $json.body.file }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"id":"0a0df3de-68f1-4fe8-8208-e88c9a2fc0b0","name":"Check if CSV File","type":"n8n-nodes-base.if","typeVersion":2,"position":[-432,64]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"linkedin-keywords","leftValue":"={{ $json.body.message.toLowerCase() }}","rightValue":"linkedin|post|image|create.*image|social media","operator":{"type":"string","operation":"regex"}}]},"options":{}},"id":"3ca4e254-8578-4b0f-bb81-ea1cc425523d","name":"Check if LinkedIn Post Request","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,256]},{"parameters":{"url":"http://localhost:5678/webhook/email-automation","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"csvData\": $json.body.file,\n  \"fileName\": $json.body.fileName,\n  \"triggeredAt\": $now,\n  \"source\": \"input-router\"\n}) }}","options":{}},"id":"844bb045-b22d-4d35-b621-01b22f781c2b","name":"Trigger Email Automation Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,-48]},{"parameters":{"url":"http://localhost:5678/webhook/linkedin-post","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"userMessage\": $json.body.message,\n  \"triggeredAt\": $now,\n  \"source\": \"input-router\"\n}) }}","options":{}},"id":"b420f895-cbd7-4376-bf90-05a364cd5908","name":"Trigger LinkedIn Post Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,160]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  \"status\": \"success\",\n  \"message\": \"Email automation workflow triggered\",\n  \"fileName\": $json.body.fileName\n}) }}","options":{}},"id":"7d72cf88-1b9c-45e1-9a5f-90b8dbd5a09d","name":"Response - CSV Processed","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[16,-48]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  \"status\": \"success\",\n  \"message\": \"LinkedIn post workflow triggered\",\n  \"userRequest\": $json.body.message\n}) }}","options":{}},"id":"8f6bd179-2fe3-4ec1-a4c4-7935c145b627","name":"Response - LinkedIn Triggered","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[240,160]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  \"status\": \"error\",\n  \"message\": \"Could not determine input type. Please provide either a CSV file or a LinkedIn post request.\"\n}) }}","options":{"responseCode":400}},"id":"cae97c0a-36d4-473e-9630-febe177cfe59","name":"Response - Unknown Input","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[16,352]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Check if CSV File","type":"main","index":0}]]},"Check if CSV File":{"main":[[{"node":"Trigger Email Automation Workflow","type":"main","index":0}],[{"node":"Check if LinkedIn Post Request","type":"main","index":0}]]},"Check if LinkedIn Post Request":{"main":[[{"node":"Trigger LinkedIn Post Workflow","type":"main","index":0}],[{"node":"Response - Unknown Input","type":"main","index":0}]]},"Trigger Email Automation Workflow":{"main":[[{"node":"Response - CSV Processed","type":"main","index":0}]]},"Trigger LinkedIn Post Workflow":{"main":[[{"node":"Response - LinkedIn Triggered","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b31c749e-90cb-4e81-8da0-045b2a9bc46f","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T10:28:45.820Z","createdAt":"2025-11-06T10:28:45.820Z","role":"workflow:owner","workflowId":"0iB49G62rGAuT371","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}