lead-generation---webhook-KFq9jAxfaoP8VmWW.json
{"updatedAt":"2025-12-09T10:33:07.085Z","createdAt":"2025-12-01T09:37:40.863Z","id":"KFq9jAxfaoP8VmWW","name":"Lead Generation - WebHook","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"zwAejvMenlAbnME3","mode":"list","cachedResultUrl":"/workflow/zwAejvMenlAbnME3","cachedResultName":"Lead Generation - Get Leads from Map Using Page Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"next_page_token":"={{ $json.next_page_token }}","search_query":"={{ $('Webhook').item.json.body.search_query }}"},"matchingColumns":[],"schema":[{"id":"next_page_token","displayName":"next_page_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"search_query","displayName":"search_query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,-16],"id":"0f07af7b-0d7a-47f0-b677-1ea69d08271c","name":"Call 'My workflow 12'"},{"parameters":{"httpMethod":"POST","path":"Generate Leads","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-176],"id":"20df19f1-dbfe-4dbd-826f-308d7753d2a0","name":"Webhook","webhookId":"795d7a3f-0709-4fca-9158-a3d64d2c2f1f"},{"parameters":{"jsCode":"return $input.first().json.results"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-368],"id":"f5cc1aff-9028-4451-bfcd-55cfbd22c9e2","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"huOQdtdUkEmZRVYW","mode":"list","cachedResultUrl":"/workflow/huOQdtdUkEmZRVYW","cachedResultName":"Lead Generation - Get Details and Save"},"workflowInputs":{"mappingMode":"defineBelow","value":{"rating":"={{ $json.rating }}","user_ratings_total":"={{ $json.user_ratings_total }}","business_status":"={{ $json.business_status }}","formatted_address":"={{ $json.formatted_address }}","geometry":"={{ $json.geometry }}","icon":"={{ $json.icon }}","icon_background_color":"={{ $json.icon_background_color }}","icon_mask_base_uri":"={{ $json.icon_mask_base_uri }}","name":"={{ $json.name }}","opening_hours":"={{ $json.opening_hours }}","photos":"={{ $json.photos }}","place_id":"={{ $json.place_id }}","reference":"={{ $json.reference }}","types":"={{ $json.types }}"},"matchingColumns":[],"schema":[{"id":"business_status","displayName":"business_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"formatted_address","displayName":"formatted_address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"geometry","displayName":"geometry","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_background_color","displayName":"icon_background_color","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_mask_base_uri","displayName":"icon_mask_base_uri","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"opening_hours","displayName":"opening_hours","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"photos","displayName":"photos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"reference","displayName":"reference","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"types","displayName":"types","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"user_ratings_total","displayName":"user_ratings_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[384,-368],"id":"8cad08a8-2a7f-419a-8e07-df5a52021d0c","name":"Call 'Lead Generation Flow'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c27be81b-c946-47e4-a6c1-1c0bf3bac3ea","leftValue":"={{ $json.next_page_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,16],"id":"0af9e87a-8ca1-4f60-9fb6-d826b6f8b54e","name":"If - Check Page token"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50695384-fa4e-4258-bd16-aee280df54f6","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,-176],"id":"22fee09e-dbc0-458f-8501-428eac8a2924","name":"If - Check Data"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.body.search_query }}"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,-176],"id":"b453e2ac-9c13-4cc2-9850-7be37ec24ae7","name":"Gmaps API"}],"connections":{"Webhook":{"main":[[{"node":"Gmaps API","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call 'Lead Generation Flow'","type":"main","index":0}]]},"If - Check Page token":{"main":[[{"node":"Call 'My workflow 12'","type":"main","index":0}]]},"If - Check Data":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Gmaps API":{"main":[[{"node":"If - Check Data","type":"main","index":0},{"node":"If - Check Page token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":null,"pinData":{},"versionId":"92710e96-5b27-42bd-a7f1-1c46969274af","activeVersionId":"92710e96-5b27-42bd-a7f1-1c46969274af","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T09:37:40.863Z","createdAt":"2025-12-01T09:37:40.863Z","role":"workflow:owner","workflowId":"KFq9jAxfaoP8VmWW","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":{"updatedAt":"2025-12-11T11:32:04.260Z","createdAt":"2025-12-11T11:32:04.260Z","versionId":"92710e96-5b27-42bd-a7f1-1c46969274af","workflowId":"KFq9jAxfaoP8VmWW","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"zwAejvMenlAbnME3","mode":"list","cachedResultUrl":"/workflow/zwAejvMenlAbnME3","cachedResultName":"Lead Generation - Get Leads from Map Using Page Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"next_page_token":"={{ $json.next_page_token }}","search_query":"={{ $('Webhook').item.json.body.search_query }}"},"matchingColumns":[],"schema":[{"id":"next_page_token","displayName":"next_page_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"search_query","displayName":"search_query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,-16],"id":"0f07af7b-0d7a-47f0-b677-1ea69d08271c","name":"Call 'My workflow 12'"},{"parameters":{"httpMethod":"POST","path":"Generate Leads","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-176],"id":"20df19f1-dbfe-4dbd-826f-308d7753d2a0","name":"Webhook","webhookId":"795d7a3f-0709-4fca-9158-a3d64d2c2f1f"},{"parameters":{"jsCode":"return $input.first().json.results"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-368],"id":"f5cc1aff-9028-4451-bfcd-55cfbd22c9e2","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"huOQdtdUkEmZRVYW","mode":"list","cachedResultUrl":"/workflow/huOQdtdUkEmZRVYW","cachedResultName":"Lead Generation - Get Details and Save"},"workflowInputs":{"mappingMode":"defineBelow","value":{"rating":"={{ $json.rating }}","user_ratings_total":"={{ $json.user_ratings_total }}","business_status":"={{ $json.business_status }}","formatted_address":"={{ $json.formatted_address }}","geometry":"={{ $json.geometry }}","icon":"={{ $json.icon }}","icon_background_color":"={{ $json.icon_background_color }}","icon_mask_base_uri":"={{ $json.icon_mask_base_uri }}","name":"={{ $json.name }}","opening_hours":"={{ $json.opening_hours }}","photos":"={{ $json.photos }}","place_id":"={{ $json.place_id }}","reference":"={{ $json.reference }}","types":"={{ $json.types }}"},"matchingColumns":[],"schema":[{"id":"business_status","displayName":"business_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"formatted_address","displayName":"formatted_address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"geometry","displayName":"geometry","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_background_color","displayName":"icon_background_color","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_mask_base_uri","displayName":"icon_mask_base_uri","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"opening_hours","displayName":"opening_hours","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"photos","displayName":"photos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"reference","displayName":"reference","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"types","displayName":"types","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"user_ratings_total","displayName":"user_ratings_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[384,-368],"id":"8cad08a8-2a7f-419a-8e07-df5a52021d0c","name":"Call 'Lead Generation Flow'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c27be81b-c946-47e4-a6c1-1c0bf3bac3ea","leftValue":"={{ $json.next_page_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,16],"id":"0af9e87a-8ca1-4f60-9fb6-d826b6f8b54e","name":"If - Check Page token"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50695384-fa4e-4258-bd16-aee280df54f6","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,-176],"id":"22fee09e-dbc0-458f-8501-428eac8a2924","name":"If - Check Data"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.body.search_query }}"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,-176],"id":"b453e2ac-9c13-4cc2-9850-7be37ec24ae7","name":"Gmaps API"}],"connections":{"Webhook":{"main":[[{"node":"Gmaps API","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call 'Lead Generation Flow'","type":"main","index":0}]]},"If - Check Page token":{"main":[[{"node":"Call 'My workflow 12'","type":"main","index":0}]]},"If - Check Data":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Gmaps API":{"main":[[{"node":"If - Check Data","type":"main","index":0},{"node":"If - Check Page token","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}