lead-generation---get-leads-from-map-using-page-token-zwAejvMenlAbnME3.json
{"updatedAt":"2025-12-08T10:11:53.697Z","createdAt":"2025-12-01T10:26:52.316Z","id":"zwAejvMenlAbnME3","name":"Lead Generation - Get Leads from Map Using Page Token","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"next_page_token\": \"a string\",\n  \"search_query\" : \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-32],"id":"09b275a4-fddd-446a-9487-bd0780451700","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.search_query }}"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"next_page_token","value":"={{ $json.next_page_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,-32],"id":"4783855b-9cbe-47b6-842f-76e7f682ebfb","name":"HTTP Request"},{"parameters":{"jsCode":"return $('HTTP Request').first().json.results"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-48],"id":"05739a12-76c1-4258-8a73-174a1be1a829","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"huOQdtdUkEmZRVYW","mode":"list","cachedResultUrl":"/workflow/huOQdtdUkEmZRVYW","cachedResultName":"Lead Generation Flow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"rating":"={{ $json.rating }}","user_ratings_total":"={{ $json.user_ratings_total }}","business_status":"={{ $json.business_status }}","formatted_address":"={{ $json.formatted_address }}","geometry":"={{ $json.geometry }}","icon":"={{ $json.icon }}","icon_background_color":"={{ $json.icon_background_color }}","icon_mask_base_uri":"={{ $json.icon_mask_base_uri }}","name":"={{ $json.name }}","opening_hours":"={{ $json.opening_hours }}","photos":"={{ $json.photos }}","place_id":"={{ $json.place_id }}","reference":"={{ $json.reference }}","types":"={{ $json.types }}"},"matchingColumns":[],"schema":[{"id":"business_status","displayName":"business_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"formatted_address","displayName":"formatted_address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"geometry","displayName":"geometry","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_background_color","displayName":"icon_background_color","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_mask_base_uri","displayName":"icon_mask_base_uri","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"opening_hours","displayName":"opening_hours","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"photos","displayName":"photos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"reference","displayName":"reference","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"types","displayName":"types","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"user_ratings_total","displayName":"user_ratings_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,-48],"id":"93710350-c54b-41a1-9e87-3866fb673d98","name":"Call 'Lead Generation Flow'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"025f7296-2732-4f92-8f12-effec416202e","leftValue":"={{ $json.next_page_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c45548c5-a2b3-465a-87a0-71f3bd1d69c9","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,-32],"id":"749950f4-131c-40d6-ad81-459c430a42a4","name":"If"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call 'Lead Generation Flow'","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Call 'Lead Generation Flow'":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"02e68a3b-3e35-4bc4-be1c-a4b23ae79c32","activeVersionId":"02e68a3b-3e35-4bc4-be1c-a4b23ae79c32","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T10:26:52.316Z","createdAt":"2025-12-01T10:26:52.316Z","role":"workflow:owner","workflowId":"zwAejvMenlAbnME3","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":{"updatedAt":"2025-12-11T11:32:04.260Z","createdAt":"2025-12-11T11:32:04.260Z","versionId":"02e68a3b-3e35-4bc4-be1c-a4b23ae79c32","workflowId":"zwAejvMenlAbnME3","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"next_page_token\": \"a string\",\n  \"search_query\" : \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-32],"id":"09b275a4-fddd-446a-9487-bd0780451700","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.search_query }}"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"next_page_token","value":"={{ $json.next_page_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,-32],"id":"4783855b-9cbe-47b6-842f-76e7f682ebfb","name":"HTTP Request"},{"parameters":{"jsCode":"return $('HTTP Request').first().json.results"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-48],"id":"05739a12-76c1-4258-8a73-174a1be1a829","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"huOQdtdUkEmZRVYW","mode":"list","cachedResultUrl":"/workflow/huOQdtdUkEmZRVYW","cachedResultName":"Lead Generation Flow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"rating":"={{ $json.rating }}","user_ratings_total":"={{ $json.user_ratings_total }}","business_status":"={{ $json.business_status }}","formatted_address":"={{ $json.formatted_address }}","geometry":"={{ $json.geometry }}","icon":"={{ $json.icon }}","icon_background_color":"={{ $json.icon_background_color }}","icon_mask_base_uri":"={{ $json.icon_mask_base_uri }}","name":"={{ $json.name }}","opening_hours":"={{ $json.opening_hours }}","photos":"={{ $json.photos }}","place_id":"={{ $json.place_id }}","reference":"={{ $json.reference }}","types":"={{ $json.types }}"},"matchingColumns":[],"schema":[{"id":"business_status","displayName":"business_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"formatted_address","displayName":"formatted_address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"geometry","displayName":"geometry","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_background_color","displayName":"icon_background_color","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"icon_mask_base_uri","displayName":"icon_mask_base_uri","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"opening_hours","displayName":"opening_hours","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"photos","displayName":"photos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"reference","displayName":"reference","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"types","displayName":"types","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"user_ratings_total","displayName":"user_ratings_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,-48],"id":"93710350-c54b-41a1-9e87-3866fb673d98","name":"Call 'Lead Generation Flow'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"025f7296-2732-4f92-8f12-effec416202e","leftValue":"={{ $json.next_page_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c45548c5-a2b3-465a-87a0-71f3bd1d69c9","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,-32],"id":"749950f4-131c-40d6-ad81-459c430a42a4","name":"If"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call 'Lead Generation Flow'","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Call 'Lead Generation Flow'":{"main":[[]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}