lead-generation---get-details-and-save-huOQdtdUkEmZRVYW.json
{"updatedAt":"2025-12-09T12:36:42.882Z","createdAt":"2025-12-01T08:52:47.425Z","id":"huOQdtdUkEmZRVYW","name":"Lead Generation - Get Details and Save","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,-16],"id":"8df569ce-9632-4053-a141-95c5f5930652","name":"Get Details"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[880,-16],"id":"a37ccd22-0a1d-4cf4-a663-458355db7ccc","name":"Scrape a url and get its content","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1136,-16],"id":"cc5c22dc-111c-409b-aab8-adfd1d0c605c","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1136,160],"id":"6694ff64-7098-4890-8ae9-076cd75eef87","name":"Gemini 1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1200,256],"id":"8918d2b5-dac1-4c90-a7be-a84dfc24c7d4","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,416],"id":"3ad3332e-c10a-4153-9d77-f167ecc740c0","name":"Output Fixer","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1592693098,"mode":"list","cachedResultName":"Testing-MCPCompanyName firstname Lastname Email Contact Website Location","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=1592693098"},"columns":{"mappingMode":"defineBelow","value":{"CompanyName":"={{ $json.output.name || $('Get Details').item.json.result.name}}","Location":"={{ $json.output.location }}","firstname":"={{ $json.output.firstname }}","Lastname":"={{ $json.output.lastname }}","Email":"={{ $json.output.email }}","Contact":"={{ $json.output.contact || $('Get Details').item.json.result.formatted_phone_number}}","Website":"={{ $('Get Details').item.json.result.website }}"},"matchingColumns":[],"schema":[{"id":"CompanyName","displayName":"CompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lastname","displayName":"Lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,-32],"id":"62a0e20e-7b75-4e05-8618-f3b02bf90a98","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1744,-16],"id":"a100aaca-b996-4a24-a20b-530e62cd2acf","name":"Wait","webhookId":"7f2590bf-b2e6-4f62-affb-cc48a0ea49db"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nlet aggregatedData = $input.first().json.data || [];\n\n// Normalize to array if a single object\nif (!Array.isArray(aggregatedData)) {\n  if (aggregatedData && typeof aggregatedData === 'object') aggregatedData = [aggregatedData];\n  else aggregatedData = [];\n}\n\nfunction cleanPhone(raw) {\n  if (raw === undefined || raw === null) return null;\n  try {\n    return String(raw).replace(/[^0-9]/g, '') || null;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction normalizeStatus(s) {\n  if (!s && s !== 0) return 'FAILED';\n  const t = String(s).trim().toUpperCase();\n  return t === 'SENT' ? 'SENT' : 'FAILED';\n}\n\nconst mapped = aggregatedData.map(item => {\n  // prefer item.Email, but also accept other common email keys\n  const email = item.Email || item.email || item.EmailAddress || null;\n\n  // prefer several possible phone fields\n  const phoneRaw = item.Contact || item.contact || item.Phone || item.phone || item.phone_number || item.telephone || item.telephone_number || item.formatted_phone_number || null;\n  const contact = cleanPhone(phoneRaw);\n\n  const status = normalizeStatus(item.Status || item.status || null);\n\n  const main = {\n    Name: item.Name || item.name || item.CompanyName || '',\n    Email: email || '',\n    Company: item.Company || item.company || item.CompanyName || '',\n    Website: item.Website || item.website || item.Site || '',\n    Sector: item.Sector || item.sector || '',\n    Country: item.Country || item.country || '',\n    Location: item.Location || item.location || item.Address || '',\n    Contact: contact,\n    Status: status,\n    SentOn: item.SentOn || item.sentOn || item.Sent_On || item.sent_on || ''\n  };\n\n  // Collect extras (preserve any other dynamic fields)\n  const extras = {};\n  Object.keys(item).forEach(k => {\n    if (!['Name','name','Email','email','EmailAddress','Company','company','CompanyName','Website','website','Site','Sector','sector','Country','country','Location','location','Address','Contact','contact','Phone','phone','phone_number','telephone','telephone_number','formatted_phone_number','Status','status','SentOn','sentOn','Sent_On','sent_on'].includes(k)) {\n      extras[k] = item[k];\n    }\n  });\n\n  return {\n    ...main,\n    extras: Object.keys(extras).length ? extras : null\n  };\n});\n\n// Filter: keep only items with Email OR Contact (digits-only)\nconst allResults = mapped.filter(r => (r.Email && String(r.Email).trim() !== '') || (r.Contact && String(r.Contact).trim() !== ''));\n\n// Count sent vs failed\nlet sentCount = 0;\nlet failedCount = 0;\nallResults.forEach(r => {\n  if (String(r.Status).toUpperCase() === 'SENT') sentCount++;\n  else failedCount++;\n});\n\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,0],"id":"6133f0ce-eb63-40de-b0a4-6f313233039c","name":"Format Final Response1"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[592,752],"id":"25b14019-a768-471d-8330-41264d6d7cc8","name":"Get Details1"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[864,752],"id":"b215b6e7-4278-46f3-8170-f79de0a21aef","name":"Scrape a url and get its content1","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details1').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1120,752],"id":"23c05e64-d6a7-4284-ba9b-a2e6bafde6d6","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1104,1136],"id":"b7ea99a9-12ef-45d1-b747-d23b3ed2fc80","name":"Gemini ","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1168,1232],"id":"1f37d638-2e32-48ac-914f-b6d427c1ae8a","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1168,1392],"id":"109eb5c1-a50c-497f-aeb6-03fefe75be2c","name":"Output Fixer1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsCode":"// Robust Code for n8n Code node: handles multiple input shapes and flattens arrays\n\n// Collect all incoming items as JSON objects\nconst items = $input.all().map(i => i.json || {});\n\n// Helper: convert various possible container shapes into a flat array of objects\nfunction extractObjects(obj) {\n  if (obj === undefined || obj === null) return [];\n  // If object has a .data or .output which is an array or single object, prefer those\n  const candidates = ['data', 'output', 'results', 'items'];\n  for (const key of candidates) {\n    if (obj[key] !== undefined && obj[key] !== null) {\n      const v = obj[key];\n      if (Array.isArray(v)) return v;\n      if (typeof v === 'object') return [v];\n    }\n  }\n  // If obj itself is an array\n  if (Array.isArray(obj)) return obj;\n  // Otherwise treat obj as single item\n  return [obj];\n}\n\n// Build aggregatedData by extracting from each incoming item and concatenating\nlet aggregatedData = [];\nfor (const it of items) {\n  aggregatedData = aggregatedData.concat(extractObjects(it));\n}\n\n// If nothing found, aggregatedData stays empty\nif (!Array.isArray(aggregatedData)) aggregatedData = [];\n\n// Utilities\nfunction cleanPhone(raw) {\n  if (raw === undefined || raw === null) return null;\n  try {\n    const digits = String(raw).replace(/[^0-9]/g, '');\n    return digits.length ? digits : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction normalizeStatus(s) {\n  if (!s && s !== 0) return 'FAILED';\n  const t = String(s).trim().toUpperCase();\n  return t === 'SENT' ? 'SENT' : 'FAILED';\n}\n\n// Map each item to canonical shape\nconst mapped = aggregatedData.map(item => {\n  // item might not be a plain object in some cases - guard\n  item = item || {};\n\n  // email could be in several properties\n  const email = item.Email || item.email || item.EmailAddress || item.email_address || null;\n\n  // contact / phone variants\n  const phoneRaw = item.Contact || item.contact || item.Phone || item.phone || item.phone_number || item.telephone || item.telephone_number || item.formatted_phone_number || null;\n  const contact = cleanPhone(phoneRaw);\n\n  const status = normalizeStatus(item.Status || item.status || null);\n\n  // Name fallback: prefer Name, then firstname+lastname, then company\n  let name = item.Name || item.name || '';\n  if (!name) {\n    const fn = item.firstname || item.firstName || item.first_name || item.first || '';\n    const ln = item.lastname || item.lastName || item.last_name || item.last || '';\n    const full = `${fn}`.trim() + (fn && ln ? ' ' : '') + `${ln}`.trim();\n    if (full.trim()) name = full.trim();\n  }\n  if (!name) name = item.CompanyName || item.company || item.Company || '';\n\n  const main = {\n    Name: name || '',\n    Email: email || '',\n    Company: item.Company || item.company || item.CompanyName || '',\n    Website: item.Website || item.website || item.Site || item.url || '',\n    Sector: item.Sector || item.sector || '',\n    Country: item.Country || item.country || '',\n    Location: item.Location || item.location || item.Address || '',\n    Contact: contact,\n    Status: status,\n    SentOn: item.SentOn || item.sentOn || item.Sent_On || item.sent_on || ''\n  };\n\n  // preserve other fields as extras\n  const knownKeys = new Set([\n    'Name','name','firstname','firstName','first_name','first','lastname','lastName','last_name','last',\n    'Email','email','EmailAddress','email_address',\n    'Company','company','CompanyName',\n    'Website','website','Site','url',\n    'Sector','sector',\n    'Country','country',\n    'Location','location','Address',\n    'Contact','contact','Phone','phone','phone_number','telephone','telephone_number','formatted_phone_number',\n    'Status','status','SentOn','sentOn','Sent_On','sent_on'\n  ]);\n\n  const extras = {};\n  Object.keys(item).forEach(k => {\n    if (!knownKeys.has(k)) extras[k] = item[k];\n  });\n\n  return {\n    ...main,\n    extras: Object.keys(extras).length ? extras : null\n  };\n});\n\n// Filter: keep items that have an email or a phone digits-only contact\nconst allResults = mapped.filter(r => (r.Email && String(r.Email).trim() !== '') || (r.Contact && String(r.Contact).trim() !== ''));\n\n// Count sent vs failed\nlet sentCount = 0;\nlet failedCount = 0;\nallResults.forEach(r => {\n  if (String(r.Status).toUpperCase() === 'SENT') sentCount++;\n  else failedCount++;\n});\n\n// Return single output item with the summary and results\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,576],"id":"5d444c36-d120-49a7-81b6-9c04f4c0ecda","name":"Format Final Response"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,736],"id":"e74f699d-ea09-4690-a88a-7cd363c00b96","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,576],"id":"f85e0383-ffc3-4bbe-b135-41d566b5a1d8","name":"Aggregate All Results"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[2560,800],"id":"cbee2223-6b5e-4caf-befd-99d9089c1aca","name":"Scrape Website Content","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details2').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2816,800],"id":"a7b14d6a-7366-4d6c-8cab-74565c240399","name":"AI Agent - Extract Data"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2784,1024],"id":"70ac2949-7269-4230-afd8-43fa5b6fd42e","name":"Gemini Model","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2304,624],"id":"19832170-b0b0-45f1-9c56-6861918f3e1b","name":"Aggregate Loop Results"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2000,816],"id":"c67f728c-0162-4f69-b086-7941ec45c57b","name":"Loop Over Items1"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2288,800],"id":"f189f6e3-e5de-4a19-9e5b-b03de7338cde","name":"Get Details2"},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2864,1104],"id":"f97e5636-0470-4cfc-ab57-cf5768e5b87d","name":"Structured Output Parser2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2864,1264],"id":"8e1dc68f-da65-4c53-bd33-c4e4b8d78f00","name":"Output Fixer2","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsCode":"// Process aggregated data from all loop iterations\nconst items = $input.all().map(i => i.json || {});\n\nfunction extractObjects(obj) {\n if (obj === undefined || obj === null) return [];\n const candidates = ['data', 'output', 'results', 'items'];\n for (const key of candidates) {\n if (obj[key] !== undefined && obj[key] !== null) {\n const v = obj[key];\n if (Array.isArray(v)) return v;\n if (typeof v === 'object') return [v];\n }\n }\n if (Array.isArray(obj)) return obj;\n return [obj];\n}\n\nlet aggregatedData = [];\nfor (const it of items) {\n aggregatedData = aggregatedData.concat(extractObjects(it));\n}\n\nif (!Array.isArray(aggregatedData)) aggregatedData = [];\n\nfunction cleanPhone(raw) {\n if (raw === undefined || raw === null) return null;\n try {\n const digits = String(raw).replace(/[^0-9]/g, '');\n return digits.length ? digits : null;\n } catch (e) {\n return null;\n }\n}\n\nconst mapped = aggregatedData.map(item => {\n item = item || {};\n const email = item.Email || item.email || item.EmailAddress || item.email_address || null;\n const phoneRaw = item.Contact || item.contact || item.Phone || item.phone || item.phone_number || item.telephone || item.telephone_number || item.formatted_phone_number || null;\n const contact = cleanPhone(phoneRaw);\n\n let name = item.Name || item.name || item.name_here || '';\n if (!name) {\n const fn = item.firstname || item.firstName || item.first_name || item.first || '';\n const ln = item.lastname || item.lastName || item.last_name || item.last || '';\n const full = `${fn}`.trim() + (fn && ln ? ' ' : '') + `${ln}`.trim();\n if (full.trim()) name = full.trim();\n }\n if (!name) name = item.CompanyName || item.company || item.Company || '';\n\n return {\n name: name || null,\n email: email || null,\n contact: contact,\n website: item.website || item.Website || null,\n description: item.description || item.Description || null,\n firstname: item.firstname || null,\n lastname: item.lastname || null,\n location: item.location || item.Location || null,\n facebook: item.facebook || null,\n instagram: item.instagram || null,\n twitter: item.twitter || null\n };\n});\n\nconst allResults = mapped.filter(r => \n (r.email && String(r.email).trim() !== '') || \n (r.contact && String(r.contact).trim() !== '')\n);\n\nreturn [\n {\n json: {\n success: true,\n totalProcessed: allResults.length,\n results: allResults\n }\n }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,976],"id":"6592af31-f6a5-4ef8-8c9d-08db51cf9a4b","name":"Format Final Response2"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n        \"business_status\": \"OPERATIONAL\",\n        \"formatted_address\": \"4th Ave, Coralville, IA 52241, United States\",\n        \"geometry\": {\n          \"location\": {\n            \"lat\": 41.6740889,\n            \"lng\": -91.5713313\n          },\n          \"viewport\": {\n            \"northeast\": {\n              \"lat\": 41.67543872989273,\n              \"lng\": -91.56998147010727\n            },\n            \"southwest\": {\n              \"lat\": 41.67273907010728,\n              \"lng\": -91.57268112989271\n            }\n          }\n        },\n        \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png\",\n        \"icon_background_color\": \"#7B9EB0\",\n        \"icon_mask_base_uri\": \"https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet\",\n        \"name\": \"K&G Digital 360\",\n        \"opening_hours\": {\n          \"open_now\": true\n        },\n        \"photos\": [\n          {\n            \"height\": 1764,\n            \"html_attributions\": [\n              \"<a href=\\\"https://maps.google.com/maps/contrib/116591830043492876111\\\">K&amp;G Digital 360</a>\"\n            ],\n            \"photo_reference\": \"AWn5SU4e6Pu9zockW04AEFw43zOzf_XY9g3_xNjEhhpT01HXDVfP-yiKbFG7JBMheModObLZHkBJ3V-_RGS3c_zVQEnWHvMh-G6ZilaAJGUkeGflS1YMJg1Npfpsfj7s_wfEl1vyqTfjaQrSxr3M-CSCxaBHeY0rJyqgPx8PjzNmMmSZRJ4-q1gE3rWIWrqSH1UlgGytiQMKV18guGAYpHQBctqNSTZtpgy7ZS2Uc9-ufRcvox5hnoWrAarF4a3LbIF_hi_GjFntxR0lIL0Gmjv0fIq9EdlM4XcviYVabjT84RIYb0F4vYQ\",\n            \"width\": 2160\n          }\n        ],\n        \"place_id\": \"ChIJMaBZBynfuocR7SuDLpqfpNY\",\n        \"rating\": 4.9,\n        \"reference\": \"ChIJMaBZBynfuocR7SuDLpqfpNY\",\n        \"types\": [\n          \"point_of_interest\",\n          \"establishment\"\n        ],\n        \"user_ratings_total\": 231\n      }"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[960,1664],"id":"aac8f238-cb13-4fd3-914d-30453601cb09","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all().map(i => i.json || {});\n\n// Extract only the `output` object from each item\nconst extracted = items\n  .map(i => i.output || null)\n  .filter(o => o && typeof o === 'object');\n\n// Clean phone number\nfunction cleanPhone(raw) {\n  if (!raw) return null;\n  try {\n    const digits = String(raw).replace(/[^0-9]/g, '');\n    return digits.length ? digits : null;\n  } catch {\n    return null;\n  }\n}\n\nconst results = extracted.map(item => {\n  const email = item.email || item.Email || null;\n  const contact = cleanPhone(item.contact || item.Contact || item.phone || item.Phone);\n\n  let name = item.name || item.Name || '';\n  if (!name) {\n    const fn = item.firstname || '';\n    const ln = item.lastname || '';\n    name = `${fn} ${ln}`.trim();\n  }\n\n  return {\n    name: name || null,\n    email: email || null,\n    contact: contact,\n    website: item.website || null,\n    description: item.description || null,\n    firstname: item.firstname || null,\n    lastname: item.lastname || null,\n    location: item.location || null,\n    facebook: item.facebook || null,\n    instagram: item.instagram || null,\n    twitter: item.twitter || null\n  };\n});\n\n// Filter: keep only entries with email OR contact\nconst finalResults = results.filter(r => (r.email || r.contact));\n\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: finalResults.length,\n      results: finalResults\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,624],"id":"032bb348-7c37-4209-b561-08ce024e6a80","name":"Format Final Response3"},{"parameters":{"jsCode":"// Limit input to first 8 items only\nconst items = $input.all().slice(0, 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,1840],"id":"28c5eb82-d5f3-4c55-b882-3a2e72bd99a7","name":"Limit Input to 8 Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1536,1808],"id":"f9527ee3-a6f5-4d86-902d-8ddcbfc902f7","name":"Loop Over Items2"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2096,1824],"id":"a906207f-63dc-4dfd-97e8-682d6caee5d5","name":"Get Details3"},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details3').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2624,1824],"id":"5cea6b62-1416-4271-87ca-b3d782f41111","name":"AI Agent - Extract Data1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2592,2048],"id":"84eb0e0c-e7fe-42c3-8203-d1b2641edd28","name":"Gemini Model1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2832,2080],"id":"ce59497e-6226-4416-a9e6-d0ef289cdc5e","name":"Structured Output Parser3"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2832,2256],"id":"9629636c-ddb0-4113-ae94-8fbbe7bc1801","name":"Output Fixer3","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2112,1648],"id":"c5d1ca0f-ff49-49e2-8291-ce2a76818a6c","name":"Aggregate Loop Results1"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all().map(i => i.json || {});\n\n// Extract only the `output` object from each item\nconst extracted = items\n .map(i => i.output || null)\n .filter(o => o && typeof o === 'object');\n\n// Clean phone number\nfunction cleanPhone(raw) {\n if (!raw) return null;\n try {\n const digits = String(raw).replace(/[^0-9]/g, '');\n return digits.length ? digits : null;\n } catch {\n return null;\n }\n}\n\nconst results = extracted.map(item => {\n const email = item.email || item.Email || null;\n const contact = cleanPhone(item.contact || item.Contact || item.phone || item.Phone);\n\n let name = item.name || item.Name || '';\n if (!name) {\n const fn = item.firstname || '';\n const ln = item.lastname || '';\n name = `${fn} ${ln}`.trim();\n }\n\n return {\n name: name || null,\n email: email || null,\n contact: contact,\n website: item.website || null,\n description: item.description || null,\n firstname: item.firstname || null,\n lastname: item.lastname || null,\n location: item.location || null,\n facebook: item.facebook || null,\n instagram: item.instagram || null,\n twitter: item.twitter || null\n };\n});\n\n// Filter: keep only entries with email OR contact\nconst finalResults = results.filter(r => (r.email || r.contact));\n\nreturn [\n {\n json: {\n success: true,\n totalProcessed: finalResults.length,\n results: finalResults\n }\n }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,1648],"id":"05dbd139-4590-4477-a18f-7f98153f696b","name":"Format Final Response4"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[2352,1808],"id":"721b0532-269a-465d-a322-81e0ec08218f","name":"Scrape Website Content1","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}}],"connections":{"Get Details":{"main":[[{"node":"Scrape a url and get its content","type":"main","index":0}]]},"Scrape a url and get its content":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Gemini 1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Output Fixer":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Details1":{"main":[[{"node":"Scrape a url and get its content1","type":"main","index":0}]]},"Scrape a url and get its content1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Gemini ":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Output Fixer1":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Get Details1","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Scrape Website Content":{"main":[[{"node":"AI Agent - Extract Data","type":"main","index":0}]]},"AI Agent - Extract Data":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"AI Agent - Extract Data","type":"ai_languageModel","index":0}]]},"Aggregate Loop Results":{"main":[[{"node":"Format Final Response3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate Loop Results","type":"main","index":0}],[{"node":"Get Details2","type":"main","index":0}]]},"Get Details2":{"main":[[{"node":"Scrape Website Content","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent - Extract Data","type":"ai_outputParser","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Limit Input to 8 Items","type":"main","index":0}]]},"Output Fixer2":{"ai_languageModel":[[{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Limit Input to 8 Items":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate Loop Results1","type":"main","index":0}],[{"node":"Get Details3","type":"main","index":0}]]},"Get Details3":{"main":[[{"node":"Scrape Website Content1","type":"main","index":0}]]},"AI Agent - Extract Data1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Gemini Model1":{"ai_languageModel":[[{"node":"AI Agent - Extract Data1","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent - Extract Data1","type":"ai_outputParser","index":0}]]},"Output Fixer3":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"Aggregate Loop Results1":{"main":[[]]},"Scrape Website Content1":{"main":[[{"node":"AI Agent - Extract Data1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb89cbdc-0ff4-46ee-acdc-41a13520df89","activeVersionId":"eb89cbdc-0ff4-46ee-acdc-41a13520df89","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T08:52:47.425Z","createdAt":"2025-12-01T08:52:47.425Z","role":"workflow:owner","workflowId":"huOQdtdUkEmZRVYW","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":{"updatedAt":"2025-12-11T11:32:04.260Z","createdAt":"2025-12-11T11:32:04.260Z","versionId":"eb89cbdc-0ff4-46ee-acdc-41a13520df89","workflowId":"huOQdtdUkEmZRVYW","nodes":[{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,-16],"id":"8df569ce-9632-4053-a141-95c5f5930652","name":"Get Details"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[880,-16],"id":"a37ccd22-0a1d-4cf4-a663-458355db7ccc","name":"Scrape a url and get its content","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1136,-16],"id":"cc5c22dc-111c-409b-aab8-adfd1d0c605c","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1136,160],"id":"6694ff64-7098-4890-8ae9-076cd75eef87","name":"Gemini 1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1200,256],"id":"8918d2b5-dac1-4c90-a7be-a84dfc24c7d4","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,416],"id":"3ad3332e-c10a-4153-9d77-f167ecc740c0","name":"Output Fixer","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1592693098,"mode":"list","cachedResultName":"Testing-MCPCompanyName firstname Lastname Email Contact Website Location","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=1592693098"},"columns":{"mappingMode":"defineBelow","value":{"CompanyName":"={{ $json.output.name || $('Get Details').item.json.result.name}}","Location":"={{ $json.output.location }}","firstname":"={{ $json.output.firstname }}","Lastname":"={{ $json.output.lastname }}","Email":"={{ $json.output.email }}","Contact":"={{ $json.output.contact || $('Get Details').item.json.result.formatted_phone_number}}","Website":"={{ $('Get Details').item.json.result.website }}"},"matchingColumns":[],"schema":[{"id":"CompanyName","displayName":"CompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lastname","displayName":"Lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,-32],"id":"62a0e20e-7b75-4e05-8618-f3b02bf90a98","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1744,-16],"id":"a100aaca-b996-4a24-a20b-530e62cd2acf","name":"Wait","webhookId":"7f2590bf-b2e6-4f62-affb-cc48a0ea49db"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nlet aggregatedData = $input.first().json.data || [];\n\n// Normalize to array if a single object\nif (!Array.isArray(aggregatedData)) {\n  if (aggregatedData && typeof aggregatedData === 'object') aggregatedData = [aggregatedData];\n  else aggregatedData = [];\n}\n\nfunction cleanPhone(raw) {\n  if (raw === undefined || raw === null) return null;\n  try {\n    return String(raw).replace(/[^0-9]/g, '') || null;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction normalizeStatus(s) {\n  if (!s && s !== 0) return 'FAILED';\n  const t = String(s).trim().toUpperCase();\n  return t === 'SENT' ? 'SENT' : 'FAILED';\n}\n\nconst mapped = aggregatedData.map(item => {\n  // prefer item.Email, but also accept other common email keys\n  const email = item.Email || item.email || item.EmailAddress || null;\n\n  // prefer several possible phone fields\n  const phoneRaw = item.Contact || item.contact || item.Phone || item.phone || item.phone_number || item.telephone || item.telephone_number || item.formatted_phone_number || null;\n  const contact = cleanPhone(phoneRaw);\n\n  const status = normalizeStatus(item.Status || item.status || null);\n\n  const main = {\n    Name: item.Name || item.name || item.CompanyName || '',\n    Email: email || '',\n    Company: item.Company || item.company || item.CompanyName || '',\n    Website: item.Website || item.website || item.Site || '',\n    Sector: item.Sector || item.sector || '',\n    Country: item.Country || item.country || '',\n    Location: item.Location || item.location || item.Address || '',\n    Contact: contact,\n    Status: status,\n    SentOn: item.SentOn || item.sentOn || item.Sent_On || item.sent_on || ''\n  };\n\n  // Collect extras (preserve any other dynamic fields)\n  const extras = {};\n  Object.keys(item).forEach(k => {\n    if (!['Name','name','Email','email','EmailAddress','Company','company','CompanyName','Website','website','Site','Sector','sector','Country','country','Location','location','Address','Contact','contact','Phone','phone','phone_number','telephone','telephone_number','formatted_phone_number','Status','status','SentOn','sentOn','Sent_On','sent_on'].includes(k)) {\n      extras[k] = item[k];\n    }\n  });\n\n  return {\n    ...main,\n    extras: Object.keys(extras).length ? extras : null\n  };\n});\n\n// Filter: keep only items with Email OR Contact (digits-only)\nconst allResults = mapped.filter(r => (r.Email && String(r.Email).trim() !== '') || (r.Contact && String(r.Contact).trim() !== ''));\n\n// Count sent vs failed\nlet sentCount = 0;\nlet failedCount = 0;\nallResults.forEach(r => {\n  if (String(r.Status).toUpperCase() === 'SENT') sentCount++;\n  else failedCount++;\n});\n\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,0],"id":"6133f0ce-eb63-40de-b0a4-6f313233039c","name":"Format Final Response1"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[592,752],"id":"25b14019-a768-471d-8330-41264d6d7cc8","name":"Get Details1"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[864,752],"id":"b215b6e7-4278-46f3-8170-f79de0a21aef","name":"Scrape a url and get its content1","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details1').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1120,752],"id":"23c05e64-d6a7-4284-ba9b-a2e6bafde6d6","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1104,1136],"id":"b7ea99a9-12ef-45d1-b747-d23b3ed2fc80","name":"Gemini ","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1168,1232],"id":"1f37d638-2e32-48ac-914f-b6d427c1ae8a","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1168,1392],"id":"109eb5c1-a50c-497f-aeb6-03fefe75be2c","name":"Output Fixer1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsCode":"// Robust Code for n8n Code node: handles multiple input shapes and flattens arrays\n\n// Collect all incoming items as JSON objects\nconst items = $input.all().map(i => i.json || {});\n\n// Helper: convert various possible container shapes into a flat array of objects\nfunction extractObjects(obj) {\n  if (obj === undefined || obj === null) return [];\n  // If object has a .data or .output which is an array or single object, prefer those\n  const candidates = ['data', 'output', 'results', 'items'];\n  for (const key of candidates) {\n    if (obj[key] !== undefined && obj[key] !== null) {\n      const v = obj[key];\n      if (Array.isArray(v)) return v;\n      if (typeof v === 'object') return [v];\n    }\n  }\n  // If obj itself is an array\n  if (Array.isArray(obj)) return obj;\n  // Otherwise treat obj as single item\n  return [obj];\n}\n\n// Build aggregatedData by extracting from each incoming item and concatenating\nlet aggregatedData = [];\nfor (const it of items) {\n  aggregatedData = aggregatedData.concat(extractObjects(it));\n}\n\n// If nothing found, aggregatedData stays empty\nif (!Array.isArray(aggregatedData)) aggregatedData = [];\n\n// Utilities\nfunction cleanPhone(raw) {\n  if (raw === undefined || raw === null) return null;\n  try {\n    const digits = String(raw).replace(/[^0-9]/g, '');\n    return digits.length ? digits : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction normalizeStatus(s) {\n  if (!s && s !== 0) return 'FAILED';\n  const t = String(s).trim().toUpperCase();\n  return t === 'SENT' ? 'SENT' : 'FAILED';\n}\n\n// Map each item to canonical shape\nconst mapped = aggregatedData.map(item => {\n  // item might not be a plain object in some cases - guard\n  item = item || {};\n\n  // email could be in several properties\n  const email = item.Email || item.email || item.EmailAddress || item.email_address || null;\n\n  // contact / phone variants\n  const phoneRaw = item.Contact || item.contact || item.Phone || item.phone || item.phone_number || item.telephone || item.telephone_number || item.formatted_phone_number || null;\n  const contact = cleanPhone(phoneRaw);\n\n  const status = normalizeStatus(item.Status || item.status || null);\n\n  // Name fallback: prefer Name, then firstname+lastname, then company\n  let name = item.Name || item.name || '';\n  if (!name) {\n    const fn = item.firstname || item.firstName || item.first_name || item.first || '';\n    const ln = item.lastname || item.lastName || item.last_name || item.last || '';\n    const full = `${fn}`.trim() + (fn && ln ? ' ' : '') + `${ln}`.trim();\n    if (full.trim()) name = full.trim();\n  }\n  if (!name) name = item.CompanyName || item.company || item.Company || '';\n\n  const main = {\n    Name: name || '',\n    Email: email || '',\n    Company: item.Company || item.company || item.CompanyName || '',\n    Website: item.Website || item.website || item.Site || item.url || '',\n    Sector: item.Sector || item.sector || '',\n    Country: item.Country || item.country || '',\n    Location: item.Location || item.location || item.Address || '',\n    Contact: contact,\n    Status: status,\n    SentOn: item.SentOn || item.sentOn || item.Sent_On || item.sent_on || ''\n  };\n\n  // preserve other fields as extras\n  const knownKeys = new Set([\n    'Name','name','firstname','firstName','first_name','first','lastname','lastName','last_name','last',\n    'Email','email','EmailAddress','email_address',\n    'Company','company','CompanyName',\n    'Website','website','Site','url',\n    'Sector','sector',\n    'Country','country',\n    'Location','location','Address',\n    'Contact','contact','Phone','phone','phone_number','telephone','telephone_number','formatted_phone_number',\n    'Status','status','SentOn','sentOn','Sent_On','sent_on'\n  ]);\n\n  const extras = {};\n  Object.keys(item).forEach(k => {\n    if (!knownKeys.has(k)) extras[k] = item[k];\n  });\n\n  return {\n    ...main,\n    extras: Object.keys(extras).length ? extras : null\n  };\n});\n\n// Filter: keep items that have an email or a phone digits-only contact\nconst allResults = mapped.filter(r => (r.Email && String(r.Email).trim() !== '') || (r.Contact && String(r.Contact).trim() !== ''));\n\n// Count sent vs failed\nlet sentCount = 0;\nlet failedCount = 0;\nallResults.forEach(r => {\n  if (String(r.Status).toUpperCase() === 'SENT') sentCount++;\n  else failedCount++;\n});\n\n// Return single output item with the summary and results\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,576],"id":"5d444c36-d120-49a7-81b6-9c04f4c0ecda","name":"Format Final Response"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,736],"id":"e74f699d-ea09-4690-a88a-7cd363c00b96","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,576],"id":"f85e0383-ffc3-4bbe-b135-41d566b5a1d8","name":"Aggregate All Results"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[2560,800],"id":"cbee2223-6b5e-4caf-befd-99d9089c1aca","name":"Scrape Website Content","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details2').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2816,800],"id":"a7b14d6a-7366-4d6c-8cab-74565c240399","name":"AI Agent - Extract Data"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2784,1024],"id":"70ac2949-7269-4230-afd8-43fa5b6fd42e","name":"Gemini Model","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2304,624],"id":"19832170-b0b0-45f1-9c56-6861918f3e1b","name":"Aggregate Loop Results"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2000,816],"id":"c67f728c-0162-4f69-b086-7941ec45c57b","name":"Loop Over Items1"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2288,800],"id":"f189f6e3-e5de-4a19-9e5b-b03de7338cde","name":"Get Details2"},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2864,1104],"id":"f97e5636-0470-4cfc-ab57-cf5768e5b87d","name":"Structured Output Parser2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2864,1264],"id":"8e1dc68f-da65-4c53-bd33-c4e4b8d78f00","name":"Output Fixer2","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsCode":"// Process aggregated data from all loop iterations\nconst items = $input.all().map(i => i.json || {});\n\nfunction extractObjects(obj) {\n if (obj === undefined || obj === null) return [];\n const candidates = ['data', 'output', 'results', 'items'];\n for (const key of candidates) {\n if (obj[key] !== undefined && obj[key] !== null) {\n const v = obj[key];\n if (Array.isArray(v)) return v;\n if (typeof v === 'object') return [v];\n }\n }\n if (Array.isArray(obj)) return obj;\n return [obj];\n}\n\nlet aggregatedData = [];\nfor (const it of items) {\n aggregatedData = aggregatedData.concat(extractObjects(it));\n}\n\nif (!Array.isArray(aggregatedData)) aggregatedData = [];\n\nfunction cleanPhone(raw) {\n if (raw === undefined || raw === null) return null;\n try {\n const digits = String(raw).replace(/[^0-9]/g, '');\n return digits.length ? digits : null;\n } catch (e) {\n return null;\n }\n}\n\nconst mapped = aggregatedData.map(item => {\n item = item || {};\n const email = item.Email || item.email || item.EmailAddress || item.email_address || null;\n const phoneRaw = item.Contact || item.contact || item.Phone || item.phone || item.phone_number || item.telephone || item.telephone_number || item.formatted_phone_number || null;\n const contact = cleanPhone(phoneRaw);\n\n let name = item.Name || item.name || item.name_here || '';\n if (!name) {\n const fn = item.firstname || item.firstName || item.first_name || item.first || '';\n const ln = item.lastname || item.lastName || item.last_name || item.last || '';\n const full = `${fn}`.trim() + (fn && ln ? ' ' : '') + `${ln}`.trim();\n if (full.trim()) name = full.trim();\n }\n if (!name) name = item.CompanyName || item.company || item.Company || '';\n\n return {\n name: name || null,\n email: email || null,\n contact: contact,\n website: item.website || item.Website || null,\n description: item.description || item.Description || null,\n firstname: item.firstname || null,\n lastname: item.lastname || null,\n location: item.location || item.Location || null,\n facebook: item.facebook || null,\n instagram: item.instagram || null,\n twitter: item.twitter || null\n };\n});\n\nconst allResults = mapped.filter(r => \n (r.email && String(r.email).trim() !== '') || \n (r.contact && String(r.contact).trim() !== '')\n);\n\nreturn [\n {\n json: {\n success: true,\n totalProcessed: allResults.length,\n results: allResults\n }\n }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,976],"id":"6592af31-f6a5-4ef8-8c9d-08db51cf9a4b","name":"Format Final Response2"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n        \"business_status\": \"OPERATIONAL\",\n        \"formatted_address\": \"4th Ave, Coralville, IA 52241, United States\",\n        \"geometry\": {\n          \"location\": {\n            \"lat\": 41.6740889,\n            \"lng\": -91.5713313\n          },\n          \"viewport\": {\n            \"northeast\": {\n              \"lat\": 41.67543872989273,\n              \"lng\": -91.56998147010727\n            },\n            \"southwest\": {\n              \"lat\": 41.67273907010728,\n              \"lng\": -91.57268112989271\n            }\n          }\n        },\n        \"icon\": \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png\",\n        \"icon_background_color\": \"#7B9EB0\",\n        \"icon_mask_base_uri\": \"https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet\",\n        \"name\": \"K&G Digital 360\",\n        \"opening_hours\": {\n          \"open_now\": true\n        },\n        \"photos\": [\n          {\n            \"height\": 1764,\n            \"html_attributions\": [\n              \"<a href=\\\"https://maps.google.com/maps/contrib/116591830043492876111\\\">K&amp;G Digital 360</a>\"\n            ],\n            \"photo_reference\": \"AWn5SU4e6Pu9zockW04AEFw43zOzf_XY9g3_xNjEhhpT01HXDVfP-yiKbFG7JBMheModObLZHkBJ3V-_RGS3c_zVQEnWHvMh-G6ZilaAJGUkeGflS1YMJg1Npfpsfj7s_wfEl1vyqTfjaQrSxr3M-CSCxaBHeY0rJyqgPx8PjzNmMmSZRJ4-q1gE3rWIWrqSH1UlgGytiQMKV18guGAYpHQBctqNSTZtpgy7ZS2Uc9-ufRcvox5hnoWrAarF4a3LbIF_hi_GjFntxR0lIL0Gmjv0fIq9EdlM4XcviYVabjT84RIYb0F4vYQ\",\n            \"width\": 2160\n          }\n        ],\n        \"place_id\": \"ChIJMaBZBynfuocR7SuDLpqfpNY\",\n        \"rating\": 4.9,\n        \"reference\": \"ChIJMaBZBynfuocR7SuDLpqfpNY\",\n        \"types\": [\n          \"point_of_interest\",\n          \"establishment\"\n        ],\n        \"user_ratings_total\": 231\n      }"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[960,1664],"id":"aac8f238-cb13-4fd3-914d-30453601cb09","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all().map(i => i.json || {});\n\n// Extract only the `output` object from each item\nconst extracted = items\n  .map(i => i.output || null)\n  .filter(o => o && typeof o === 'object');\n\n// Clean phone number\nfunction cleanPhone(raw) {\n  if (!raw) return null;\n  try {\n    const digits = String(raw).replace(/[^0-9]/g, '');\n    return digits.length ? digits : null;\n  } catch {\n    return null;\n  }\n}\n\nconst results = extracted.map(item => {\n  const email = item.email || item.Email || null;\n  const contact = cleanPhone(item.contact || item.Contact || item.phone || item.Phone);\n\n  let name = item.name || item.Name || '';\n  if (!name) {\n    const fn = item.firstname || '';\n    const ln = item.lastname || '';\n    name = `${fn} ${ln}`.trim();\n  }\n\n  return {\n    name: name || null,\n    email: email || null,\n    contact: contact,\n    website: item.website || null,\n    description: item.description || null,\n    firstname: item.firstname || null,\n    lastname: item.lastname || null,\n    location: item.location || null,\n    facebook: item.facebook || null,\n    instagram: item.instagram || null,\n    twitter: item.twitter || null\n  };\n});\n\n// Filter: keep only entries with email OR contact\nconst finalResults = results.filter(r => (r.email || r.contact));\n\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: finalResults.length,\n      results: finalResults\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,624],"id":"032bb348-7c37-4209-b561-08ce024e6a80","name":"Format Final Response3"},{"parameters":{"jsCode":"// Limit input to first 8 items only\nconst items = $input.all().slice(0, 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,1840],"id":"28c5eb82-d5f3-4c55-b882-3a2e72bd99a7","name":"Limit Input to 8 Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1536,1808],"id":"f9527ee3-a6f5-4d86-902d-8ddcbfc902f7","name":"Loop Over Items2"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"name,formatted_phone_number,website,formatted_address,rating,business_status"},{"name":"key","value":"AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos"},{"name":"place_id","value":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2096,1824],"id":"a906207f-63dc-4dfd-97e8-682d6caee5d5","name":"Get Details3"},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\nJSON : {{ $('Get Details3').item.json.result }}\n\nread above markdown and JSON Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nif you don't found any data for prop return null for that prop and format number as 1234567890, no symbols and no spaces in number. avoid not available, not found, N/A, Unknown etc and keywords like this","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2624,1824],"id":"5cea6b62-1416-4271-87ca-b3d782f41111","name":"AI Agent - Extract Data1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2592,2048],"id":"84eb0e0c-e7fe-42c3-8203-d1b2641edd28","name":"Gemini Model1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2832,2080],"id":"ce59497e-6226-4416-a9e6-d0ef289cdc5e","name":"Structured Output Parser3"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2832,2256],"id":"9629636c-ddb0-4113-ae94-8fbbe7bc1801","name":"Output Fixer3","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2112,1648],"id":"c5d1ca0f-ff49-49e2-8291-ce2a76818a6c","name":"Aggregate Loop Results1"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all().map(i => i.json || {});\n\n// Extract only the `output` object from each item\nconst extracted = items\n .map(i => i.output || null)\n .filter(o => o && typeof o === 'object');\n\n// Clean phone number\nfunction cleanPhone(raw) {\n if (!raw) return null;\n try {\n const digits = String(raw).replace(/[^0-9]/g, '');\n return digits.length ? digits : null;\n } catch {\n return null;\n }\n}\n\nconst results = extracted.map(item => {\n const email = item.email || item.Email || null;\n const contact = cleanPhone(item.contact || item.Contact || item.phone || item.Phone);\n\n let name = item.name || item.Name || '';\n if (!name) {\n const fn = item.firstname || '';\n const ln = item.lastname || '';\n name = `${fn} ${ln}`.trim();\n }\n\n return {\n name: name || null,\n email: email || null,\n contact: contact,\n website: item.website || null,\n description: item.description || null,\n firstname: item.firstname || null,\n lastname: item.lastname || null,\n location: item.location || null,\n facebook: item.facebook || null,\n instagram: item.instagram || null,\n twitter: item.twitter || null\n };\n});\n\n// Filter: keep only entries with email OR contact\nconst finalResults = results.filter(r => (r.email || r.contact));\n\nreturn [\n {\n json: {\n success: true,\n totalProcessed: finalResults.length,\n results: finalResults\n }\n }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,1648],"id":"05dbd139-4590-4477-a18f-7f98153f696b","name":"Format Final Response4"},{"parameters":{"operation":"scrape","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[2352,1808],"id":"721b0532-269a-465d-a322-81e0ec08218f","name":"Scrape Website Content1","retryOnFail":true,"maxTries":2,"credentials":{"firecrawlApi":{"id":"WkysjIJrDojQm9I9","name":"Firecrawl account 4 shubham"}}}],"connections":{"Get Details":{"main":[[{"node":"Scrape a url and get its content","type":"main","index":0}]]},"Scrape a url and get its content":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Gemini 1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Output Fixer":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Details1":{"main":[[{"node":"Scrape a url and get its content1","type":"main","index":0}]]},"Scrape a url and get its content1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Gemini ":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Output Fixer1":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Get Details1","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Scrape Website Content":{"main":[[{"node":"AI Agent - Extract Data","type":"main","index":0}]]},"AI Agent - Extract Data":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"AI Agent - Extract Data","type":"ai_languageModel","index":0}]]},"Aggregate Loop Results":{"main":[[{"node":"Format Final Response3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate Loop Results","type":"main","index":0}],[{"node":"Get Details2","type":"main","index":0}]]},"Get Details2":{"main":[[{"node":"Scrape Website Content","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent - Extract Data","type":"ai_outputParser","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Limit Input to 8 Items","type":"main","index":0}]]},"Output Fixer2":{"ai_languageModel":[[{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Limit Input to 8 Items":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate Loop Results1","type":"main","index":0}],[{"node":"Get Details3","type":"main","index":0}]]},"Get Details3":{"main":[[{"node":"Scrape Website Content1","type":"main","index":0}]]},"AI Agent - Extract Data1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Gemini Model1":{"ai_languageModel":[[{"node":"AI Agent - Extract Data1","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent - Extract Data1","type":"ai_outputParser","index":0}]]},"Output Fixer3":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"Aggregate Loop Results1":{"main":[[]]},"Scrape Website Content1":{"main":[[{"node":"AI Agent - Extract Data1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}