linkedin-posting-api-oWk31M20RUGXhqa2.json
{"updatedAt":"2026-01-22T10:49:30.583Z","createdAt":"2026-01-02T08:52:39.637Z","id":"oWk31M20RUGXhqa2","name":"LinkedIn Posting API","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"linkedin/post","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-16],"id":"9e09dd54-3b78-46e6-afef-4ac09f61b1a7","name":"Webhook","webhookId":"8880cfd1-9c92-4189-bbd0-deb24ecc072d"},{"parameters":{"operation":"get","tableId":"social_media_connections","filters":{"conditions":[{"keyName":"project_id","keyValue":"={{ $json.body.projectId }}"},{"keyName":"organization_id","keyValue":"={{ $json.body.organisationId }}"},{"keyName":"platform","keyValue":"linkedin"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-336,-16],"id":"7ab8fd31-4bd6-4d12-b0b6-a3bd762efe1f","name":"Get access token from db","credentials":{"supabaseApi":{"id":"2YtqDxMv6XZl6OCT","name":"Supabase production account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"65bd9b32-72ef-4d86-9ff9-65b533b5c605","leftValue":"={{ $json.access_token_encrypted }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-128,-16],"id":"e3fedebf-1f20-47cc-80e3-6ae17d007ac2","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": false,\n  \"errormessage\":\"invalid project or organisation\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[128,80],"id":"c0504cbe-520a-4ba9-a542-7dbc0d06e9c8","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://app.uxboost.ai/api/oauth/decrypt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"organisationid","value":"={{ $('Webhook').item.json.body.organisationId }}"},{"name":"projectid","value":"={{ $('Webhook').item.json.body.projectId }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"EncryptedToken","value":"={{ $('Get access token from db').item.json.access_token_encrypted }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,-160],"id":"221f5686-f0b3-457e-9c4a-c349b2000571","name":"Decrypt Token"},{"parameters":{"functionCode":"const response = $input.first().json;\n\nreturn {\n  success: true,\n  message: 'Post published successfully to LinkedIn',\n  postId: response.id || 'unknown',\n  timestamp: new Date().toISOString()\n};"},"id":"1f63e26b-0038-4ae1-a8f9-509b74bcb5df","name":"Success Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1136,-256]},{"parameters":{"functionCode":"const error = $input.first().json;\n\nreturn {\n  success: false,\n  message: 'Failed to post to LinkedIn',\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};"},"id":"ceaaf7b6-3083-470b-8724-fb44ef2e4430","name":"Error Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1136,-64]},{"parameters":{"respondWith":"json","responseBody":"=\n{\n\"success\": {{ $json.success }},\n\"message\": \"Post published successfully to LinkedIn\", \n\"postid\" :  \"{{ $json.postId }}\",\n\"timestamp\":\"{{ $json.timestamp }}\"\n}","options":{"responseCode":200}},"id":"78df8b9c-13f2-4b61-97fa-ed27c4eb5020","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1424,-256]},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Decrypt Token').item.json.decrypted_token }}"},{"name":"X-Restli-Protocol-Version","value":"2.0.0"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n      \"com.linkedin.ugc.ShareContent\": {\n        \"shareCommentary\": {\n          \"text\": \"{{ $('Webhook').item.json.body.Content }}\"\n        },\n        \"shareMediaCategory\": \"NONE\"\n      }\n    },\n    \"visibility\": {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  } ","options":{"redirect":{"redirect":{}}}},"id":"2369213a-b745-499d-a5ab-9942c4701a5e","name":"Post to LinkedIn2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[704,-160]},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.decrypted_token }}"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"options":{"redirect":{"redirect":{}}}},"id":"70bbb05d-62cc-47ae-9190-8db793daa3e4","name":"Get Userinfo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,-160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4e6e5849-1d84-456d-8408-05beb3aa4841","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-160],"id":"7926020b-b175-4590-a0c1-dffaf3bafe93","name":"If1"},{"parameters":{"respondWith":"json","responseBody":"={\n\"success\": {{ $json.success }},\n\"message\": \"Failed to post to LinkedIn\",\n\"timestamp\":\"{{ $json.timestamp }}\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1424,-64],"id":"91d08b1b-3559-4b20-b3b9-b0853ad5eb70","name":"Respond to Webhook2"}],"connections":{"Webhook":{"main":[[{"node":"Get access token from db","type":"main","index":0}]]},"Get access token from db":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Decrypt Token","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Error Response1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Post to LinkedIn2":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get Userinfo":{"main":[[{"node":"Post to LinkedIn2","type":"main","index":0}]]},"Decrypt Token":{"main":[[{"node":"Get Userinfo","type":"main","index":0}]]},"If1":{"main":[[{"node":"Success Response1","type":"main","index":0}],[{"node":"Error Response1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5c57469-e707-4faa-930e-096878ae7ecd","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-02T08:52:39.637Z","createdAt":"2026-01-02T08:52:39.637Z","role":"workflow:owner","workflowId":"oWk31M20RUGXhqa2","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":null,"tags":[]}