linkedin-blog-post-auto-XP1abXDzosORhOqN.json
{"updatedAt":"2025-12-12T12:18:57.468Z","createdAt":"2025-12-12T10:39:35.070Z","id":"XP1abXDzosORhOqN","name":"LinkedIn Blog Post Auto","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"1854ca6c-a0cb-4897-ba68-89a628bdf1a3","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1136,96],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in IST timezone\nconst now = new Date();\n\n// Convert to IST (UTC +5:30)\nconst istOffsetMinutes = 330; // 5.5 hours\nconst istTime = new Date(now.getTime() + istOffsetMinutes * 60 * 1000);\n\n// Build timestamp in required format but with +00:00 offset\nconst year = istTime.getUTCFullYear();\nconst month = String(istTime.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istTime.getUTCDate()).padStart(2, '0');\nconst hours = String(istTime.getUTCHours()).padStart(2, '0');\nconst minutes = String(istTime.getUTCMinutes()).padStart(2, '0');\nconst seconds = String(istTime.getUTCSeconds()).padStart(2, '0');\n\n// Final required format: YYYY-MM-DDTHH:mm:ss+00:00\nconst formatted = `${year}-${month}-${day} ${hours}:${minutes}`;\n\nreturn { currentDate: formatted };\n"},"id":"0deffe63-74f5-4c72-a258-d05e03c113d9","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,96],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"documentId":{"__rl":true,"value":"1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Schedule Time (Local)","lookupValue":"={{ $json.currentDate }}"},{"lookupColumn":"Status","lookupValue":"scheduled"}]},"options":{}},"id":"4456e77e-8024-46c5-b938-d8c69fd254de","name":"Get Sheet Row by Date","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-576,96],"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}},"notes":"Searches for row with today's date in the 'Date' column"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-row-found","leftValue":"={{ $json['Blog Content'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"beac0578-8eef-4dd7-a8e2-991de1236172","name":"Check If Post Data Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[592,112],"notesInFlow":true,"notes":"Checks if a row exists with valid date and image URL"},{"parameters":{"person":"rIt1tOcqlf","text":"={{ $('Get Sheet Row by Date').item.json['Blog Content'] || 'Check out today\\'s post! 🚀' }}","additionalFields":{}},"id":"e290bae1-0bbd-4ff0-8745-4c02952999a3","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[928,96],"notesInFlow":true,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}},"notes":"Posts image with description from Google Sheet to LinkedIn"},{"parameters":{"jsCode":"// Get the response from the LinkedIn node\nconst response = $input.first().json.urn;\n\n// Check if 'urn:li:share:' exists in the response\nif (response && response.startsWith('urn:li:share:')) {\n  return [{ status: 'SENT', message: 'Post successfully published on LinkedIn', shareId: response }];\n} else {\n  return [{ status: 'FAILED', message: 'LinkedIn post not created', rawResponse: response }];}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,96],"id":"d46025a0-e15d-4091-8544-40caa1988721","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,96],"id":"fcf2b6e6-34aa-4910-bf7c-192a6b43a593","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.status }}","artifactId":"={{ $('Loop Over Items').item.json.artifactId }}","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"artifactId","displayName":"artifactId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created Date","displayName":"Created Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Updated Date","displayName":"Updated Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Schedule Time (Local)","displayName":"Schedule Time (Local)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SEO Keywords","displayName":"SEO Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target Audience","displayName":"Target Audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Purpose","displayName":"Purpose","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Blog Content","displayName":"Blog Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images (GCS URIs)","displayName":"Images (GCS URIs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images (Drive IDs)","displayName":"Images (Drive IDs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Social Post IDs","displayName":"Social Post IDs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1536,96],"id":"ab9683fb-92de-46c6-82cc-fb82d271859d","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Get Sheet Row by Date","type":"main","index":0}]]},"Get Sheet Row by Date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Check If Post Data Found":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Check If Post Data Found","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1cc017a4-57cb-49c4-a4cd-0f0e075e5814","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T10:39:35.070Z","createdAt":"2025-12-12T10:39:35.070Z","role":"workflow:owner","workflowId":"XP1abXDzosORhOqN","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":null,"tags":[]}