linkedin-posting-by-api-testing-HKtpnG0nY3arq1oP.json
{"updatedAt":"2026-01-23T06:44:18.142Z","createdAt":"2026-01-23T06:44:18.142Z","id":"HKtpnG0nY3arq1oP","name":"LinkedIn-posting-by-API Testing","active":false,"isArchived":false,"nodes":[{"parameters":{"functionCode":"// Extract payload and credentials\nconst payload = $input.first().json;\n\nconst postContent = payload.content || '';\nconst accessToken = payload.accessToken || '';\nconst linkedinUserId = payload.linkedinUserId || '';\nconst mediaUrl = payload.mediaUrl || null; // Optional image/video URL\n\n// Validate required fields\nif (!postContent) {\n  throw new Error('Missing required field: content');\n}\n\nif (!accessToken) {\n  throw new Error('Missing required field: accessToken');\n}\n\nif (!linkedinUserId) {\n  throw new Error('Missing required field: linkedinUserId');\n}\n\nreturn {\n  postContent,\n  accessToken,\n  linkedinUserId,\n  mediaUrl,\n  isValid: true\n};"},"id":"7e26cba9-9c5b-4152-9ced-addbcaebc6df","name":"Validate & Extract Data","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-1056,112]},{"parameters":{"functionCode":"// Build LinkedIn POST request body\nconst data = $input.first().json;\n\nconst body = {\n  commentary: data.postContent,\n  visibility: \"PUBLIC\",\n  distribution: {\n    feedDistribution: \"MAIN_FEED\",\n    targetEntities: [],\n    thirdPartyDistributionChannels: []\n  }\n};\n\n// If media URL is provided, add it to the post\nif (data.mediaUrl) {\n  body.content = {\n    media: {\n      title: data.postContent.substring(0, 100),\n      description: data.postContent,\n      originalUrl: data.mediaUrl\n    }\n  };\n}\n\nreturn {\n  body,\n  accessToken: data.accessToken,\n  linkedinUserId: data.linkedinUserId\n};"},"id":"105d86ca-ab45-42d8-b183-d65186c35228","name":"Build LinkedIn Request","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-800,112]},{"parameters":{"method":"POST","url":"=https://api.linkedin.com/rest/posts","authentication":"generic","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"3023699c-d5bb-4fa9-aef1-03e6c69b604c","name":"Post to LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-560,112]},{"parameters":{"functionCode":"const response = $input.first().json;\n\nreturn {\n  success: true,\n  message: 'Post published successfully to LinkedIn',\n  postId: response.id || 'unknown',\n  timestamp: new Date().toISOString()\n};"},"id":"631a8fb2-1c80-488f-a5c9-9877e7cae400","name":"Success Response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-304,0]},{"parameters":{"functionCode":"const error = $input.first().json;\n\nreturn {\n  success: false,\n  message: 'Failed to post to LinkedIn',\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};"},"id":"c8af08a7-4bdb-4ab7-b430-25a43c240638","name":"Error Response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-304,208]},{"parameters":{"options":{}},"id":"b4a2cb02-d62b-4f76-872d-ffdced376532","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-48,112]},{"parameters":{"functionCode":"// Get first input item\nconst payload = $input.first().json;\n\n// Extract body fields\nconst postContent = payload.body?.content || '';\nconst accessToken = payload.body?.accessToken || '';\nconst userSub = payload.body?.userSub || '';\n\n// Validate required fields\nif (!postContent) {\n  throw new Error('Missing required field: body.content');\n}\n\nif (!accessToken) {\n  throw new Error('Missing required field: body.accessToken');\n}\n\nif (!userSub) {\n  throw new Error('Missing required field: body.userSub (from /userinfo endpoint)');\n}\n\n// Return data for next node\nreturn [\n  {\n    json: {\n      postContent,\n      accessToken,\n      userSub,\n      isValid: true\n    }\n  }\n];\n"},"id":"e02fddb2-cef8-4c0a-8530-038880aadb36","name":"Validate & Extract Data1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-2016,576]},{"parameters":{"functionCode":"// Get the first item from the nested input\nconst data = $input.first().json;$input.first().json;\n\n// Build LinkedIn UGC post body\nconst body = {\n  author: `urn:li:person:${data[0].json.userSub}`,\n  // postContent: ${data[0].json.postContent},\n  lifecycleState: \"PUBLISHED\",\n  specificContent: {\n    \"com.linkedin.ugc.ShareContent\": {\n      shareCommentary: {\n        text: data.postContent\n      },\n      shareMediaCategory: \"NONE\"\n    }\n  },\n  visibility: {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n};\n\n// Return in n8n-required format\nreturn [\n  {\n    json: {\n      body,\n      accessToken: data.accessToken,\n      \n    }\n  }\n];\n"},"id":"a3c4e516-0fc2-4b0d-a27b-fa5b10ce96ff","name":"Build LinkedIn Request1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-1760,480]},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","authentication":"predefinedCredentialType","nodeCredentialType":"linkedInOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"e7038b36-e258-4339-9620-17bc6da15df8","name":"Post to LinkedIn1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1184,512],"credentials":{"linkedInOAuth2Api":{"id":"SR2SLQ4sYZIE6SYm","name":"LinkedIn account 3"}}},{"parameters":{"functionCode":"const response = $input.first().json;\n\nreturn {\n  success: true,\n  message: 'Post published successfully to LinkedIn',\n  postId: response.id || 'unknown',\n  timestamp: new Date().toISOString()\n};"},"id":"4bc044d6-a64c-4c2e-ab40-a919196a3623","name":"Success Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-976,816]},{"parameters":{"functionCode":"const error = $input.first().json;\n\nreturn {\n  success: false,\n  message: 'Failed to post to LinkedIn',\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};"},"id":"f02fe88d-9c53-4510-8870-b40d9d2a3cf4","name":"Error Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-976,1024]},{"parameters":{"options":{}},"id":"cb6820d6-2515-4842-9454-dbc9bb3ee485","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-720,928]},{"parameters":{"httpMethod":"POST","path":"e11e6a48-fa8b-4fdb-967f-36ef97897d36","responseMode":"responseNode","options":{"rawBody":false}},"id":"7d763e96-6046-491b-bc11-8270da176774","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1984,928],"webhookId":"e11e6a48-fa8b-4fdb-967f-36ef97897d36"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $('Webhook1').item.json.body.accessToken }}"},{"name":"X-Restli-Protocol-Version","value":"2.0.0"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n      \"com.linkedin.ugc.ShareContent\": {\n        \"shareCommentary\": {\n          \"text\": \"{{ $('Webhook1').item.json.body.content }}\"\n        },\n        \"shareMediaCategory\": \"NONE\"\n      }\n    },\n    \"visibility\": {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  } ","options":{"redirect":{"redirect":{}}}},"id":"48332d6b-37eb-4dfa-aff1-7cd5f68d73f7","name":"Post to LinkedIn2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1280,928]},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.body.accessToken }}"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"options":{"redirect":{"redirect":{}}}},"id":"85af61ff-95e4-4704-bc7b-fd814230c7e4","name":"Get Userinfo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1632,928]}],"connections":{"Post to LinkedIn":{"main":[[{"node":"Success Response","type":"main","index":0},{"node":"Error Response","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Build LinkedIn Request":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Validate & Extract Data":{"main":[[{"node":"Build LinkedIn Request","type":"main","index":0}]]},"Validate & Extract Data1":{"main":[[{"node":"Build LinkedIn Request1","type":"main","index":0}]]},"Build LinkedIn Request1":{"main":[[]]},"Post to LinkedIn1":{"main":[[]]},"Success Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Error Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Get Userinfo","type":"main","index":0}]]},"Post to LinkedIn2":{"main":[[{"node":"Success Response1","type":"main","index":0},{"node":"Error Response1","type":"main","index":0}]]},"Get Userinfo":{"main":[[{"node":"Post to LinkedIn2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fabc36d9-825a-4f61-8ef7-92d6cc180812","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-23T06:44:18.142Z","createdAt":"2026-01-23T06:44:18.142Z","role":"workflow:owner","workflowId":"HKtpnG0nY3arq1oP","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":null,"tags":[]}