linkedin-posting-by-api-IMT3xOSjHajA9S26.json
{"updatedAt":"2026-01-02T09:35:37.241Z","createdAt":"2026-01-02T06:04:30.822Z","id":"IMT3xOSjHajA9S26","name":"LinkedIn-posting-by-API","active":false,"isArchived":false,"nodes":[{"parameters":{"functionCode":"// Extract payload and credentials\nconst payload = $input.first().json;\n\nconst postContent = payload.content || '';\nconst accessToken = payload.accessToken || '';\nconst linkedinUserId = payload.linkedinUserId || '';\nconst mediaUrl = payload.mediaUrl || null; // Optional image/video URL\n\n// Validate required fields\nif (!postContent) {\n  throw new Error('Missing required field: content');\n}\n\nif (!accessToken) {\n  throw new Error('Missing required field: accessToken');\n}\n\nif (!linkedinUserId) {\n  throw new Error('Missing required field: linkedinUserId');\n}\n\nreturn {\n  postContent,\n  accessToken,\n  linkedinUserId,\n  mediaUrl,\n  isValid: true\n};"},"id":"b0987e12-8138-4909-80f3-16c42378515d","name":"Validate & Extract Data","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-1056,112]},{"parameters":{"functionCode":"// Build LinkedIn POST request body\nconst data = $input.first().json;\n\nconst body = {\n  commentary: data.postContent,\n  visibility: \"PUBLIC\",\n  distribution: {\n    feedDistribution: \"MAIN_FEED\",\n    targetEntities: [],\n    thirdPartyDistributionChannels: []\n  }\n};\n\n// If media URL is provided, add it to the post\nif (data.mediaUrl) {\n  body.content = {\n    media: {\n      title: data.postContent.substring(0, 100),\n      description: data.postContent,\n      originalUrl: data.mediaUrl\n    }\n  };\n}\n\nreturn {\n  body,\n  accessToken: data.accessToken,\n  linkedinUserId: data.linkedinUserId\n};"},"id":"b772f6ed-1db9-432a-b008-45c96dcb72bd","name":"Build LinkedIn Request","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-800,112]},{"parameters":{"method":"POST","url":"=https://api.linkedin.com/rest/posts","authentication":"generic","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"1fc38268-ac48-4268-b610-7a1f13596c94","name":"Post to LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-560,112]},{"parameters":{"functionCode":"const response = $input.first().json;\n\nreturn {\n  success: true,\n  message: 'Post published successfully to LinkedIn',\n  postId: response.id || 'unknown',\n  timestamp: new Date().toISOString()\n};"},"id":"a82baef2-d666-4891-b5f5-adf449dca895","name":"Success Response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-304,0]},{"parameters":{"functionCode":"const error = $input.first().json;\n\nreturn {\n  success: false,\n  message: 'Failed to post to LinkedIn',\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};"},"id":"51917d3b-d806-40b5-88a2-80883e72b7b2","name":"Error Response","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-304,208]},{"parameters":{"options":{}},"id":"bbfe29b9-bf4d-44e6-ace4-914ae0193182","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-48,112]},{"parameters":{"functionCode":"// Get first input item\nconst payload = $input.first().json;\n\n// Extract body fields\nconst postContent = payload.body?.content || '';\nconst accessToken = payload.body?.accessToken || '';\nconst userSub = payload.body?.userSub || '';\n\n// Validate required fields\nif (!postContent) {\n  throw new Error('Missing required field: body.content');\n}\n\nif (!accessToken) {\n  throw new Error('Missing required field: body.accessToken');\n}\n\nif (!userSub) {\n  throw new Error('Missing required field: body.userSub (from /userinfo endpoint)');\n}\n\n// Return data for next node\nreturn [\n  {\n    json: {\n      postContent,\n      accessToken,\n      userSub,\n      isValid: true\n    }\n  }\n];\n"},"id":"83e50911-8f30-4af9-9e7b-3f19eb49c7f1","name":"Validate & Extract Data1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-2016,576]},{"parameters":{"functionCode":"// Get the first item from the nested input\nconst data = $input.first().json;$input.first().json;\n\n// Build LinkedIn UGC post body\nconst body = {\n  author: `urn:li:person:${data[0].json.userSub}`,\n  // postContent: ${data[0].json.postContent},\n  lifecycleState: \"PUBLISHED\",\n  specificContent: {\n    \"com.linkedin.ugc.ShareContent\": {\n      shareCommentary: {\n        text: data.postContent\n      },\n      shareMediaCategory: \"NONE\"\n    }\n  },\n  visibility: {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n};\n\n// Return in n8n-required format\nreturn [\n  {\n    json: {\n      body,\n      accessToken: data.accessToken,\n      \n    }\n  }\n];\n"},"id":"11ccb536-181c-44d1-a91c-6e1a0ff7f3ce","name":"Build LinkedIn Request1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-1760,480]},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","authentication":"predefinedCredentialType","nodeCredentialType":"linkedInOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"70e7fae3-3619-4cf7-a90a-97089387e1ed","name":"Post to LinkedIn1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1184,512],"credentials":{"linkedInOAuth2Api":{"id":"SR2SLQ4sYZIE6SYm","name":"LinkedIn account 3"}}},{"parameters":{"functionCode":"const response = $input.first().json;\n\nreturn {\n  success: true,\n  message: 'Post published successfully to LinkedIn',\n  postId: response.id || 'unknown',\n  timestamp: new Date().toISOString()\n};"},"id":"53728434-67f2-47ea-9745-6d614f6dc219","name":"Success Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-976,816]},{"parameters":{"functionCode":"const error = $input.first().json;\n\nreturn {\n  success: false,\n  message: 'Failed to post to LinkedIn',\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};"},"id":"6ab780bc-f75c-456a-a68a-d1002dab36a9","name":"Error Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-976,1024]},{"parameters":{"options":{}},"id":"75cee22c-f615-40e8-9411-420be3545126","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-720,928]},{"parameters":{"httpMethod":"POST","path":"linkedin-post","responseMode":"responseNode","options":{"rawBody":false}},"id":"84405084-fb3f-4e91-8a8e-b2b491951329","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1984,928],"webhookId":"your-webhook-id"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $('Webhook1').item.json.body.accessToken }}"},{"name":"X-Restli-Protocol-Version","value":"2.0.0"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n      \"com.linkedin.ugc.ShareContent\": {\n        \"shareCommentary\": {\n          \"text\": \"{{ $('Webhook1').item.json.body.content }}\"\n        },\n        \"shareMediaCategory\": \"NONE\"\n      }\n    },\n    \"visibility\": {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  } ","options":{"redirect":{"redirect":{}}}},"id":"ae729b61-48a6-4b26-b5cf-e26172d12f21","name":"Post to LinkedIn2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1280,928]},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.body.accessToken }}"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"options":{"redirect":{"redirect":{}}}},"id":"2128abc1-5ca5-42bb-884b-75a3cf3442a8","name":"Get Userinfo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1632,928]}],"connections":{"Post to LinkedIn":{"main":[[{"node":"Success Response","type":"main","index":0},{"node":"Error Response","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Build LinkedIn Request":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Validate & Extract Data":{"main":[[{"node":"Build LinkedIn Request","type":"main","index":0}]]},"Validate & Extract Data1":{"main":[[{"node":"Build LinkedIn Request1","type":"main","index":0}]]},"Build LinkedIn Request1":{"main":[[]]},"Post to LinkedIn1":{"main":[[]]},"Success Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Error Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Get Userinfo","type":"main","index":0}]]},"Post to LinkedIn2":{"main":[[{"node":"Success Response1","type":"main","index":0},{"node":"Error Response1","type":"main","index":0}]]},"Get Userinfo":{"main":[[{"node":"Post to LinkedIn2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebfc33c3-66e4-4e1f-bdb5-5cbcb467d347","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T06:04:30.822Z","createdAt":"2026-01-02T06:04:30.822Z","role":"workflow:owner","workflowId":"IMT3xOSjHajA9S26","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":null,"tags":[]}