my-workflow-5-9SHtoWL0N9tYlN5o.json
{"updatedAt":"2025-11-03T06:41:24.368Z","createdAt":"2025-10-31T07:44:35.792Z","id":"9SHtoWL0N9tYlN5o","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// The Aggregate node passes all collected items directly in the items array\nconst allResults = $input.first().json.data\n  .filter(item => item.json.Email) // Only include items with email addresses\n  .map(item => ({\n    Id: item.json.Id || '',\n    Name: item.json.Name || '',\n    Email: item.json.Email || '',\n    Company: item.json.Company || '',\n    Website: item.json.Website || '',\n    Sector: item.json.Sector || '',\n    Country: item.json.Country || '',\n    Status: item.json.Status || 'FAILED',\n    SentOn: item.json.SentOn || '',\n    Subject: item.json.Subject || '',\n    Body: item.json.Body || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,1216],"id":"061568ae-ec78-42c4-bf92-5ea20fbcefa5","name":"Format Final Response1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[48,1216],"id":"d8b73794-7625-4c96-b99a-cf59f7b815bc","name":"Aggregate All Results1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2064,1344],"id":"68bec391-76e1-422c-9fee-c03b9a22fd3b","name":"Wait1","webhookId":"wait-webhook-001"},{"parameters":{"jsCode":"const response = items[0].json.response || '';\nlet status = \"FAILED\";\n\nif (response && typeof response === 'string' && response.toLowerCase().startsWith(\"250 ok\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get original CSV data from the batch\nconst originalData = $('Batch Email Processor1').item.json;\n\nreturn [\n  {\n    json: {\n      Id: originalData.Id || '',\n      Name: originalData.Name || '',\n      Email: originalData.Email || '',\n      Company: originalData.Company || '',\n      Website: originalData.Website || '',\n      Sector: originalData.Sector || '',\n      Country: originalData.Country || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: items[0].json.Subject || '',\n      Body: items[0].json.Body || ''\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,1264],"id":"7c34e4b3-2094-453d-8526-229aaba9776f","name":"Update Status & Format1"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1136,1152],"id":"ab3fac2f-d262-47c9-8b2c-e7fa8b65b507","name":"Send Email1","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[848,1152],"id":"ead0fd62-4bd2-4592-8a0d-33f2755705a1","name":"Merge Email Data1"},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,1040],"id":"1f6c8b2a-b02f-43f2-878f-b0ebde25ebbc","name":"Extract Subject/Body1"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\n- Campaign name: {{$json.CampaignName || \"Product Launch\" }}\n- Target audience: {{ \"busy professionals and entrepreneurs\" }}\n- Sector: {{ $json.Sector || \"General\" }}\n- Goal: {{ $json.goal || \"Boost brand awareness\" }}\n- Tone: {{ \"friendly and persuasive\" }}\n- Personalization: The recipient's name is {{ $json.Name || \"there\" }}\n- Company: {{ $json.Company || \"Our Brand Partners\" }}\n- Company's Website: {{ $json.Website || \"N/A\" }} (Add this as hyperlink)\n- Country: {{ $json.Country || \"Global\" }}\n\nRequirements:\n1. The subject should be catchy (under 10 words).\n2. The email body should be 100–150 words, formatted in HTML with <p> tags.\n3. Include a clear call-to-action (CTA) link or button text.\n4. Do not include placeholders like [Name] or [Product]; use the provided data.\n5. Return only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[240,1040],"id":"4b770615-297d-438a-8021-245f658c63ff","name":"AI Email Generator1","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,1040],"id":"f3c07da3-378d-43bf-99e7-b7de8dc06828","name":"Batch Email Processor1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,1152],"id":"680544d4-bd11-4ab3-95c2-861f46bb5368","name":"Filter Unsent Emails1"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  return lines.slice(1)\n    .filter(line => line.trim())\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') {\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,1152],"id":"690ebf3c-06b3-41ef-b73e-187eef493b03","name":"Parse CSV File1"},{"parameters":{"jsCode":"// Get the aggregated data array\nconst aggregated = $input.first().json.data || [];\n\n// Map through each item and safely extract fields\nconst allResults = aggregated.map(item => ({\n  Id: item.Id || '',\n  Name: item.Name || '',\n  Email: item.Email || '',\n  Company: item.Company || '',\n  Website: item.Website || '',\n  Sector: item.Sector || '',\n  Country: item.Country || '',\n  Status: item.Status || 'FAILED',\n  SentOn: item.SentOn || '',\n  Subject: item.Subject || '',\n  Body: item.Body || ''\n}));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,160],"id":"b5f13e22-26aa-4b3d-b45f-77de16bb1dd9","name":"Format Final Response"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[48,160],"id":"861a5a30-e90c-4bc7-a7b1-a2fcc05cfeb3","name":"Aggregate All Results"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,160],"id":"5ca44b0d-b391-448b-91f3-2e50087db51d","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"jsCode":"const response = items[0].json.response;\nlet status = \"FAILED\";\n\nif (response && response.toLowerCase().startsWith(\"250 ok\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\nreturn [\n  {\n    json: {\n      Id: items[0].json.Id || '',\n      Name: items[0].json.Name || '',\n      Email: items[0].json.Email || '',\n      Company: items[0].json.Company || '',\n      Website: items[0].json.Website || '',\n      Sector: items[0].json.Sector || '',\n      Country: items[0].json.Country || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: items[0].json.Subject || '',\n      Body: items[0].json.Body || ''\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,16],"id":"c7e08540-139c-4c2a-b915-bdfb700b09a3","name":"Update Status & Format"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1248,16],"id":"c3aa39cb-57f3-4922-9b3e-3a1592ac0649","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[960,16],"id":"2e10de1d-e13f-4250-adf7-098f9e733759","name":"Merge Email Data"},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-96],"id":"eb65ec98-cacd-4ad0-9172-79313a09bcc7","name":"Extract Subject/Body"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\n- Campaign name: {{$json.CampaignName || \"Product Launch\" }}\n- Target audience: {{ \"busy professionals and entrepreneurs\" }}\n- Sector: {{ $json.Sector || \"General\" }}\n- Goal: {{ $json.goal || \"Boost brand awareness\" }}\n- Tone: {{ \"friendly and persuasive\" }}\n- Personalization: The recipient's name is {{ $json.Name || \"there\" }}\n- Company: {{ $json.Company || \"Our Brand Partners\" }}\n- Company's Website: {{ $json.Website || \"N/A\" }} (Add this as hyperlink)\n- Country: {{ $json.Country || \"Global\" }}\n\nRequirements:\n1. The subject should be catchy (under 10 words).\n2. The email body should be 100–150 words, formatted in HTML with <p> tags.\n3. Include a clear call-to-action (CTA) link or button text.\n4. Do not include placeholders like [Name] or [Product]; use the provided data.\n5. Return only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[352,-96],"id":"1510610e-c9fb-457e-a8ad-09932cd7024b","name":"AI Email Generator","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,-96],"id":"311d65a4-dfa6-4058-b9a5-1ce38e8b5840","name":"Batch Email Processor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,16],"id":"f51d34e7-dd42-46ba-9e54-000b3405cfdd","name":"Filter Unsent Emails"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  // Check all possible binary property names\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      // Base64 encoded data\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\n// Validate csvText is a string\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  // Ensure text is string and trim it\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  // Parse headers\n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  // Parse data rows\n  return lines.slice(1)\n    .filter(line => line.trim()) // Remove empty lines\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') { // Skip carriage returns\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,16],"id":"78d9b720-a0e6-431d-83f3-608effb723d5","name":"Parse CSV File"}],"connections":{"Aggregate All Results1":{"main":[[{"node":"Format Final Response1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Batch Email Processor1","type":"main","index":0}]]},"Update Status & Format1":{"main":[[{"node":"Batch Email Processor1","type":"main","index":0}]]},"Send Email1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"Update Status & Format1","type":"main","index":0}]]},"Merge Email Data1":{"main":[[{"node":"Send Email1","type":"main","index":0}]]},"Extract Subject/Body1":{"main":[[{"node":"Merge Email Data1","type":"main","index":0}]]},"AI Email Generator1":{"main":[[{"node":"Extract Subject/Body1","type":"main","index":0}]]},"Batch Email Processor1":{"main":[[{"node":"Aggregate All Results1","type":"main","index":0}],[{"node":"Merge Email Data1","type":"main","index":1},{"node":"AI Email Generator1","type":"main","index":0}]]},"Filter Unsent Emails1":{"main":[[{"node":"Batch Email Processor1","type":"main","index":0}]]},"Parse CSV File1":{"main":[[{"node":"Filter Unsent Emails1","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Update Status & Format","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Extract Subject/Body":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"AI Email Generator":{"main":[[{"node":"Extract Subject/Body","type":"main","index":0}]]},"Batch Email Processor":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Merge Email Data","type":"main","index":1},{"node":"AI Email Generator","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Filter Unsent Emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2add5a82-eca9-4cdd-b8ff-509dcc18d7b8","triggerCount":0,"shared":[{"updatedAt":"2025-10-31T07:44:35.792Z","createdAt":"2025-10-31T07:44:35.792Z","role":"workflow:owner","workflowId":"9SHtoWL0N9tYlN5o","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}