my-workflow-4-only-final-node-issue-kycNRy8eWSHFzBjl.json
{"updatedAt":"2025-10-31T07:30:00.820Z","createdAt":"2025-10-31T06:44:53.570Z","id":"kycNRy8eWSHFzBjl","name":"My workflow 4 only final node issue","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,128],"id":"e7d4316c-4ea6-46f9-bfd6-56af71406303","name":"Webhook Trigger","webhookId":"email-campaign-webhook"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  // Check all possible binary property names\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      // Base64 encoded data\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\n// Validate csvText is a string\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  // Ensure text is string and trim it\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  // Parse headers\n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  // Parse data rows\n  return lines.slice(1)\n    .filter(line => line.trim()) // Remove empty lines\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') { // Skip carriage returns\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,128],"id":"f925f9af-3c7b-4d4b-ae12-2a4c016a862f","name":"Parse CSV File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,-560],"id":"5a1bc8f7-d483-463c-8f19-e37eaf124d30","name":"Filter Unsent Emails"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,0],"id":"039a5b69-6ef2-43f9-a004-bd53b591a7a6","name":"Batch Email Processor"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\n- Campaign name: {{$json.CampaignName || \"Product Launch\" }}\n- Target audience: {{ \"busy professionals and entrepreneurs\" }}\n- Sector: {{ $json.Sector || \"General\" }}\n- Goal: {{ $json.goal || \"Boost brand awareness\" }}\n- Tone: {{ \"friendly and persuasive\" }}\n- Personalization: The recipient's name is {{ $json.Name || \"there\" }}\n- Company: {{ $json.Company || \"Our Brand Partners\" }}\n- Company's Website: {{ $json.Website || \"N/A\" }} (Add this as hyperlink)\n- Country: {{ $json.Country || \"Global\" }}\n\nRequirements:\n1. The subject should be catchy (under 10 words).\n2. The email body should be 100–150 words, formatted in HTML with <p> tags.\n3. Include a clear call-to-action (CTA) link or button text.\n4. Do not include placeholders like [Name] or [Product]; use the provided data.\n5. Return only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[160,16],"id":"0f6cfc86-78b1-4c62-9651-6edbeea48341","name":"AI Email Generator","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,16],"id":"d5f1952f-18a8-4d74-a348-1b49a09f02ef","name":"Extract Subject/Body"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[768,128],"id":"5dc3f08a-2ad1-4726-bcf2-9dbbd9d21aeb","name":"Merge Email Data"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1056,128],"id":"3b2a038c-1d88-4329-a88b-573c312c4bb9","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const response = items[0].json.response;\nlet status = \"FAILED\";\n\nif (response && response.toLowerCase().startsWith(\"250 ok\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\nreturn [\n  {\n    json: {\n      Id: items[0].json.Id || '',\n      Name: items[0].json.Name || '',\n      Email: items[0].json.Email || '',\n      Company: items[0].json.Company || '',\n      Website: items[0].json.Website || '',\n      Sector: items[0].json.Sector || '',\n      Country: items[0].json.Country || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: items[0].json.Subject || '',\n      Body: items[0].json.Body || ''\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,96],"id":"14a495c8-e8f1-42a4-baf6-fcab730241a6","name":"Update Status & Format"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,272],"id":"297e9a57-ff8e-40a9-a127-37fdafc30129","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,208],"id":"dd2431e6-0755-4ead-aa95-afb72b72eb2f","name":"Aggregate All Results"},{"parameters":{"jsCode":"// Get the aggregated data array\nconst aggregated = $input.first().json.data || [];\n\n// Map through each item and safely extract fields\nconst allResults = aggregated.map(item => ({\n  Id: item.Id || '',\n  Name: item.Name || '',\n  Email: item.Email || '',\n  Company: item.Company || '',\n  Website: item.Website || '',\n  Sector: item.Sector || '',\n  Country: item.Country || '',\n  Status: item.Status || 'FAILED',\n  SentOn: item.SentOn || '',\n  Subject: item.Subject || '',\n  Body: item.Body || ''\n}));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,240],"id":"2b6aa6fa-7fb8-4b8c-a88d-e0a3bc1b4b0b","name":"Format Final Response"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[]]},"Batch Email Processor":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"AI Email Generator","type":"main","index":0},{"node":"Merge Email Data","type":"main","index":1}]]},"AI Email Generator":{"main":[[{"node":"Extract Subject/Body","type":"main","index":0}]]},"Extract Subject/Body":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4b6e64ad-8a39-4369-85b3-5dda851c1ba6","triggerCount":0,"shared":[{"updatedAt":"2025-10-31T06:44:53.570Z","createdAt":"2025-10-31T06:44:53.570Z","role":"workflow:owner","workflowId":"kycNRy8eWSHFzBjl","projectId":"tsuA2t8C154Ytetn"}],"tags":[],"needsUpdate":false}