my-workflow-11-BdO8Qbbp3N7Sx4i8.json
{"updatedAt":"2025-11-27T12:32:50.854Z","createdAt":"2025-11-27T10:02:10.336Z","id":"BdO8Qbbp3N7Sx4i8","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[64,384],"id":"961a0110-e10b-4846-9b22-bc2eb8c6dffe","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"firstname\": \"\",\n    \"lastname\":\"\",\n\t\"phone\": \"\",\n    \"email\":\"\",\n    \"role\":\"\",\n    \"location\":\"\",\n    \"region\":\"\"\n  }\n]","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[64,240],"id":"61267fcc-5d5c-4b66-9978-9b1d32120dc8","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,128],"id":"3f5ec1fa-ec08-4115-a8d0-756d4a7eb18b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"promptType":"define","text":"={{ $json.data.markdown }}\n\n\nread markdown and return me contact details present in it and Officials Information also needed. i need it in JSON format","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,-32],"id":"ce243e68-33ea-4456-a51c-249a264a941c","name":"AI Agent"},{"parameters":{"operation":"scrape","url":"https://usavolleyball.org/resources-for-parents/","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[-208,-32],"id":"43e3565b-7581-49a9-96ac-8030bded2c82","name":"Scrape a url and get its content","credentials":{"firecrawlApi":{"id":"nxIOXOPXz7jCiqM9","name":"shrinivas-Firecrawl-account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-32],"id":"51544e1d-18cb-49e7-acab-f23a435aa1c9","name":"When clicking ‘Execute workflow’"}],"connections":{"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Scrape a url and get its content":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Scrape a url and get its content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b28e65ad-3cc1-4d45-9b2c-bc8604e725dd","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T10:02:10.336Z","createdAt":"2025-11-27T10:02:10.336Z","role":"workflow:owner","workflowId":"BdO8Qbbp3N7Sx4i8","projectId":"1vIebgCv7zceWZsM"}],"tags":[]}