my-workflow-8-8x1JjUV4fT9u78ha.json
{"updatedAt":"2025-11-12T12:41:44.390Z","createdAt":"2025-11-12T08:07:37.380Z","id":"8x1JjUV4fT9u78ha","name":"My workflow 8","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 3 * * *"}]}},"id":"00c04266-2899-4a94-b612-6b6a9ed63adb","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-992,48],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in YYYY-MM-DD format (IST timezone)\nconst today = new Date();\n\n// Convert to IST (UTC + 5:30)\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istDate = new Date(today.getTime() + istOffset);\n\n// Format as YYYY-MM-DD\nconst year = istDate.getUTCFullYear();\nconst month = String(istDate.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istDate.getUTCDate()).padStart(2, '0');\n\nconst formattedDate = `${year}-${month}-${day}`;\n\nreturn {\n  currentDate: formattedDate,\n  searchQuery: `name='${formattedDate}'`\n};"},"id":"a29607ff-3e16-44c5-8916-b48808cbca22","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,48],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-files-found","leftValue":"={{ $json.name }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d9500e54-d936-416c-9c11-cdbcd25d2a68","name":"Check If Image Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[-432,48]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.id}}","mode":"id"},"options":{}},"id":"987f7d7f-52fb-47d3-a9ca-9ba599077098","name":"Download Images","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,-48],"notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Downloads all matching images (up to 20 for LinkedIn limit)"},{"parameters":{"person":"rIt1tOcqlf","text":"={{\"Check out today's post! 🚀\\n\\n#LinkedIn #DailyPost #\" + $('Get Current Date').item.json.currentDate}}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"93c6fe5f-da5d-4d54-9a87-14b931269bc5","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[32,-48],"notesInFlow":true,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}},"notes":"Posts all downloaded images to LinkedIn in a single post (max 20 images)"},{"parameters":{"errorMessage":"No Image Found to share today"},"id":"c0702e9e-6422-4157-a367-6a5b5cb0279e","name":"No Image Found - Stop","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-208,144]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.currentDate }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-608,48],"id":"b34ab8b5-4a8a-4eca-8af0-dd2b40eaceeb","name":"Search files and folders","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Searches for all images containing today's date in filename"},{"parameters":{"jsCode":"const newItems = [];\\n\\nfor (const item of items) {\\n  const base64 = item.json.base64 || '';\\n  if (!base64) {\\n    newItems.push(item);\\n    continue;\\n  }\\n\\n  // Remove data URI prefix if exists\\n  const cleaned = base64.replace(/^data:image\\\\/[^;]+;base64,/, '');\\n  const buffer = Buffer.from(cleaned, 'base64');\\n\\n  // Prepare binary data\\n  const binaryData = await this.helpers.prepareBinaryData(buffer, item.json.fileName || 'image.png');\\n\\n  newItems.push({\\n    json: item.json,\\n    binary: { image: binaryData }\\n  });\\n}\\n\\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-144],"id":"cf3ab4b3-bae4-4255-bb2d-7d4d5f9e20ab","name":"Code in JavaScript"}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Check If Image Found":{"main":[[{"node":"Download Images","type":"main","index":0}],[{"node":"No Image Found - Stop","type":"main","index":0}]]},"Download Images":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Check If Image Found","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b63704d6-13a2-4446-9050-29ecea28adf2","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T08:07:37.380Z","createdAt":"2025-11-12T08:07:37.380Z","role":"workflow:owner","workflowId":"8x1JjUV4fT9u78ha","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}