my-workflow-13-T1UBNmIhgUlNVvpv.json
{"updatedAt":"2025-12-02T09:23:28.838Z","createdAt":"2025-12-02T09:07:50.547Z","id":"T1UBNmIhgUlNVvpv","name":"My workflow 13","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,0],"id":"26c3b37e-0001-4e83-86fa-78627593c9be","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":861648751,"mode":"list","cachedResultName":"UIUX-agencies-in-USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=861648751"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-112,0],"id":"de17faa6-789d-4ff8-b605-623166ecaf92","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[96,0],"id":"67ab1d86-a08f-4137-9e95-619a0a4be265","name":"Loop Over Items"},{"parameters":{"operation":"scrape","url":"={{ $json.website }}","parsers":["pdf"],"requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[352,16],"id":"1a3a4445-0864-41f2-8ac6-640649fd53e2","name":"Scrape a url and get its content","credentials":{"firecrawlApi":{"id":"nxIOXOPXz7jCiqM9","name":"shrinivas-Firecrawl-account 2"}}},{"parameters":{"promptType":"define","text":"=Markdown : {{ $json.data.markdown }}\n\n\nread above markdown Data and return me output in JSON like below\n\n{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}\n\nI need only one name, email and contact number and format contact number","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[560,16],"id":"29de454e-d296-4b23-a6aa-0f4ab7c6ac84","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,144],"id":"8303db3f-be75-40e3-a721-18f25fc27d61","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"77KLSHM0nlw0viYq","name":"shubham-gemini-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,224],"id":"691bac4e-1508-4ae6-a61b-512d6c20ee53","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[624,384],"id":"8fec619c-8b88-459d-a437-79c97ac8cfff","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":861648751,"mode":"list","cachedResultName":"UIUX-agencies-in-USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=861648751"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Email":"={{ $json.output.email }}","Facebook":"={{ $json.output.facebook }}","Instagram":"={{ $json.output.instagram }}","twitter":"={{ $json.output.twitter }}"},"matchingColumns":["row_number"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reviews","displayName":"reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter","displayName":"twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1088,416],"id":"37072c3a-49fb-451a-84ad-73608418af81","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Scrape a url and get its content","type":"main","index":0}]]},"Scrape a url and get its content":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ac67a79-e6ab-4cb3-b4f2-94befa0b1900","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-02T09:07:50.547Z","createdAt":"2025-12-02T09:07:50.547Z","role":"workflow:owner","workflowId":"T1UBNmIhgUlNVvpv","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":null,"tags":[]}