my-workflow-298uYW5gxdMasb6o.json
{"updatedAt":"2025-11-27T10:32:17.463Z","createdAt":"2025-10-31T06:14:25.715Z","id":"298uYW5gxdMasb6o","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"responseNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1536,208],"id":"2cc8ae09-1baa-457b-930c-fafdd9a3f138","name":"Webhook Trigger","webhookId":"email-campaign-webhook"},{"parameters":{"jsCode":"// Parse CSV file from webhook\nlet csvText = '';\n\n// Check if file is in binary data\nif (items[0].binary && items[0].binary.data) {\n  const binaryData = items[0].binary.data;\n  \n  if (binaryData.data) {\n    const buffer = Buffer.from(binaryData.data, 'base64');\n    csvText = buffer.toString('utf-8');\n  } else if (binaryData.toString) {\n    csvText = binaryData.toString('utf-8');\n  }\n}\nelse if (items[0].body && typeof items[0].body === 'string') {\n  csvText = items[0].body;\n}\nelse if (items[0].json && items[0].json.body) {\n  csvText = items[0].json.body;\n}\n\nif (!csvText) {\n  throw new Error('No CSV data found. Please upload a CSV file.');\n}\n\n// Parse CSV\nfunction parseCSV(text) {\n  const lines = text.trim().split('\\n');\n  if (lines.length < 2) {\n    throw new Error('CSV file is empty or has no data rows.');\n  }\n  \n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, ''));\n  \n  return lines.slice(1)\n    .filter(line => line.trim())\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, ''));\n          current = '';\n        } else {\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\nconst parsedData = parseCSV(csvText);\nreturn parsedData.map(row => ({ json: row }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,208],"id":"8da076ef-031b-408e-a426-a865322bc13b","name":"Parse CSV File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,208],"id":"62ac6719-bfa3-450e-b7b2-e747f86a9b38","name":"Filter Unsent Emails"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,96],"id":"5f101774-ce1a-4711-9536-e9c65b9d9ad4","name":"Batch Email Processor"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\n- Campaign name: {{$json.CampaignName || \"Product Launch\" }}\n- Target audience: {{ \"busy professionals and entrepreneurs\" }}\n- Sector: {{ $json.Sector || \"General\" }}\n- Goal: {{ $json.goal || \"Boost brand awareness\" }}\n- Tone: {{ \"friendly and persuasive\" }}\n- Personalization: The recipient's name is {{ $json.Name || \"there\" }}\n- Company: {{ $json.Company || \"Our Brand Partners\" }}\n- Company's Website: {{ $json.Website || \"N/A\" }} (Add this as hyperlink)\n- Country: {{ $json.Country || \"Global\" }}\n\nRequirements:\n1. The subject should be catchy (under 10 words).\n2. The email body should be 100–150 words, formatted in HTML with <p> tags.\n3. Include a clear call-to-action (CTA) link or button text.\n4. Do not include placeholders like [Name] or [Product]; use the provided data.\n5. Return only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-336,96],"id":"136b9022-4663-4802-84d8-0ea3b1b5da06","name":"AI Email Generator","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,96],"id":"a1b43708-aa5a-44e5-a872-50036093f950","name":"Extract Subject/Body"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[272,208],"id":"dabe1037-49ed-4781-9b8f-10bbb36734f0","name":"Merge Email Data"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[576,208],"id":"edc60880-cfe6-4dd2-8bcb-90dee019efc3","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const response = items[0].json.response;\nlet status = \"FAILED\";\n\nif (response && response.toLowerCase().startsWith(\"250 ok\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\nreturn [\n  {\n    json: {\n      ...items[0].json,\n      Status: status,\n      SentOn: sentOn\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,208],"id":"106f4ad6-e31f-42ca-a56c-ab99477ae949","name":"Update Status"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,352],"id":"3e97e4e7-a104-400e-b4fa-c3a304ba73d5","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"jsCode":"// Collect all processed emails\nconst context = this.getWorkflowStaticData('global');\nif (!context.emailResults) {\n  context.emailResults = [];\n}\n\nconst currentItem = items[0].json;\ncontext.emailResults.push({\n  Id: currentItem.Id || '',\n  Name: currentItem.Name || '',\n  Email: currentItem.Email || '',\n  Company: currentItem.Company || '',\n  Status: currentItem.Status || 'FAILED',\n  SentOn: currentItem.SentOn || ''\n});\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,208],"id":"eef4f3ca-6ceb-428e-8ee2-dfc46d26b17f","name":"Collect Results"},{"parameters":{"jsCode":"// Get all collected results\nconst context = this.getWorkflowStaticData('global');\nconst results = context.emailResults || [];\n\n// Clear the results for next run\ncontext.emailResults = [];\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    results: results\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,352],"id":"a54a9092-607f-474e-a04d-4a80c7003f25","name":"Prepare Response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-336,352],"id":"23eba9ef-b4d1-4def-84f6-eb31a67dcace","name":"Respond to Webhook"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Filter Unsent Emails","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Batch Email Processor":{"main":[[{"node":"Prepare Response","type":"main","index":0}],[{"node":"AI Email Generator","type":"main","index":0},{"node":"Merge Email Data","type":"main","index":1}]]},"AI Email Generator":{"main":[[{"node":"Extract Subject/Body","type":"main","index":0}]]},"Extract Subject/Body":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Status","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Collect Results","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Collect Results":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Prepare Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0410dfea-0832-4b4c-9248-2e474ba6ac07","triggerCount":0,"shared":[{"updatedAt":"2025-10-31T06:14:25.715Z","createdAt":"2025-10-31T06:14:25.715Z","role":"workflow:owner","workflowId":"298uYW5gxdMasb6o","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}