my-workflow-3-Dd79DbrVloC95V91.json
{"updatedAt":"2025-11-27T10:32:25.450Z","createdAt":"2025-10-31T06:36:02.138Z","id":"Dd79DbrVloC95V91","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"responseNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-896,112],"id":"fb726055-c032-4760-ab34-bbbdfad5b71f","name":"Webhook Trigger","webhookId":"email-campaign-webhook"},{"parameters":{"jsCode":"// Parse CSV file from webhook - handles multiple input formats\nlet csvText = '';\n\n// Method 1: Check for binary data (most common for file uploads)\nif (items[0].binary) {\n  // Check all possible binary property names\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryData = items[0].binary[key];\n    \n    if (binaryData && binaryData.data) {\n      // Base64 encoded data\n      try {\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        csvText = buffer.toString('utf-8');\n        break;\n      } catch (e) {\n        console.log('Failed to decode base64:', e);\n      }\n    }\n  }\n}\n\n// Method 2: Check body (raw body)\nif (!csvText && items[0].body) {\n  if (typeof items[0].body === 'string') {\n    csvText = items[0].body;\n  } else if (Buffer.isBuffer(items[0].body)) {\n    csvText = items[0].body.toString('utf-8');\n  }\n}\n\n// Method 3: Check json body\nif (!csvText && items[0].json) {\n  if (items[0].json.body && typeof items[0].json.body === 'string') {\n    csvText = items[0].json.body;\n  } else if (items[0].json.data && typeof items[0].json.data === 'string') {\n    csvText = items[0].json.data;\n  }\n}\n\n// Validate csvText is a string\nif (!csvText || typeof csvText !== 'string') {\n  throw new Error(`No valid CSV data found. Received type: ${typeof csvText}. Please upload a CSV file using multipart/form-data.`);\n}\n\n// Parse CSV function\nfunction parseCSV(text) {\n  // Ensure text is string and trim it\n  const textStr = String(text).trim();\n  \n  if (!textStr) {\n    throw new Error('CSV text is empty after trimming.');\n  }\n  \n  const lines = textStr.split('\\n');\n  \n  if (lines.length < 2) {\n    throw new Error('CSV file must have at least a header row and one data row.');\n  }\n  \n  // Parse headers\n  const headers = lines[0].split(',').map(h => h.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n  \n  // Parse data rows\n  return lines.slice(1)\n    .filter(line => line.trim()) // Remove empty lines\n    .map(line => {\n      const values = [];\n      let current = '';\n      let inQuotes = false;\n      \n      for (let char of line) {\n        if (char === '\"') {\n          inQuotes = !inQuotes;\n        } else if (char === ',' && !inQuotes) {\n          values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n          current = '';\n        } else if (char !== '\\r') { // Skip carriage returns\n          current += char;\n        }\n      }\n      values.push(current.trim().replace(/\"/g, '').replace(/\\r/g, ''));\n      \n      const obj = {};\n      headers.forEach((header, index) => {\n        obj[header] = values[index] || '';\n      });\n      return obj;\n    });\n}\n\ntry {\n  const parsedData = parseCSV(csvText);\n  \n  if (parsedData.length === 0) {\n    throw new Error('No data rows found in CSV file.');\n  }\n  \n  return parsedData.map(row => ({ json: row }));\n} catch (error) {\n  throw new Error(`CSV parsing failed: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,112],"id":"a6d0db6d-aee8-47cf-9e98-f19d2b1a99db","name":"Parse CSV File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc40194-662b-402b-b731-6405ce91259e","leftValue":"={{ $json.Status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}},{"id":"email-validation-001","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,112],"id":"b5e2e14c-0fd7-4fe8-b296-18bc81f77905","name":"Filter Unsent Emails"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"9632edde-ec05-4f67-a5d6-be4248b1c2f8","name":"Batch Email Processor"},{"parameters":{"messages":{"message":[{"content":"You are an expert marketing copywriter who crafts high-converting, personalized emails for digital campaigns. Always respond with valid JSON containing only 'Subject' and 'Body' fields.\n\nReturn only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}","role":"system"},{"content":"=Write a marketing email for the following campaign details:\n\n- Campaign name: {{$json.CampaignName || \"Product Launch\" }}\n- Target audience: {{ \"busy professionals and entrepreneurs\" }}\n- Sector: {{ $json.Sector || \"General\" }}\n- Goal: {{ $json.goal || \"Boost brand awareness\" }}\n- Tone: {{ \"friendly and persuasive\" }}\n- Personalization: The recipient's name is {{ $json.Name || \"there\" }}\n- Company: {{ $json.Company || \"Our Brand Partners\" }}\n- Company's Website: {{ $json.Website || \"N/A\" }} (Add this as hyperlink)\n- Country: {{ $json.Country || \"Global\" }}\n\nRequirements:\n1. The subject should be catchy (under 10 words).\n2. The email body should be 100–150 words, formatted in HTML with <p> tags.\n3. Include a clear call-to-action (CTA) link or button text.\n4. Do not include placeholders like [Name] or [Product]; use the provided data.\n5. Return only valid JSON like this:\n{\n  \"Subject\": \"Your subject here\",\n  \"Body\": \"Your email body here\"\n}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[304,0],"id":"02979414-c038-4eaa-9501-30bd4c4b4970","name":"AI Email Generator","credentials":{"perplexityApi":{"id":"h9vafnjzGdhdUONG","name":"Perplexity account"}}},{"parameters":{"jsCode":"const data = items[0].json;\nlet messageContent = data.choices?.[0]?.message?.content || \"\";\n\nmessageContent = messageContent\n  .replace(/^```json/i, \"\")\n  .replace(/^```/, \"\")\n  .replace(/```$/, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(messageContent);\n} catch (e) {\n  const jsonMatch = messageContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (err) {\n      parsed = { Subject: \"No subject found\", Body: messageContent };\n    }\n  } else {\n    parsed = { Subject: \"No subject found\", Body: messageContent };\n  }\n}\n\nreturn [\n  {\n    json: {\n      Subject: parsed.Subject || \"Untitled Email\",\n      Body: parsed.Body || \"Not provided\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0],"id":"4fcbd356-bc41-41a7-9278-633ae23c11f9","name":"Extract Subject/Body"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[912,112],"id":"6fda7968-baec-43f3-88fd-8afc4ced6f27","name":"Merge Email Data"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1200,112],"id":"af598cf7-9a2b-40b8-a259-bc30e2ec1edf","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const response = items[0].json.response;\nlet status = \"FAILED\";\n\nif (response && response.toLowerCase().startsWith(\"250 ok\")) {\n    status = \"SENT\";\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\nreturn [\n  {\n    json: {\n      ...items[0].json,\n      Status: status,\n      SentOn: sentOn\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,112],"id":"8fee9cd6-0c04-4287-b6ad-2ca1668f0970","name":"Update Status"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1504,256],"id":"29735384-0873-4098-b707-2c8c0886f5e1","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"jsCode":"// Collect all processed emails\nconst context = this.getWorkflowStaticData('global');\nif (!context.emailResults) {\n  context.emailResults = [];\n}\n\nconst currentItem = items[0].json;\ncontext.emailResults.push({\n  Id: currentItem.Id || '',\n  Name: currentItem.Name || '',\n  Email: currentItem.Email || '',\n  Company: currentItem.Company || '',\n  Status: currentItem.Status || 'FAILED',\n  SentOn: currentItem.SentOn || ''\n});\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,-416],"id":"c24461a1-9b3e-4e10-ba51-495eb757589f","name":"Collect Results"},{"parameters":{"jsCode":"// Get all collected results\nconst context = this.getWorkflowStaticData('global');\nconst results = context.emailResults || [];\n\n// Clear the results for next run\ncontext.emailResults = [];\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    results: results\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,256],"id":"de81c629-467b-493e-b511-878196d40f86","name":"Prepare Response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[304,256],"id":"16ef71f0-a361-4306-bbd7-302ae379c1ec","name":"Respond to Webhook"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Filter Unsent Emails","type":"main","index":0}]]},"Filter Unsent Emails":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Batch Email Processor":{"main":[[{"node":"Prepare Response","type":"main","index":0}],[{"node":"AI Email Generator","type":"main","index":0},{"node":"Merge Email Data","type":"main","index":1}]]},"AI Email Generator":{"main":[[{"node":"Extract Subject/Body","type":"main","index":0}]]},"Extract Subject/Body":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Status","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Collect Results","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Collect Results":{"main":[[{"node":"Batch Email Processor","type":"main","index":0}]]},"Prepare Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c59860dc-8846-4456-92a1-20c78d4d6441","triggerCount":0,"shared":[{"updatedAt":"2025-10-31T06:36:02.138Z","createdAt":"2025-10-31T06:36:02.138Z","role":"workflow:owner","workflowId":"Dd79DbrVloC95V91","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}