my-workflow-16-iTMunAgCJQQHGqM9.json
{"updatedAt":"2025-12-12T12:21:18.895Z","createdAt":"2025-12-12T12:19:41.122Z","id":"iTMunAgCJQQHGqM9","name":"My workflow 16","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"abcf35b6-86ac-49ec-b893-fb03c15af675","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,32],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in IST timezone\nconst now = new Date();\n\n// Convert to IST (UTC +5:30)\nconst istOffsetMinutes = 330; // 5.5 hours\nconst istTime = new Date(now.getTime() + istOffsetMinutes * 60 * 1000);\n\n// Build timestamp in required format but with +00:00 offset\nconst year = istTime.getUTCFullYear();\nconst month = String(istTime.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istTime.getUTCDate()).padStart(2, '0');\nconst hours = String(istTime.getUTCHours()).padStart(2, '0');\nconst minutes = String(istTime.getUTCMinutes()).padStart(2, '0');\nconst seconds = String(istTime.getUTCSeconds()).padStart(2, '0');\n\n// Final required format: YYYY-MM-DDTHH:mm:ss+00:00\nconst formatted = `${year}-${month}-${day} ${hours}:${minutes}`;\n\nreturn { currentDate: formatted };\n"},"id":"02310bb0-73ff-4f2e-9c3f-c76f4488f09c","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,32],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"documentId":{"__rl":true,"value":"1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"scheduled"}]},"options":{}},"id":"5e5863d3-a5bf-4d6f-bc13-4e0382abeb12","name":"Get Sheet Row by Date","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[448,32],"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}},"notes":"Searches for row with today's date in the 'Date' column"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-row-found","leftValue":"={{ $json['Blog Content'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1786271d-f83a-4f61-ac6d-4a94a12040fd","name":"Check If Post Data Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[1616,48],"notesInFlow":true,"notes":"Checks if a row exists with valid date and image URL"},{"parameters":{"person":"rIt1tOcqlf","text":"={{ $('Get Sheet Row by Date').item.json['Blog Content'] || 'Check out today\\'s post! 🚀' }}","shareMediaCategory":"IMAGE","binaryPropertyName":"=data {{ $json.id }}","additionalFields":{}},"id":"35dd451f-4804-40ba-9fb4-596cbb3561f7","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2368,32],"notesInFlow":true,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}},"notes":"Posts image with description from Google Sheet to LinkedIn"},{"parameters":{"jsCode":"// Get the response from the LinkedIn node\nconst response = $input.first().json.urn;\n\n// Check if 'urn:li:share:' exists in the response\nif (response && response.startsWith('urn:li:share:')) {\n  return [{ status: 'SENT', message: 'Post successfully published on LinkedIn', shareId: response }];\n} else {\n  return [{ status: 'FAILED', message: 'LinkedIn post not created', rawResponse: response }];}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2752,32],"id":"af28f52e-a15a-44be-baf1-20035a657bd9","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1136,32],"id":"4d5821d4-e037-46a9-8147-5e35a9106039","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.status }}","artifactId":"={{ $('Loop Over Items').item.json.artifactId }}","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"artifactId","displayName":"artifactId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created Date","displayName":"Created Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Updated Date","displayName":"Updated Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Schedule Time (Local)","displayName":"Schedule Time (Local)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SEO Keywords","displayName":"SEO Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target Audience","displayName":"Target Audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Purpose","displayName":"Purpose","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Blog Content","displayName":"Blog Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images (GCS URIs)","displayName":"Images (GCS URIs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images (Drive IDs)","displayName":"Images (Drive IDs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Social Post IDs","displayName":"Social Post IDs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2976,32],"id":"0bfa47de-c1cc-492a-aacc-083769337855","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Loop Over Items').item.json['Images (GCS URIs)'] }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1968,32],"id":"677b0fd5-aecf-4aac-aa3d-99441b7a9136","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}}}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Get Sheet Row by Date","type":"main","index":0}]]},"Get Sheet Row by Date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Check If Post Data Found":{"main":[[{"node":"Download file","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Check If Post Data Found","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67450248-0c7f-45ac-a21c-990db47d03e6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T12:19:41.122Z","createdAt":"2025-12-12T12:19:41.122Z","role":"workflow:owner","workflowId":"iTMunAgCJQQHGqM9","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":null,"tags":[]}