my-workflow-12-f6BufeY13Vddhrwk.json
{"updatedAt":"2025-12-08T10:47:27.407Z","createdAt":"2025-12-02T08:31:50.517Z","id":"f6BufeY13Vddhrwk","name":"My workflow 12","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1184,0],"id":"eeaa926c-7336-457e-8b53-506269194349","name":"When clicking 'Execute workflow'","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,112],"id":"b1b7b01c-62de-4040-a1af-786a587c1632","name":"Loop Over Items1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $json.result.toJsonString() }}\n\nread above markdown and return me output in JSON like below\n\n{\n  \"name\": \"name_here\",\n  \"address\": \"address_here\",\n  \"Contact\": \"contact_no_here\",\n  \"website\": \"website_here\",\n  \"rating\": \"rating\",\n  \"reviews\": \"review\",\n  \"status\": \"status\"\n}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[112,160],"id":"1972120e-84d3-416b-b0de-ceba2d5b4c5a","name":"AI Agent - Get team details1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,368],"id":"82718457-4502-488d-96b4-2e7e3d53d0df","name":"Google Gemini 2.0 Flash1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n  \"name\": \"name_here\",\n  \"address\": \"address_here\",\n  \"Contact\": \"contact_no_here\",\n  \"website\": \"website_here\",\n  \"rating\": \"rating\",\n  \"reviews\": \"review\",\n  \"status\": \"status\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[176,400],"id":"f302ab31-0c7a-4898-ab05-857ee6a9c486","name":"Output Helper1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":861648751,"mode":"list","cachedResultName":"UIUX-agencies-in-USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=861648751"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.output.name }}","address":"={{ $json.output.address }}","website":"={{ $json.output.website }}","phone":"={{ $json.output.Contact }}","rating":"={{ $json.output.rating }}","reviews":"={{ $json.output.reviews }}","status":"={{ $json.output.status }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reviews","displayName":"reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,480],"id":"afca612a-47a0-4d82-8eb6-4c46b015db6e","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,528],"id":"e4d7de76-6a4e-43a7-86c6-6ecda98170a9","name":"Format fixer1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-5d63fe501d3442fea34213df3283696e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\":\"{{ $json.result.website }}\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"onlyMainContent\": true,\n  \"includeTags\": [\n    \"<string>\"\n  ],\n  \"excludeTags\": [\n    \"<string>\"\n  ],\n  \"maxAge\": 172800000,\n  \"headers\": {},\n  \"waitFor\": 0,\n  \"mobile\": false,\n  \"skipTlsVerification\": true,\n  \"parsers\": [\n    \"pdf\"\n  ],\n  \"actions\": [\n    {\n      \"type\": \"wait\",\n      \"selector\": \"#my-element\"\n    }\n  ],\n  \"location\": {\n    \"country\": \"US\",\n    \"languages\": [\n      \"en-US\"\n    ]\n  },\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"auto\",\n  \"storeInCache\": true,\n  \"zeroDataRetention\": false\n} ","options":{"redirect":{"redirect":{"maxRedirects":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-128,-208],"id":"27503cb5-398a-482f-baa6-13ec5f648b8f","name":"HTTP Request"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.placeId }}&key=AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos&fields=name,formatted_address,formatted_phone_number,website,rating,user_ratings_total,business_status,type","options":{}},"name":"Get Place Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-336,80],"id":"7b5a922a-3edc-4f77-8099-dd862bf1d7e1"},{"parameters":{"jsCode":"// Define place IDs array\nconst placeIds = [\n//   \"ChIJ06P1_4hYwokR-Sjo0J_NRkw\",\n//   \"ChIJO5ewdfWAhYARbaRageJsnaE\",\n//   \"ChIJBSUZPBG6j4ARVaOEcAFW7Js\",\n//   \"ChIJ65sLQ4W5woAROys8a1Adh40\",\n//   \"ChIJHaAgGSVZwokRJNuHLslBIKQ\",\n//   \"ChIJTUWdELssDogRg4QxpPignLk\",\n//   \"ChIJv0gMtq1ZwokRwYMdZJYgP5Y\",\n//   \"ChIJ-fp1LamxwoARdVZn9NbgRH4\",\n//   \"ChIJQ_sGirr7wokRhYy6ltHsobU\",\n//   \"ChIJx1UloemBhYARcpmC8a8EhuA\",\n//   \"ChIJn-zvWCC_woAR8v6t656Ldko\",\n//   \"ChIJIV80F1mxQYgRXZlayOi0n8k\",\n//   \"ChIJr-cZk4ZZwokRu-ftpVM5lVQ\",\n//   \"ChIJqy7918lZwokRieg2ekBVjmY\",\n//   \"ChIJ09dVLTCxJIgR6v414IiyrW0\",\n//   \"ChIJa2teuNymw4kRAvNsl9prlpQ\",\n//   \"ChIJTVmrAdHBwjsRKXZKdqrqbRI\",\n//   \"ChIJy0AIyzBPDg8Rv4HZvcngFqk\",\n//   \"ChIJ3w3eKNe_wjsRJAWGCEjStNM\",\n//   \"ChIJY0W_49S5wjsRidvXqfsrMpQ\",\n// ////////////////////////////\n//   \"ChIJr2wAWWdXwokRfCQEu7scxJY\",\n//   \"ChIJL1XsnM-LqKcRHB_y59FLnZs\",\n//   \"ChIJzcHFtOe4wjsRrL0fgmETqoM\",\n//   \"ChIJP1bsUiC7wjsRDuW2PAbAGas\",\n//   \"ChIJNTSJpgm5wjsRAyexKbwMgaQ\",\n//   \"ChIJUX2--KTBwjsR8tJoAEqa1C0\",\n//   \"ChIJsVIej2-_wjsReiz2lfwady0\",\n//   \"ChIJ3xJRjb2_wjsRhIv4xTGPiEA\",\n//   \"ChIJPU2wXI-_wjsRRrWtggMXUY8\",\n//   \"ChIJt3oML46r_wgRHu2uWkIszNo\",\n//   \"ChIJ40leVcu_wjsR4IbDzJ1qQ_c\",\n//   \"ChIJ4eqe_YJhUjoRvPvrqCPLzNg\",\n//   \"ChIJoVJNssfBwjsRo8EpXSkCbYU\",\n//   \"ChIJ3yXQFKIVrjsRgjd8q4fFAxM\",\n//   \"ChIJaWfNbNG25zsR0j-La_3FYw4\",\n//   \"ChIJdQ2CmwC35zsRgrDWiHsRa8s\",\n//   \"ChIJtU3uVdq25zsRo6-Ohj2eZiY\",\n//   \"ChIJW_zGyDm_wjsRNzWWtuX6bSc\",\n//   \"ChIJlyvs8SjBwjsRt7v4BEyeDQQ\",\n//   \"ChIJsze0AFfuDzkRMVcse6xG3Cc\",\n//   //////////////////////////////////\n\n  \"ChIJ-8FTjYLDwjsRtNY3kfY4-8s\",\n  \"ChIJQWtnkZm_wjsRMdIVa-o4YgA\",\n  \"ChIJkYoAfDu5wjsRl1CpzUcjhpE\",\n  \"ChIJrYP2wHCVwjsRk2d2vLchpXQ\",\n  \"ChIJJWpM0-zO5zsRPrOudtO2vWU\",\n  \"ChIJIVABbce_wjsRGAmttRLcYQU\",\n  \"ChIJC2ZD9FeVwjsR-hqTkNtB6CI\",\n  \"ChIJVVUF4znBwjsREQJY9W9xwtU\",\n  \"ChIJhywSxDzI5zsRtgHHRO3a3vw\",\n  \"ChIJf1UVAfq25zsRAP7GnH6W-lA\"\n];\n\n// Create items from place IDs\nreturn placeIds.map((placeId) => ({\n  json: {\n    placeId: placeId\n  }\n}));"},"name":"Place IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,240],"id":"7dbc43ea-35c1-4dec-aace-1ec0cf25af1a"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,208],"id":"214eebfc-7faa-47f1-bdfd-756e972af04b","name":"When Executed by Another Workflow"}],"connections":{"When clicking 'Execute workflow'":{"main":[[]]},"Loop Over Items1":{"main":[[],[{"node":"Get Place Details","type":"main","index":0}]]},"AI Agent - Get team details1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Google Gemini 2.0 Flash1":{"ai_languageModel":[[{"node":"AI Agent - Get team details1","type":"ai_languageModel","index":0}]]},"Output Helper1":{"ai_outputParser":[[{"node":"AI Agent - Get team details1","type":"ai_outputParser","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Format fixer1":{"ai_languageModel":[[{"node":"Output Helper1","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[]]},"Get Place Details":{"main":[[{"node":"AI Agent - Get team details1","type":"main","index":0}]]},"Place IDs":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Place IDs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"930565b3-ac4e-4577-b148-215502f8cd08","activeVersionId":"930565b3-ac4e-4577-b148-215502f8cd08","triggerCount":0,"shared":[{"updatedAt":"2025-12-02T08:31:50.517Z","createdAt":"2025-12-02T08:31:50.517Z","role":"workflow:owner","workflowId":"f6BufeY13Vddhrwk","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":{"updatedAt":"2026-02-04T05:38:32.193Z","createdAt":"2026-02-04T05:38:32.193Z","versionId":"930565b3-ac4e-4577-b148-215502f8cd08","workflowId":"f6BufeY13Vddhrwk","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1184,0],"id":"eeaa926c-7336-457e-8b53-506269194349","name":"When clicking 'Execute workflow'","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,112],"id":"b1b7b01c-62de-4040-a1af-786a587c1632","name":"Loop Over Items1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $json.result.toJsonString() }}\n\nread above markdown and return me output in JSON like below\n\n{\n  \"name\": \"name_here\",\n  \"address\": \"address_here\",\n  \"Contact\": \"contact_no_here\",\n  \"website\": \"website_here\",\n  \"rating\": \"rating\",\n  \"reviews\": \"review\",\n  \"status\": \"status\"\n}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[112,160],"id":"1972120e-84d3-416b-b0de-ceba2d5b4c5a","name":"AI Agent - Get team details1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,368],"id":"82718457-4502-488d-96b4-2e7e3d53d0df","name":"Google Gemini 2.0 Flash1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n  \"name\": \"name_here\",\n  \"address\": \"address_here\",\n  \"Contact\": \"contact_no_here\",\n  \"website\": \"website_here\",\n  \"rating\": \"rating\",\n  \"reviews\": \"review\",\n  \"status\": \"status\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[176,400],"id":"f302ab31-0c7a-4898-ab05-857ee6a9c486","name":"Output Helper1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":861648751,"mode":"list","cachedResultName":"UIUX-agencies-in-USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=861648751"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.output.name }}","address":"={{ $json.output.address }}","website":"={{ $json.output.website }}","phone":"={{ $json.output.Contact }}","rating":"={{ $json.output.rating }}","reviews":"={{ $json.output.reviews }}","status":"={{ $json.output.status }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reviews","displayName":"reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,480],"id":"afca612a-47a0-4d82-8eb6-4c46b015db6e","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,528],"id":"e4d7de76-6a4e-43a7-86c6-6ecda98170a9","name":"Format fixer1","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-5d63fe501d3442fea34213df3283696e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\":\"{{ $json.result.website }}\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"onlyMainContent\": true,\n  \"includeTags\": [\n    \"<string>\"\n  ],\n  \"excludeTags\": [\n    \"<string>\"\n  ],\n  \"maxAge\": 172800000,\n  \"headers\": {},\n  \"waitFor\": 0,\n  \"mobile\": false,\n  \"skipTlsVerification\": true,\n  \"parsers\": [\n    \"pdf\"\n  ],\n  \"actions\": [\n    {\n      \"type\": \"wait\",\n      \"selector\": \"#my-element\"\n    }\n  ],\n  \"location\": {\n    \"country\": \"US\",\n    \"languages\": [\n      \"en-US\"\n    ]\n  },\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"auto\",\n  \"storeInCache\": true,\n  \"zeroDataRetention\": false\n} ","options":{"redirect":{"redirect":{"maxRedirects":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-128,-208],"id":"27503cb5-398a-482f-baa6-13ec5f648b8f","name":"HTTP Request"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.placeId }}&key=AIzaSyCwcXxAveXaf5lDL2p3m7yyiOrQDKupcos&fields=name,formatted_address,formatted_phone_number,website,rating,user_ratings_total,business_status,type","options":{}},"name":"Get Place Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-336,80],"id":"7b5a922a-3edc-4f77-8099-dd862bf1d7e1"},{"parameters":{"jsCode":"// Define place IDs array\nconst placeIds = [\n//   \"ChIJ06P1_4hYwokR-Sjo0J_NRkw\",\n//   \"ChIJO5ewdfWAhYARbaRageJsnaE\",\n//   \"ChIJBSUZPBG6j4ARVaOEcAFW7Js\",\n//   \"ChIJ65sLQ4W5woAROys8a1Adh40\",\n//   \"ChIJHaAgGSVZwokRJNuHLslBIKQ\",\n//   \"ChIJTUWdELssDogRg4QxpPignLk\",\n//   \"ChIJv0gMtq1ZwokRwYMdZJYgP5Y\",\n//   \"ChIJ-fp1LamxwoARdVZn9NbgRH4\",\n//   \"ChIJQ_sGirr7wokRhYy6ltHsobU\",\n//   \"ChIJx1UloemBhYARcpmC8a8EhuA\",\n//   \"ChIJn-zvWCC_woAR8v6t656Ldko\",\n//   \"ChIJIV80F1mxQYgRXZlayOi0n8k\",\n//   \"ChIJr-cZk4ZZwokRu-ftpVM5lVQ\",\n//   \"ChIJqy7918lZwokRieg2ekBVjmY\",\n//   \"ChIJ09dVLTCxJIgR6v414IiyrW0\",\n//   \"ChIJa2teuNymw4kRAvNsl9prlpQ\",\n//   \"ChIJTVmrAdHBwjsRKXZKdqrqbRI\",\n//   \"ChIJy0AIyzBPDg8Rv4HZvcngFqk\",\n//   \"ChIJ3w3eKNe_wjsRJAWGCEjStNM\",\n//   \"ChIJY0W_49S5wjsRidvXqfsrMpQ\",\n// ////////////////////////////\n//   \"ChIJr2wAWWdXwokRfCQEu7scxJY\",\n//   \"ChIJL1XsnM-LqKcRHB_y59FLnZs\",\n//   \"ChIJzcHFtOe4wjsRrL0fgmETqoM\",\n//   \"ChIJP1bsUiC7wjsRDuW2PAbAGas\",\n//   \"ChIJNTSJpgm5wjsRAyexKbwMgaQ\",\n//   \"ChIJUX2--KTBwjsR8tJoAEqa1C0\",\n//   \"ChIJsVIej2-_wjsReiz2lfwady0\",\n//   \"ChIJ3xJRjb2_wjsRhIv4xTGPiEA\",\n//   \"ChIJPU2wXI-_wjsRRrWtggMXUY8\",\n//   \"ChIJt3oML46r_wgRHu2uWkIszNo\",\n//   \"ChIJ40leVcu_wjsR4IbDzJ1qQ_c\",\n//   \"ChIJ4eqe_YJhUjoRvPvrqCPLzNg\",\n//   \"ChIJoVJNssfBwjsRo8EpXSkCbYU\",\n//   \"ChIJ3yXQFKIVrjsRgjd8q4fFAxM\",\n//   \"ChIJaWfNbNG25zsR0j-La_3FYw4\",\n//   \"ChIJdQ2CmwC35zsRgrDWiHsRa8s\",\n//   \"ChIJtU3uVdq25zsRo6-Ohj2eZiY\",\n//   \"ChIJW_zGyDm_wjsRNzWWtuX6bSc\",\n//   \"ChIJlyvs8SjBwjsRt7v4BEyeDQQ\",\n//   \"ChIJsze0AFfuDzkRMVcse6xG3Cc\",\n//   //////////////////////////////////\n\n  \"ChIJ-8FTjYLDwjsRtNY3kfY4-8s\",\n  \"ChIJQWtnkZm_wjsRMdIVa-o4YgA\",\n  \"ChIJkYoAfDu5wjsRl1CpzUcjhpE\",\n  \"ChIJrYP2wHCVwjsRk2d2vLchpXQ\",\n  \"ChIJJWpM0-zO5zsRPrOudtO2vWU\",\n  \"ChIJIVABbce_wjsRGAmttRLcYQU\",\n  \"ChIJC2ZD9FeVwjsR-hqTkNtB6CI\",\n  \"ChIJVVUF4znBwjsREQJY9W9xwtU\",\n  \"ChIJhywSxDzI5zsRtgHHRO3a3vw\",\n  \"ChIJf1UVAfq25zsRAP7GnH6W-lA\"\n];\n\n// Create items from place IDs\nreturn placeIds.map((placeId) => ({\n  json: {\n    placeId: placeId\n  }\n}));"},"name":"Place IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,240],"id":"7dbc43ea-35c1-4dec-aace-1ec0cf25af1a"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,208],"id":"214eebfc-7faa-47f1-bdfd-756e972af04b","name":"When Executed by Another Workflow"}],"connections":{"When clicking 'Execute workflow'":{"main":[[]]},"Loop Over Items1":{"main":[[],[{"node":"Get Place Details","type":"main","index":0}]]},"AI Agent - Get team details1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Google Gemini 2.0 Flash1":{"ai_languageModel":[[{"node":"AI Agent - Get team details1","type":"ai_languageModel","index":0}]]},"Output Helper1":{"ai_outputParser":[[{"node":"AI Agent - Get team details1","type":"ai_outputParser","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Format fixer1":{"ai_languageModel":[[{"node":"Output Helper1","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[]]},"Get Place Details":{"main":[[{"node":"AI Agent - Get team details1","type":"main","index":0}]]},"Place IDs":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Place IDs","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}