my-workflow-7-rp2DeS9V5ubMeOdQ.json
{"updatedAt":"2025-11-05T11:11:03.462Z","createdAt":"2025-11-05T10:34:22.407Z","id":"rp2DeS9V5ubMeOdQ","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-576,-48],"id":"80b2edc2-4e14-4154-9ba1-06a290eda042","name":"Receive Message","webhookId":"60588dbb-0b16-475b-96ad-af824b5ed6df","credentials":{"telegramApi":{"id":"yGIx0gbZlFD2QE7P","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Task: Generate an ethical AI image based on user instruction.\n\nInstruction: \"{{ $json.message.text }}\"\n\nEthical Safety Checks - REJECT if request includes:\n- Real identifiable people (celebrities, public figures, private individuals)\n- Violence, gore, weapons used harmfully, or illegal activities\n- Hate symbols, discriminatory content, or harmful stereotypes\n- Sexual or nude content, especially non-consensual\n- Copyrighted characters, brand logos, or trademarked content\n- Deepfakes or intentionally misleading imagery\n- Cultural appropriation of sacred/religious symbols\n- Harassment or defamation content\n\nEthical Requirements - ENSURE:\n- Diverse and inclusive representation when depicting people\n- Cultural sensitivity and contextual appropriateness\n- Original creative content (not replicating existing works)\n- Transparent AI generation (suitable for disclosure)\n\nOutput Format:\n- If SAFE: Return base64-encoded image string only\n- If UNSAFE: Return error JSON: {\"error\": \"Request violates ethical guidelines\", \"reason\": \"[specific violation]\"}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-320,-48],"id":"9efba03e-6766-430f-83c6-7715c592886d","name":"Message Processor - AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.update_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-224,112],"id":"820f7c8b-f5eb-4d6a-a4c4-a342f8a15f1d","name":"Simple Memory"},{"parameters":{"operation":"toBinary","sourceProperty":"output","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[32,-48],"id":"dacc1e11-e8b8-4f86-a7f8-c1e23d8b40b0","name":"Convert to File"},{"parameters":{"modelName":"models/gemini-2.5-flash-image-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-320,144],"id":"e1e0a2af-6b12-4ead-b24d-b7a12d3e21ad","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}}],"connections":{"Receive Message":{"main":[[{"node":"Message Processor - AI Agent","type":"main","index":0}]]},"Message Processor - AI Agent":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Message Processor - AI Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Message Processor - AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"afaefd4c-59db-4c90-8b17-051cd5c6ad9c","triggerCount":0,"shared":[{"updatedAt":"2025-11-05T10:34:22.407Z","createdAt":"2025-11-05T10:34:22.407Z","role":"workflow:owner","workflowId":"rp2DeS9V5ubMeOdQ","projectId":"1vIebgCv7zceWZsM"}],"tags":[],"needsUpdate":false}