my-workflow-15-0dTrwbwrVNDvB4aN.json
{"updatedAt":"2025-12-12T10:39:34.376Z","createdAt":"2025-12-12T10:39:34.376Z","id":"0dTrwbwrVNDvB4aN","name":"My workflow 15","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"1854ca6c-a0cb-4897-ba68-89a628bdf1a3","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1136,96],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in IST timezone\nconst now = new Date();\n\n// Convert to IST (UTC +5:30)\nconst istOffsetMinutes = 330; // 5.5 hours\nconst istTime = new Date(now.getTime() + istOffsetMinutes * 60 * 1000);\n\n// Build timestamp in required format but with +00:00 offset\nconst year = istTime.getUTCFullYear();\nconst month = String(istTime.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istTime.getUTCDate()).padStart(2, '0');\nconst hours = String(istTime.getUTCHours()).padStart(2, '0');\nconst minutes = String(istTime.getUTCMinutes()).padStart(2, '0');\nconst seconds = String(istTime.getUTCSeconds()).padStart(2, '0');\n\n// Final required format: YYYY-MM-DDTHH:mm:ss+00:00\nconst formatted = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}+00:00`;\n\nreturn { currentDate: formatted };\n"},"id":"0deffe63-74f5-4c72-a258-d05e03c113d9","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,96],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"documentId":{"__rl":true,"value":"1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKGGtkYPx_M9zCUHOhwUlYFQ0bJ9O9iPc_X_zgdVvkg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $('Get Current Date').item.json.currentDate }}"}]},"options":{}},"id":"4456e77e-8024-46c5-b938-d8c69fd254de","name":"Get Sheet Row by Date","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-576,96],"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}},"notes":"Searches for row with today's date in the 'Date' column"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-row-found","leftValue":"={{ $json.Date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"beac0578-8eef-4dd7-a8e2-991de1236172","name":"Check If Post Data Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[-320,96],"notesInFlow":true,"notes":"Checks if a row exists with valid date and image URL"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.URL }}","mode":"url"},"options":{}},"id":"1f86e693-61db-4fc9-8f35-d10392ba1a95","name":"Download Image from Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Downloads image from Google Drive URL"},{"parameters":{"person":"rIt1tOcqlf","text":"={{ $('Get Sheet Row by Date').item.json.Description || 'Check out today\\'s post! 🚀' }}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"e290bae1-0bbd-4ff0-8745-4c02952999a3","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[272,0],"notesInFlow":true,"credentials":{"linkedInOAuth2Api":{"id":"voVnZhAkcaho7VPW","name":"LinkedIn account"}},"notes":"Posts image with description from Google Sheet to LinkedIn"},{"parameters":{"errorMessage":"No post scheduled for today ({{ $('Get Current Date').item.json.currentDate }})"},"id":"ad2c78af-8d74-486e-b8e3-127bd8024d56","name":"No Post Found - Stop","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-32,192],"notesInFlow":true,"notes":"Stops workflow if no post is scheduled for today"},{"parameters":{"jsCode":"// Get the response from the LinkedIn node\nconst response = $input.first().json.urn;\n\n// Check if 'urn:li:share:' exists in the response\nif (response && response.startsWith('urn:li:share:')) {\n  return [{ status: 'SENT', message: 'Post successfully published on LinkedIn', shareId: response }];\n} else {\n  return [{ status: 'FAILED', message: 'LinkedIn post not created', rawResponse: response }];}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"d46025a0-e15d-4091-8544-40caa1988721","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU","mode":"list","cachedResultName":"LinkedIn-post-content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ShareID":"={{ $json.shareId }}","Status":"={{ $json.status }}","URL":"={{ $('Download Image from Drive').item.json.URL }}"},"matchingColumns":["URL"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ShareID","displayName":"ShareID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,0],"id":"ab9683fb-92de-46c6-82cc-fb82d271859d","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Get Sheet Row by Date","type":"main","index":0}]]},"Get Sheet Row by Date":{"main":[[{"node":"Check If Post Data Found","type":"main","index":0}]]},"Check If Post Data Found":{"main":[[{"node":"Download Image from Drive","type":"main","index":0}],[{"node":"No Post Found - Stop","type":"main","index":0}]]},"Download Image from Drive":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a2feee40-7cfb-4f75-8eaf-c6bfe925fb29","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T10:39:34.376Z","createdAt":"2025-12-12T10:39:34.376Z","role":"workflow:owner","workflowId":"0dTrwbwrVNDvB4aN","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":null,"tags":[]}