n8n-mcp-ZaZIDdrYxU2pifGd.json
{"updatedAt":"2025-11-26T06:39:48.773Z","createdAt":"2025-11-25T07:50:03.869Z","id":"ZaZIDdrYxU2pifGd","name":"n8n-mcp","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,48],"id":"752b3168-0fda-4bc0-885f-283897ef15f3","name":"Select Random Template"},{"parameters":{"jsCode":"// Get the template from previous node\nconst template = $input.first().json;\n\n// Get the current CSV row data from Batch Email Processor\nconst csvData = $('Batch Email Processor2').first().json;\n// Replace placeholders in subject and body\nlet personalizedSubject = template.subject || '';\nlet personalizedBody = template.body || '';\n\n// Replace [survey] placeholder\nconst survey = csvData.Survey || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Survey\\]/g, survey);\npersonalizedBody = personalizedBody.replace(/\\[Survey\\]/g, survey);\n\n// Replace [Name] placeholder\nconst name = csvData.Name || '';\npersonalizedSubject = personalizedSubject.replace(/\\[Name\\]/g, name);\npersonalizedBody = personalizedBody.replace(/\\[Name\\]/g, name);\n\n// Replace [Survey Link] with actual clickable link\nlet surveyLink = csvData.Survey_link || '';\n\nif (surveyLink) {\n  // Add https:// if not present\n  if (!surveyLink.startsWith('http://') && !surveyLink.startsWith('https://')) {\n    surveyLink = 'https://' + surveyLink;\n  }\n  \n  // Create a clickable HTML link with styling\n  const clickableLink = `<a href=\"${surveyLink}\" style=\"color: #0066cc; text-decoration: underline; font-weight: bold;\" target=\"_blank\">${surveyLink}</a>`;\n  personalizedBody = personalizedBody.replace(/\\[Survey Link\\]/g, clickableLink);\n}\n\n// Wrap body in proper HTML structure\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  ${personalizedBody}\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    Email: csvData.Email,\n    Subject: personalizedSubject,\n    Body: htmlBody,\n    Name: csvData.Name,\n    Survey_link: csvData.Survey_link\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,48],"id":"2cb4c4f4-1e6e-49d0-810b-eff9978bf474","name":"Personalize Email"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,208],"id":"0cf779cc-ce60-40eb-bb38-c4ef465eb206","name":"Batch Email Processor2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1664,432],"id":"8d1e6863-24a8-4a44-94ef-8faa34f6f55e","name":"Wait","webhookId":"wait-webhook-001"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1312,192],"id":"4d9770b3-3e6e-4f4c-81bf-ef2a7aa8c23c","name":"Merge Email Data"},{"parameters":{"fromEmail":"shubham.uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","html":"={{ $json.Body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1168,-144],"id":"44555e97-89b7-4100-aa3b-d3b35b9efe24","name":"Send Email","webhookId":"send-email-webhook","credentials":{"smtp":{"id":"k2XuX6nu2SpclZw2","name":"SMTP account"}}},{"parameters":{"jsCode":"const response = $input.first().json.message || '';\nlet status = \"FAILED\";\n\n// Check for successful email send - expanded checks\nif (response && typeof response === 'string') {\n  const responseLower = response.toLowerCase();\n  if (responseLower.includes(\"queued.thankyou.\") || \n      responseLower.includes(\"thankyou\") ||\n      responseLower.includes(\"queued\") ||\n      responseLower.startsWith(\"queued\")) {\n    status = \"SENT\";\n  }\n}\n\nconst sentOn = new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Asia/Kolkata\",\n  hour12: false,\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Get the merged data (which includes both CSV and email content)\nconst emailData = $('Batch Email Processor2').item.json ;\n\nreturn [\n  {\n    json: {\n      Name: emailData.Name || '',\n      Email: emailData.Email || '',\n      Survey_link: emailData.Survey_link || '',\n      Status: status,\n      SentOn: sentOn,\n      Subject: emailData.Subject || '',\n      ResponseMessage: response\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,192],"id":"5b778488-bd89-4233-9e1b-63568bf03b3c","name":"Update Status & Format"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[96,-224],"id":"00719d4a-116a-453b-ad3f-946f3c51ea74","name":"Aggregate All Results"},{"parameters":{"jsCode":"// The Aggregate node output has data in: $input.first().json.data\nconst aggregatedData = $input.first().json.data || [];\n\n// The data is already flat objects, not nested under 'json'\nconst allResults = aggregatedData\n  .filter(item => item.Email)\n  .map(item => ({\n    Name: item.Name || '',\n    Email: item.Email || '',\n    Survey_link: item.Survey_link || '',\n    Status: item.Status || 'FAILED',\n    SentOn: item.SentOn || '',\n    // Subject: item.Subject || ''\n  }));\n\n// Count sent vs failed\nconst sentCount = allResults.filter(r => r.Status === 'SENT').length;\nconst failedCount = allResults.filter(r => r.Status === 'FAILED').length;\n\n// Return final formatted output\nreturn [\n  {\n    json: {\n      success: true,\n      totalProcessed: allResults.length,\n      sentSuccessfully: sentCount,\n      failed: failedCount,\n      results: allResults\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-224],"id":"83cd0309-e36a-48dc-a0ec-0fad432a3db6","name":"Format Final Response"},{"parameters":{"jsCode":"// Function node: assume JSON body only (no CSV)\nconst input = items[0];\n\n// Prefer direct body first\nif (input && Array.isArray(input.body)) {\n  return input.body.map(obj => ({ json: obj }));\n}\n\n// If body is a single object, wrap and return\nif (input && input.body && typeof input.body === 'object' && !Array.isArray(input.body)) {\n  return [{ json: input.body }];\n}\n\n// Fallback: some webhooks put payload under items[0].json.body\nif (input && input.json) {\n  if (Array.isArray(input.json.body)) {\n    return input.json.body.map(obj => ({ json: obj }));\n  }\n  if (input.json.body && typeof input.json.body === 'object') {\n    return [{ json: input.json.body }];\n  }\n}\n\n// Nothing usable found\nthrow new Error('Expected JSON body (array or object) in items[0].body or items[0].json.body. No valid JSON body found.');\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,192],"id":"b44b8bf7-036b-4589-95c7-cb3a7bfeeeb3","name":"Parse CSV File"},{"parameters":{"operation":"getAll","tableId":"email_template","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-240],"id":"9d49cf94-eb71-4aa3-9398-958138f3afec","name":"email_templates","credentials":{"supabaseApi":{"id":"d8px7xRtHhyacU4j","name":"Supabase account"}}},{"parameters":{"fromEmail":"uxboost@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.Subject }}","text":"=","html":"={{ $json.Body }}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[1552,192],"id":"ab89c404-d5c5-4d61-981d-76c5453c037e","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8","mode":"list","cachedResultName":"email_templates","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_l9G0yApCe9E9fFq9MeYSFDYStvbea2F8NJnDmuBjW8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[272,48],"id":"50c8e959-5298-4750-979a-d3e5ae7671f5","name":"Get Email template","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"httpMethod":"POST","path":"email-campaign","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-976,192],"id":"089cdbf6-6f75-4b53-91bf-416ad4b05603","name":"Webhook Trigger","webhookId":"email-campaign-webhook"}],"connections":{"Select Random Template":{"main":[[{"node":"Personalize Email","type":"main","index":0}]]},"Personalize Email":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Batch Email Processor2":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}],[{"node":"Merge Email Data","type":"main","index":1},{"node":"Get Email template","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Mailgun","type":"main","index":0}]]},"Update Status & Format":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Parse CSV File":{"main":[[{"node":"Batch Email Processor2","type":"main","index":0}]]},"Mailgun":{"main":[[{"node":"Update Status & Format","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Get Email template":{"main":[[{"node":"Select Random Template","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Parse CSV File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c92ec3f7-f94f-4522-9d9a-1e7f1dcaf021","triggerCount":1,"shared":[{"updatedAt":"2025-11-25T07:50:03.869Z","createdAt":"2025-11-25T07:50:03.869Z","role":"workflow:owner","workflowId":"ZaZIDdrYxU2pifGd","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}