scheduling-linkedin-posting-RjWpCepNzX7NaGxA.json
{"updatedAt":"2026-01-06T13:41:19.368Z","createdAt":"2026-01-05T10:23:02.450Z","id":"RjWpCepNzX7NaGxA","name":"Scheduling-linkedin-posting","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-4144,1856],"id":"64c78d39-c6da-4d9d-bb45-dc26bfddf1df","name":"Schedule Trigger"},{"parameters":{"collection":"artifacts","options":{},"query":"={\n  \"blog_Post_Status\": \"scheduled\",\n  \"content_type\": \"LinkedIn\",\n  \"schedule_time\": {\n    \"$gte\": \"{{ $json.fromTime }}\",\n    \"$lte\": \"{{ $json.toTime }}\"\n  }\n}\n"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-3568,1712],"id":"6f3f3b70-94bb-4134-9ce4-fa8b85e52260","name":"Get list for posting from MongoDB","credentials":{"mongoDb":{"id":"niZ94j3EsNnaJhD0","name":"MongoDB production account"}}},{"parameters":{"operation":"get","tableId":"social_media_connections","filters":{"conditions":[{"keyName":"project_id","keyValue":"={{ $json.metadata.project_id }}"},{"keyName":"organization_id","keyValue":"={{ $json.organization_id }}"},{"keyName":"platform","keyValue":"linkedin"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2880,1584],"id":"e37d1451-fd39-4df1-abf7-ed6308e5eae4","name":"Get access token from db","credentials":{"supabaseApi":{"id":"QoNA4Ei8WVmiGGti","name":"Supabase development account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"65bd9b32-72ef-4d86-9ff9-65b533b5c605","leftValue":"={{ $json.access_token_encrypted }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2704,1584],"id":"5920a4ed-4a83-47c8-b055-4a88052f93d9","name":"If"},{"parameters":{"method":"POST","url":"https://974d1d2ffd78.ngrok-free.app/api/oauth/decrypt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"organisationid","value":"={{ $json.organization_id }}"},{"name":"projectid","value":"={{ $json.project_id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"EncryptedToken","value":"={{ $('Get access token from db').item.json.access_token_encrypted }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2448,1616],"id":"de526d38-1cb6-4144-b286-595fd843ba87","name":"Decrypt Token"},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.decrypted_token }}"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337608:t=1767416076:v=2:sig=AQG5IeaXIhbztjmCi_ftPt1uDXRv9mN0\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"options":{"redirect":{"redirect":{}}}},"id":"3dd5fc00-38e8-4000-9de4-d24a79d7a5ca","name":"Get Userinfo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2128,1616]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3184,1584],"id":"13de9e7d-c64f-43aa-a4ac-0e106903ac0f","name":"Loop Over Items"},{"parameters":{"jsCode":"// Current time (UTC)\nconst now = new Date();\n\n// 5 minutes ago\nconst fiveMinutesAgo = new Date(now.getTime() - 5 * 60 * 1000);\n\n// Helper to format as YYYY-MM-DDTHH:mm (UTC)\nfunction formatUTC(date) {\n  return date.toISOString().slice(0, 16);\n}\n\nreturn [\n  {\n    fromTime: formatUTC(fiveMinutesAgo),\n    toTime: formatUTC(now)\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3856,1664],"id":"2fefc6a3-6f7a-4559-a7a0-ad55a5aced34","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4160,1536],"id":"34d8390d-426c-4a91-a18c-3b0d328a5dce","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4e6e5849-1d84-456d-8408-05beb3aa4841","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1664,1616],"id":"bc9252c8-4288-4c31-a946-3ece94fdbb66","name":"If2"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $('Decrypt Token').item.json.decrypted_token }}"},{"name":"X-Restli-Protocol-Version","value":"2.0.0"},{"name":"Cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\"; bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\""},{"name":"cookie","value":"lidc=\"b=VB37:s=V:r=V:a=V:p=V:g=5274:u=14:x=1:i=1767337709:t=1767416076:v=2:sig=AQGorf29Stm-XD8nF6hDZaV6r4GtAzSI\";bcookie=\"v=2&cb26e5f4-1f2c-4ac0-8a08-e65181745819\";"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n      \"com.linkedin.ugc.ShareContent\": {\n        \"shareCommentary\": {\n          \"text\": \"{{ $('Get list for posting from MongoDB').item.json.content.blog_content }}\"\n        },\n        \"shareMediaCategory\": \"NONE\"\n      }\n    },\n    \"visibility\": {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  } ","options":{"redirect":{"redirect":{}}}},"id":"7e9a8b21-8a8b-4561-a417-c82e91e75875","name":"Post to LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1872,1616]},{"parameters":{"jsCode":"return [\n  {\n    _id: $('Loop Over Items').first().json._id,\n    blog_Post_Status: \"published\",\n    publish_date: new Date().toISOString(),\n    published_by: \"n8n\"\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,1600],"id":"9961c918-a65f-4f71-b326-0451764770bb","name":"Code in JavaScript1"},{"parameters":{"operation":"findOneAndUpdate","collection":"artifacts","updateKey":"=_id","fields":"=blog_Post_Status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-1072,1792],"id":"9fd6f416-b5b1-4518-9974-c33a45b9d852","name":"Mark Status as Posted","alwaysOutputData":false,"credentials":{"mongoDb":{"id":"niZ94j3EsNnaJhD0","name":"MongoDB production account"}}}],"connections":{"Schedule Trigger":{"main":[[]]},"Get list for posting from MongoDB":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get access token from db":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Decrypt Token","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Decrypt Token":{"main":[[{"node":"Get Userinfo","type":"main","index":0}]]},"Get Userinfo":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get access token from db","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get list for posting from MongoDB","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"If2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Mark Status as Posted","type":"main","index":0}]]},"Mark Status as Posted":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b7c95d5-45fb-450e-91e1-b2c5f837a360","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T10:23:02.450Z","createdAt":"2026-01-05T10:23:02.450Z","role":"workflow:owner","workflowId":"RjWpCepNzX7NaGxA","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":null,"tags":[]}