send-whatapp-message-wbc-cwQtvbMofuWvAsG5.json
{"updatedAt":"2025-11-13T10:48:15.352Z","createdAt":"2025-11-13T10:27:22.110Z","id":"cwQtvbMofuWvAsG5","name":"Send Whatapp Message WBC","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,-256],"id":"246b18bf-4109-41f7-84ed-2fc4b6b9355b","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo","mode":"list","cachedResultName":"Phone_numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-400,-256],"id":"94bb9335-fc5e-4dbc-91de-fedcdc4f3190","name":"Get Messages","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,-256],"id":"ec7666eb-8687-4a77-84c6-1d62a4e046de","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccaa243d-5b66-412a-ad93-ae7206fa38ea","leftValue":"={{ $json.Type }}","rightValue":"Text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,-240],"id":"20535728-c30c-4271-9096-d7067c0fa553","name":"If"},{"parameters":{"operation":"send","phoneNumberId":"=55655444344","recipientPhoneNumber":"={{ $json.PhoneNumber }}","textBody":"={{ $json.Message }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[912,-400],"id":"7c5406eb-37cc-4565-9358-52b1fa3c7d6c","name":"Send message","webhookId":"6abdd290-c65e-4c55-ac4c-2603ffe40877","credentials":{"whatsAppApi":{"id":"T7gwiOAaiP2KO6qm","name":"WhatsApp account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Type.toLowerCase() }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"9424bf8b-f51c-4d5c-881d-7284a1f5c35c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20d2b464-b299-4c97-8ac9-fddfe75a3c1e","leftValue":"={{ $json.Type.toLowerCase() }}","rightValue":"document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[576,-208],"id":"7460ef2d-cd85-440a-a49a-999e76ce60d1","name":"Switch"},{"parameters":{"operation":"send","phoneNumberId":"=73645233423","recipientPhoneNumber":"={{ $json.PhoneNumber }}","messageType":"image","mediaLink":"={{ $json['G-Link'] }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[912,-224],"id":"87e38585-de6d-4404-878e-aded7d8ba8d1","name":"Send Image","webhookId":"5536df7a-cd55-455b-b3ad-27abbf2db6c0","credentials":{"whatsAppApi":{"id":"T7gwiOAaiP2KO6qm","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"=7564321332","recipientPhoneNumber":"={{ $json.PhoneNumber }}","textBody":"={{ $json['G-Link'] }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[912,-48],"id":"5dec2136-5cee-467d-ba76-0785d38db868","name":"Send document","webhookId":"2b31b737-9d4a-4550-ae43-784dbb03c3ad","credentials":{"whatsAppApi":{"id":"T7gwiOAaiP2KO6qm","name":"WhatsApp account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo","mode":"list","cachedResultName":"Phone_numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Sent":"Sent","SentOn":"={{ $now }}"},"matchingColumns":["row_number"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PhoneNumber","displayName":"PhoneNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"G-Link","displayName":"G-Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sent","displayName":"Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SentOn","displayName":"SentOn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1552,-48],"id":"e21fc5e9-d107-44d2-b23d-b04dc5c111a4","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Messages","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send message","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send Image","type":"main","index":0}],[{"node":"Send document","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send Image":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Send document":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"176cd60b-9d2a-4dba-ac41-90dfd448758a","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T10:27:22.110Z","createdAt":"2025-11-13T10:27:22.110Z","role":"workflow:owner","workflowId":"cwQtvbMofuWvAsG5","projectId":"1vIebgCv7zceWZsM"}],"tags":[]}