send-email-F4WqMzgIHZviCWSr.json
{"updatedAt":"2025-12-09T11:05:43.925Z","createdAt":"2025-12-09T10:59:06.617Z","id":"F4WqMzgIHZviCWSr","name":"Send Email","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"email/send","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-16],"id":"be716fb7-3323-4dc8-b0ba-52901e315dfe","name":"Webhook","webhookId":"396f9ccc-28ab-4e68-a4a3-dfb40ab62c57"},{"parameters":{"fromEmail":"uxboost@gmail.com","toEmail":"={{ $json.body.email }}","subject":"={{ $json.body.subject }}","html":"={{ $json.body.body }}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-96,-16],"id":"c87a4cad-b5d5-4aa0-889e-c201253f68cc","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"tableId":"messagelogs","fieldsUi":{"fieldValues":[{"fieldId":"FirstName","fieldValue":"={{ $('Webhook').item.json.body.firstname }}"},{"fieldId":"LastName","fieldValue":"={{ $('Webhook').item.json.body.lastname }}"},{"fieldId":"CompanyName","fieldValue":"={{ $('Webhook').item.json.body.companyname }}"},{"fieldId":"Email","fieldValue":"={{ $('Webhook').item.json.body.email }}"},{"fieldId":"subject","fieldValue":"={{ $('Webhook').item.json.body.subject }}"},{"fieldId":"body","fieldValue":"={{ $('Webhook').item.json.body.body }}"},{"fieldId":"sent_on","fieldValue":"={{$now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[128,-16],"id":"cee18273-8782-4b21-9bb3-50f875a48187","name":"Create a row","credentials":{"supabaseApi":{"id":"MXdtZTvdFmQfml81","name":"Supabase account - Shubham"}}}],"connections":{"Webhook":{"main":[[{"node":"Mailgun","type":"main","index":0}]]},"Mailgun":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8c698d8-2286-4bcd-83fb-7ad75f1b95ab","activeVersionId":"c8c698d8-2286-4bcd-83fb-7ad75f1b95ab","triggerCount":1,"shared":[{"updatedAt":"2025-12-09T10:59:06.617Z","createdAt":"2025-12-09T10:59:06.617Z","role":"workflow:owner","workflowId":"F4WqMzgIHZviCWSr","projectId":"1vIebgCv7zceWZsM"}],"activeVersion":{"updatedAt":"2025-12-11T11:32:04.260Z","createdAt":"2025-12-11T11:32:04.260Z","versionId":"c8c698d8-2286-4bcd-83fb-7ad75f1b95ab","workflowId":"F4WqMzgIHZviCWSr","nodes":[{"parameters":{"httpMethod":"POST","path":"email/send","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-16],"id":"be716fb7-3323-4dc8-b0ba-52901e315dfe","name":"Webhook","webhookId":"396f9ccc-28ab-4e68-a4a3-dfb40ab62c57"},{"parameters":{"fromEmail":"uxboost@gmail.com","toEmail":"={{ $json.body.email }}","subject":"={{ $json.body.subject }}","html":"={{ $json.body.body }}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-96,-16],"id":"c87a4cad-b5d5-4aa0-889e-c201253f68cc","name":"Mailgun","credentials":{"mailgunApi":{"id":"Qhfxq0SNTJIEdoPE","name":"Mailgun account"}}},{"parameters":{"tableId":"messagelogs","fieldsUi":{"fieldValues":[{"fieldId":"FirstName","fieldValue":"={{ $('Webhook').item.json.body.firstname }}"},{"fieldId":"LastName","fieldValue":"={{ $('Webhook').item.json.body.lastname }}"},{"fieldId":"CompanyName","fieldValue":"={{ $('Webhook').item.json.body.companyname }}"},{"fieldId":"Email","fieldValue":"={{ $('Webhook').item.json.body.email }}"},{"fieldId":"subject","fieldValue":"={{ $('Webhook').item.json.body.subject }}"},{"fieldId":"body","fieldValue":"={{ $('Webhook').item.json.body.body }}"},{"fieldId":"sent_on","fieldValue":"={{$now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[128,-16],"id":"cee18273-8782-4b21-9bb3-50f875a48187","name":"Create a row","credentials":{"supabaseApi":{"id":"MXdtZTvdFmQfml81","name":"Supabase account - Shubham"}}}],"connections":{"Webhook":{"main":[[{"node":"Mailgun","type":"main","index":0}]]},"Mailgun":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}