twitter-posting-api-rp0xPq3zWppE2etv.json
{"updatedAt":"2026-01-22T10:49:32.260Z","createdAt":"2026-01-05T12:32:29.285Z","id":"rp0xPq3zWppE2etv","name":"Twitter Posting API","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"twitter/post","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-16],"id":"1be68d98-c4b1-4757-ab58-3aa8440ec1f7","name":"Webhook","webhookId":"1bebbb4c-9061-4e19-be32-9660efd6cc89"},{"parameters":{"operation":"get","tableId":"social_media_connections","filters":{"conditions":[{"keyName":"project_id","keyValue":"={{ $json.body.projectId }}"},{"keyName":"organization_id","keyValue":"={{ $json.body.organisationId }}"},{"keyName":"platform","keyValue":"twitter"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-336,-16],"id":"2e375421-567c-4513-a2ce-58152826f518","name":"Get access token from db","credentials":{"supabaseApi":{"id":"QoNA4Ei8WVmiGGti","name":"Supabase development account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"65bd9b32-72ef-4d86-9ff9-65b533b5c605","leftValue":"={{ $json.access_token_encrypted }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-128,-16],"id":"d78c9a9c-af21-4f87-b626-033721843fd5","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": false,\n  \"errormessage\":\"invalid project or organisation\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[128,80],"id":"4c8991bb-0f3a-475d-89f9-174f5996a407","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://974d1d2ffd78.ngrok-free.app/api/oauth/decrypt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"organisationid","value":"={{ $('Webhook').item.json.body.organisationId }}"},{"name":"projectid","value":"={{ $('Webhook').item.json.body.projectId }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"EncryptedToken","value":"={{ $('Get access token from db').item.json.access_token_encrypted }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,-160],"id":"a47c3a54-a5ef-4c8b-96cd-a2ae4cc94e14","name":"Decrypt Token"},{"parameters":{"functionCode":"const response = $input.first().json;\n\nreturn {\n  success: true,\n  message: 'Post published successfully to X',\n  postId: response.id || 'unknown',\n  timestamp: new Date().toISOString()\n};"},"id":"eb16fb92-f576-46fb-a5c6-072d58f48c64","name":"Success Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1136,-256]},{"parameters":{"functionCode":"const error = $input.first().json;\n\nreturn {\n  success: false,\n  message: 'Failed to post to X',\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};"},"id":"b442f5f6-9871-4e9e-8b2b-3e0209bc575f","name":"Error Response1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1136,-64]},{"parameters":{"respondWith":"json","responseBody":"=\n{\n\"success\": {{ $json.success }},\n\"message\": \"Post published successfully to LinkedIn\", \n\"postid\" :  \"{{ $json.postId }}\",\n\"timestamp\":\"{{ $json.timestamp }}\"\n}","options":{"responseCode":200}},"id":"fe5ab60c-25e0-471a-87f4-a41676d06143","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1424,-256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4e6e5849-1d84-456d-8408-05beb3aa4841","leftValue":"={{ $json.data.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-160],"id":"58b685fd-4d83-4eb9-af47-e10faa4ad904","name":"If1"},{"parameters":{"respondWith":"json","responseBody":"={\n\"success\": {{ $json.success }},\n\"message\": \"Failed to post to LinkedIn\",\n\"timestamp\":\"{{ $json.timestamp }}\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1424,-64],"id":"d4f55277-7667-483d-bcfe-89e1b3857efc","name":"Respond to Webhook2"},{"parameters":{"method":"POST","url":"https://api.x.com/2/tweets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.decrypted_token }}"},{"name":"Cookie","value":"__cf_bm=tkkuW1405M4OGOmGc9j8Q8NK5i.3uTKf2zvm1C.Iyfc-1767610837.8932483-1.0.1.1-7wG49nVpLVa1eRcPnZJoGHTgkDpNsEdgvSlvULKWo7bqmXis4f.1fw0Iz0WDgF5jE.Xojh0q4Iecc4CMYvyNLe0Cwae1BUU47qHEMWcKrf7pQAUYcQ6fWGUNlk68xt86; ct0=e125a37519c4eb6e83c7d7bbdbfda89a; guest_id=v1%3A176303158597989857; guest_id_ads=v1%3A176303158597989857; guest_id_marketing=v1%3A176303158597989857; personalization_id=\"v1_aPbQ4KxThsQozTdVPwZT0w==\""},{"name":"cookie","value":"__cf_bm=tkkuW1405M4OGOmGc9j8Q8NK5i.3uTKf2zvm1C.Iyfc-1767610837.8932483-1.0.1.1-7wG49nVpLVa1eRcPnZJoGHTgkDpNsEdgvSlvULKWo7bqmXis4f.1fw0Iz0WDgF5jE.Xojh0q4Iecc4CMYvyNLe0Cwae1BUU47qHEMWcKrf7pQAUYcQ6fWGUNlk68xt86;ct0=e125a37519c4eb6e83c7d7bbdbfda89a;guest_id=v1%3A176303158597989857;guest_id_ads=v1%3A176303158597989857;guest_id_marketing=v1%3A176303158597989857;personalization_id=\"v1_aPbQ4KxThsQozTdVPwZT0w==\";"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"Learn how to use the user Tweet timeline and user mention timeline endpoints in the X API v2 to explore Tweet\\u2026 https:\\/\\/t.co\\/56a0vZUx7i"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[656,96],"id":"b226c7a1-742e-42ca-ae93-ad83745e15a0","name":"Post to Twitter1"},{"parameters":{"method":"POST","url":"https://api.x.com/2/tweets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.decrypted_token }}"},{"name":"Cookie","value":"guest_id=v1%3A176303158597989857; guest_id_ads=v1%3A176303158597989857; guest_id_marketing=v1%3A176303158597989857; personalization_id=\"v1_aPbQ4KxThsQozTdVPwZT0w==\""},{"name":"cookie","value":"guest_id=v1%3A176303158597989857;guest_id_ads=v1%3A176303158597989857;guest_id_marketing=v1%3A176303158597989857;personalization_id=\"v1_aPbQ4KxThsQozTdVPwZT0w==\";"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Webhook').item.json.body.Content }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[592,-304],"id":"ed5c200b-6c5f-4eb1-92ef-e9bf041d47cb","name":"Post to Twitter"}],"connections":{"Webhook":{"main":[[{"node":"Get access token from db","type":"main","index":0}]]},"Get access token from db":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Decrypt Token","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Success Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Error Response1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Decrypt Token":{"main":[[{"node":"Post to Twitter","type":"main","index":0}]]},"If1":{"main":[[{"node":"Success Response1","type":"main","index":0}],[{"node":"Error Response1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Post to Twitter1":{"main":[[]]},"Post to Twitter":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0026c5c0-e053-40b5-85db-7b593f6f25ce","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T12:32:29.285Z","createdAt":"2026-01-05T12:32:29.285Z","role":"workflow:owner","workflowId":"rp0xPq3zWppE2etv","projectId":"tsuA2t8C154Ytetn"}],"activeVersion":null,"tags":[]}