twitter-auto-post-google-sheet-WDvzSUMiWl4RPoie.json
{"updatedAt":"2025-11-13T11:13:22.834Z","createdAt":"2025-11-13T08:23:15.939Z","id":"WDvzSUMiWl4RPoie","name":"Google Drive to X/Twitter Auto-Post google-sheet","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 3 * * *"}]}},"id":"def04242-9853-4bfa-b87c-f5026004f426","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1776,128],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in YYYY-MM-DD format (IST timezone)\nconst today = new Date();\n\n// Convert to IST (UTC + 5:30)\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istDate = new Date(today.getTime() + istOffset);\n\n// Format as YYYY-MM-DD\nconst year = istDate.getUTCFullYear();\nconst month = String(istDate.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istDate.getUTCDate()).padStart(2, '0');\n\nconst formattedDate = `${month}/${day}/${year}`;\n\nreturn {\n  currentDate: formattedDate\n};"},"id":"058e05d7-7db2-4c68-bd4e-f37cc350d6a0","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,128],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"documentId":{"__rl":true,"value":"1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU","mode":"list","cachedResultName":"LinkedIn-post-content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $('Get Current Date').item.json.currentDate }}"}]},"options":{}},"id":"481cf1b7-7e18-4ed9-a182-2654a8ec8bf7","name":"Get Sheet Row by Date","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1216,128],"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}},"notes":"Searches for row with today's date in the 'Date' column"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-row-found","leftValue":"={{ $json.Date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5bfbaff7-971a-471f-a682-3d7f772d8df4","name":"Check If Post Data Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[-960,128],"notesInFlow":true,"notes":"Checks if a row exists with valid date and image URL"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.URL }}","mode":"url"},"options":{}},"id":"5ce286ad-7125-48a9-95ee-9fd8c8668f02","name":"Download Image from Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-800,-48],"notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"3kJuiPnxzgMplmO8","name":"shrinivas-google-drive"}},"notes":"Downloads image from Google Drive URL"},{"parameters":{"errorMessage":"No post scheduled for today ({{ $('Get Current Date').item.json.currentDate }})"},"id":"b274ab04-2e33-46ee-91de-cd2025344b1b","name":"No Post Found - Stop","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-672,224],"notesInFlow":true,"notes":"Stops workflow if no post is scheduled for today"},{"parameters":{"jsCode":"// Get the response from the LinkedIn node\nconst response = $input.first().json.urn;\n\n// Check if 'urn:li:share:' exists in the response\nif (response && response.startsWith('urn:li:share:')) {\n  return [{ status: 'SENT', message: 'Post successfully published on LinkedIn', shareId: response }];\n} else {\n  return [{ status: 'FAILED', message: 'LinkedIn post not created', rawResponse: response }];}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,32],"id":"dcd6219c-8164-4ef2-9e33-83c42709e63b","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU","mode":"list","cachedResultName":"LinkedIn-post-content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ShareID":"={{ $json.shareId }}","Status":"={{ $json.status }}","URL":"={{ $('Download Image from Drive').item.json.URL }}"},"matchingColumns":["URL"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ShareID","displayName":"ShareID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,32],"id":"9b9aaf75-25fd-470f-be71-045a7334a609","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}},{"parameters":{"text":"This is test post from n8n automation","additionalFields":{"attachments":"710511363345354753"}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-368,-32],"id":"fad429fe-0f72-49d8-aa9a-1c97fa083b38","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"NHRyxw7Wfn60UvLU","name":"X account"}}},{"parameters":{"method":"POST","url":"https://api.x.com/2/media/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer paJiBCqYIJavwyLTPH42YlTxQGWzhcgCjRkgzEJT02q_GMI_8G"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"media_category","value":"TWEET_IMAGE"},{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,-48],"id":"97053676-07f4-49f9-8c9f-e9608a004cc8","name":"HTTP Request"}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Get Sheet Row by Date","type":"main","index":0}]]},"Get Sheet Row by Date":{"main":[[{"node":"Check If Post Data Found","type":"main","index":0}]]},"Check If Post Data Found":{"main":[[{"node":"Download Image from Drive","type":"main","index":0}],[{"node":"No Post Found - Stop","type":"main","index":0}]]},"Download Image from Drive":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Create Tweet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b325aa93-b7e7-4a20-b909-853bd0a96ebe","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T08:23:15.939Z","createdAt":"2025-11-13T08:23:15.939Z","role":"workflow:owner","workflowId":"WDvzSUMiWl4RPoie","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}