website-scraping---firecrawl-849k0tGDTPpwDftA.json
{"updatedAt":"2025-11-21T13:06:58.995Z","createdAt":"2025-11-20T09:50:55.976Z","id":"849k0tGDTPpwDftA","name":"Website Scraping - Firecrawl","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,0],"id":"04c083d8-b1a7-4c66-b00a-13f67a1e7c2c","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"scrape","url":"https://baseballconnected.com/baseball-teams/","parsers":["pdf"],"requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[-208,0],"id":"e989e782-957a-4547-8870-4d0786e57366","name":"Scrape a url and get its content","credentials":{"firecrawlApi":{"id":"Hm7biHGOu4OQpUIC","name":"Firecrawl account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,176],"id":"e274f4f6-e3c0-435b-845a-d3745610f22b","name":"Gemini 2.0 flash","credentials":{"googlePalmApi":{"id":"77KLSHM0nlw0viYq","name":"shubham-gemini-api-key"}}},{"parameters":{"promptType":"define","text":"=Read the below markdown and give the Team names and their link from it.\n\n{{ $json.data.markdown }}\n\n\nit should be in JSON format As below : \n[\n{\n   \"name\" : \"name_here\",\n   \"url\" : \"url_here\"\n}\n]","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"5737d895-a7ac-4aa9-a7dd-f0426c764262","name":"AI Agent - Teams List Extractor"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"8372376b-69c7-44a2-bbc7-4ce5374b6b7d","name":"Loop Over Items","alwaysOutputData":false},{"parameters":{"operation":"scrape","url":"={{ $json.url }}","parsers":["pdf"],"requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[944,16],"id":"f7b84df8-db0a-45aa-99f9-22bbc91e4756","name":"Scrape team profile and get details","credentials":{"firecrawlApi":{"id":"Hm7biHGOu4OQpUIC","name":"Firecrawl account"}}},{"parameters":{"jsonSchemaExample":"[\n  {\n\t\"name\": \"California\",\n\t\"url\": \"San Diego\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[144,224],"id":"9a4c9cf2-3406-4087-b316-df8bf5ec8044","name":"Structured Output Parser"},{"parameters":{"jsCode":"return $input.first().json.output"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,0],"id":"787fec04-175b-4fb7-b662-ee04dfc53b17","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"={{ $json.data.markdown }}\n\nread above markdown and return me output in JSON like below\n\n{\n\"team_name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1168,16],"id":"c556aa01-98ac-4004-acf4-1e05f2144d88","name":"AI Agent - Get team details"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1168,160],"id":"255c8f3d-e3fe-448a-b189-316402dd191c","name":"Google Gemini 2.0 Flash","credentials":{"googlePalmApi":{"id":"77KLSHM0nlw0viYq","name":"shubham-gemini-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"team_name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1232,256],"id":"ab112c33-6166-497a-9d99-3941e5a62722","name":"Output Helper"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":19376347,"mode":"list","cachedResultName":"Sheet3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=19376347"},"columns":{"mappingMode":"defineBelow","value":{"Team Name":"={{ $json.output.team_name }}","Website":"={{ $json.output.website }}","Contact":"={{ $json.output.contact }}","Lastname":"={{ $json.output.lastname }}","Firstname":"={{ $json.output.firstname }}","Email":"={{ $json.output.email }}","Facebook":"={{ $json.output.facebook }}","Instagram":"={{ $json.output.instagram }}","Twitter":"={{ $json.output.twitter }}","Description":"={{ $json.output.description }}","Location":"={{ $json.output.location }}"},"matchingColumns":[],"schema":[{"id":"Team Name","displayName":"Team Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Firstname","displayName":"Firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lastname","displayName":"Lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1552,336],"id":"a0605ba8-fbf2-4873-845f-59d32b3d7d1a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1232,384],"id":"4ec0baa7-2716-4244-b237-f71d5e88e1c1","name":"Format fixer","credentials":{"googlePalmApi":{"id":"77KLSHM0nlw0viYq","name":"shubham-gemini-api-key"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[880,272],"id":"02cb043a-5b65-489b-90d0-e1723272204c","name":"MCP Client"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Scrape a url and get its content","type":"main","index":0}]]},"Scrape a url and get its content":{"main":[[{"node":"AI Agent - Teams List Extractor","type":"main","index":0}]]},"Gemini 2.0 flash":{"ai_languageModel":[[{"node":"AI Agent - Teams List Extractor","type":"ai_languageModel","index":0}]]},"AI Agent - Teams List Extractor":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Scrape team profile and get details","type":"main","index":0}]]},"Scrape team profile and get details":{"main":[[{"node":"AI Agent - Get team details","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Teams List Extractor","type":"ai_outputParser","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent - Get team details":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Google Gemini 2.0 Flash":{"ai_languageModel":[[{"node":"AI Agent - Get team details","type":"ai_languageModel","index":0}]]},"Output Helper":{"ai_outputParser":[[{"node":"AI Agent - Get team details","type":"ai_outputParser","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Format fixer":{"ai_languageModel":[[{"node":"Output Helper","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"683d8ffc-c9d8-49c3-905c-c31a33808a5e","triggerCount":0,"shared":[{"updatedAt":"2025-11-20T09:50:55.976Z","createdAt":"2025-11-20T09:50:55.976Z","role":"workflow:owner","workflowId":"849k0tGDTPpwDftA","projectId":"1vIebgCv7zceWZsM"}],"tags":[]}