website-scraping---firecrawl-copy12345-LVWazJvVnJv7zya4.json
{"updatedAt":"2025-11-25T10:35:30.232Z","createdAt":"2025-11-24T09:41:29.730Z","id":"LVWazJvVnJv7zya4","name":"Website Scraping - Firecrawl copy12345","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,64],"id":"3155f849-5572-49e8-a164-ac8e991a5deb","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-32],"id":"b8e46d93-244c-41d1-adff-1bcb04573b79","name":"Loop Over Items","alwaysOutputData":false},{"parameters":{"operation":"scrape","url":"={{ $json.url }}","parsers":["pdf"],"requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[848,0],"id":"df54aa58-1735-4ad9-a410-4ba688f34931","name":"Scrape team profile and get details","credentials":{"firecrawlApi":{"id":"nxIOXOPXz7jCiqM9","name":"shrinivas-Firecrawl-account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.data.markdown }}\n\nread above markdown and return me output in JSON like below\n\n{\n\"team_name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\",\n\"age_group\":\"12U,18U,11U\"\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1456,16],"id":"c894907b-f53f-487a-8286-0a7370ad76b3","name":"AI Agent - Get team details"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1344,224],"id":"b475165c-1859-488b-a2d1-b1d3459fa953","name":"Google Gemini 2.0 Flash","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsonSchemaExample":"{\n\"team_name\" : \"team_name_here\",\n\"website\" : \"website\",\n\"description\" : \"description\",\n\"firstname\" : \"firstname\",\n\"lastname\" : \"lastname\",\n\"email\" : \"emailaddress\",\n\"contact\" : \"contact number\",\n\"location\" :\"location\",\n\"facebook\" : \"facebook page url\",\n\"instagram\" : \"instagram url\",\n\"twitter\" : \"twitter url\",\n  \"age_group\":\"12U,18U,11U\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1520,256],"id":"8367ccc3-40eb-4097-894b-e9008b1ed26e","name":"Output Helper"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I","mode":"list","cachedResultName":"Data-scraping-apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":445893875,"mode":"list","cachedResultName":"softball-teams-final-sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/101Y3Pl-yh7h4ArxLNh9DH-1e4IUsWKg9xskkmaPh-4I/edit#gid=445893875"},"columns":{"mappingMode":"defineBelow","value":{"Team Name":"={{ $json.output.team_name }}","Website":"={{ $json.output.website }}","Contact":"={{ $json.output.contact }}","Lastname":"={{ $json.output.lastname }}","Firstname":"={{ $json.output.firstname }}","Email":"={{ $json.output.email }}","Facebook":"={{ $json.output.facebook }}","Instagram":"={{ $json.output.instagram }}","Twitter":"={{ $json.output.twitter }}","Description":"={{ $json.output.description }}","Location":"={{ $json.output.location }}","Age Groups":"={{ $json.output.age_group }}"},"matchingColumns":[],"schema":[{"id":"Team Name","displayName":"Team Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Firstname","displayName":"Firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lastname","displayName":"Lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Age Groups","displayName":"Age Groups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1840,336],"id":"cd90ed5e-d46a-4d61-b090-3e35f4537b8d","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Rb8zubR3AtNAnBYU","name":"Google Sheets account 3"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1520,384],"id":"544906f4-fa43-4795-b721-7acf338292f6","name":"Format fixer","credentials":{"googlePalmApi":{"id":"oLVwZgR30J5vlZsA","name":"uxboost-production-api-key"}}},{"parameters":{"jsCode":"// Your team list JSON\nconst teams = [\n  {\n    \"name\": \"Sycamore SYCOS\",\n    \"url\": \"https://www.softballconnected.com/teams/sycamore-sycos-sycamore-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/sycos-black-and-vegas-gold-logo_1666210317.jpg\",\n    \"location\": \"PO Box 383,\\nSycamore, Illinois, 60178\"\n  },\n  {\n    \"name\": \"TBSA Wahoos ‘06 14u\",\n    \"url\": \"https://www.softballconnected.com/teams/tbsa-wahoos-06-14u-springfield-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/tbsa-tribe-softball-_1626298924.jpeg\",\n    \"location\": \"4977 University Dr,\\nSpringfield, Illinois, 62703\"\n  },\n  {\n    \"name\": \"TCT Swarm 10U\",\n    \"url\": \"https://www.softballconnected.com/teams/tct-swarm-10u-illinois\",\n    \"image\": null,\n    \"location\": \"201 Berg St,\\nAlgonquin, Illinois, 60102\"\n  },\n  {\n    \"name\": \"Team Combat 12u Ward/Robinson\",\n    \"url\": \"https://www.softballconnected.com/teams/team-combat-12u-ward-robinson-middletown-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/aabd0d73-4dd9-412e-b30e-64ce5b7ba910_1758720626.jpeg\",\n    \"location\": \"6562 LITCHFIELD LN,\\nMiddletown, Ohio, 45042\"\n  },\n  {\n    \"name\": \"Team Indiana Impact\",\n    \"url\": \"https://www.softballconnected.com/teams/team-indiana-impact-softball\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/newimpactlogo_1658773653.jpg\",\n    \"location\": \"8464 Brookville Rd,\\nMooresville, Indiana, 46113\"\n  },\n  {\n    \"name\": \"Team KC\",\n    \"url\": \"https://www.softballconnected.com/teams/team-kc-kansas-city-missouri\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/teamkc_1744814709.jpg\",\n    \"location\": \"1 Royal Way,\\nKansas City, Missouri, 64129\"\n  },\n  {\n    \"name\": \"Team Michigan 14U\",\n    \"url\": \"https://www.softballconnected.com/teams/team-michigan-14u-grosse-pointe-farms-michigan\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screen-shot-2021-01-08-at-8.58.17-pm_1610157587.png\",\n    \"location\": \"292 Mt. Vernon,\\nGrosse Pointe Farms, Michigan, 48236\"\n  },\n  {\n    \"name\": \"Team Tennessee 2027\",\n    \"url\": \"https://www.softballconnected.com/teams/team-tennessee-2027-knoxville-tennessee\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/d2f0d88c-5296-472d-adf0-6a46d119ed1e_1642740486.jpeg\",\n    \"location\": \"2141 W. Emory Road,\\nKnoxville, Tennessee, 37912\"\n  },\n  {\n    \"name\": \"Tennessee Heat Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/tennessee-heat-fastpitch-knoxville-tennessee\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/heat_1580247644.jpeg\",\n    \"location\": \"na,\\nKnoxville, Tennessee, 37931\"\n  },\n  {\n    \"name\": \"Tennessee Warriors\",\n    \"url\": \"https://www.softballconnected.com/teams/tennessee-dirt-queens-murfreesboro-tennessee\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screenshot_20250613_125210_1749837160.jpg\",\n    \"location\": \"303 Merlin Drive,\\nMurfreesboro, Tennessee, 37127\"\n  },\n  {\n    \"name\": \"Texas Blaze STL\",\n    \"url\": \"https://www.softballconnected.com/teams/texas-blaze-stl-saint-charles-missouri\",\n    \"image\": null,\n    \"location\": \"1650 Beale St.,\\nSaint Charles, Missouri, 63303\"\n  },\n  {\n    \"name\": \"Texas Glory IL Blue - 06\",\n    \"url\": \"https://www.softballconnected.com/teams/06-texas-glory-il-blue-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/annotation-2020-08-04-162314_1615831340.png\",\n    \"location\": \"117 Republic Ave,\\nJoliet, Illinois, 60585\"\n  },\n  {\n    \"name\": \"Texas Glory 09\",\n    \"url\": \"https://www.softballconnected.com/teams/texas-glory-09-bettendorf-iowa\",\n    \"image\": null,\n    \"location\": \"4850 competition dr,\\nBettendorf, Iowa, 52722\"\n  },\n  {\n    \"name\": \"Thunder Elite Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/thunder-elite-fastpitch-new-vienna-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screen-shot-2020-01-27-at-3.45.47-pm_1580161581.png\",\n    \"location\": \"P.O. Box 636,\\nNew Vienna, Ohio, 44473\"\n  },\n  {\n    \"name\": \"Tigers 2k11\",\n    \"url\": \"https://www.softballconnected.com/teams/tigers-2k11-houston-texas\",\n    \"image\": null,\n    \"location\": \"701 Avenue F,\\nHouston, Texas, 77587\"\n  },\n  {\n    \"name\": \"Tim Gatz\",\n    \"url\": \"https://www.softballconnected.com/teams/tim-gatz-park-ridge-illinois\",\n    \"image\": null,\n    \"location\": \"425 S Knight,\\nPark Ridge, Illinois, 60068\"\n  },\n  {\n    \"name\": \"Tinley Park Rockers -Ball\",\n    \"url\": \"https://www.softballconnected.com/teams/tinley-park-rockers-ball-tinley-park-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/rockers-logo_1722639405.png\",\n    \"location\": \"17413 84TH AVE,\\nTinley Park, Illinois, 60477\"\n  },\n  {\n    \"name\": \"TITANS\",\n    \"url\": \"https://www.softballconnected.com/teams/titans-goddard-kansas\",\n    \"image\": null,\n    \"location\": \"16213 W Sheriac Ct,\\nGoddard, Kansas, 67052\"\n  },\n  {\n    \"name\": \"Tn Bombers\",\n    \"url\": \"https://www.softballconnected.com/teams/tn-bombers-covington-tennessee\",\n    \"image\": null,\n    \"location\": \"3990 Charleston Gift Rd,\\nCovington, Tennessee, 38019\"\n  },\n  {\n    \"name\": \"TN Elite 2024 Goetzinger\",\n    \"url\": \"https://www.softballconnected.com/teams/tn-elite-2024-goetzinger-christiana-tennessee\",\n    \"image\": null,\n    \"location\": \"558 Long Creek Dr,\\nChristiana, Tennessee, 37037\"\n  },\n  {\n    \"name\": \"TN Fire '11\",\n    \"url\": \"https://www.softballconnected.com/teams/tn-fire-11-dickson-tennessee\",\n    \"image\": null,\n    \"location\": \"1755 W Iron Hill Rd,\\nDickson, Tennessee, 37055\"\n  },\n  {\n    \"name\": \"TN Fire 16U\",\n    \"url\": \"https://www.softballconnected.com/teams/tn-fire-16u-kingston-springs-tennessee\",\n    \"image\": null,\n    \"location\": \"601 park St,\\nKingston Springs, Tennessee, 37082\"\n  },\n  {\n    \"name\": \"Tomahawks\",\n    \"url\": \"https://www.softballconnected.com/teams/tomahawks16uwb-ofallon-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/tomahawks-fastpitch_1580352052.jpg\",\n    \"location\": \"124 Summerlin Ridge,\\nO'Fallon, Illinois, 62269\"\n  },\n  {\n    \"name\": \"Top Pick Athletics\",\n    \"url\": \"https://www.softballconnected.com/teams/top-pick-athletics-plano-illinois\",\n    \"image\": null,\n    \"location\": \"47 North Linden Drive,\\nPlano, Illinois, 60545\"\n  },\n  {\n    \"name\": \"Toxic 16U\",\n    \"url\": \"https://www.softballconnected.com/teams/toxic-16u-capron-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/debceb60-e3f9-4873-9603-014d0817ea5b_1664154789.jpeg\",\n    \"location\": \"230 S Sixth St,\\nCapron, Illinois, 61012\"\n  },\n  {\n    \"name\": \"Trailblazers Softball\",\n    \"url\": \"https://www.softballconnected.com/teams/trailblazers-softball-columbia-missouri\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/trailblazers-t-logo_1654526192.jpg\",\n    \"location\": \"601 Rain Forest Parkway,\\nColumbia, Missouri, 65202\"\n  },\n  {\n    \"name\": \"Tri-Star Tornados 2K11\",\n    \"url\": \"https://www.softballconnected.com/teams/tri-star-tornados-2k11-white-house-tennessee\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/img_7149_1754184070.jpeg\",\n    \"location\": \"107 Cherokee drive,\\nWhite House, Tennessee, 37188\"\n  },\n  {\n    \"name\": \"Tri-Star Tornados 2K15\",\n    \"url\": \"https://www.softballconnected.com/teams/tri-star-tornados-2k15-white-house-tennessee\",\n    \"image\": null,\n    \"location\": \"420 Highway 76,\\nWhite House, Tennessee, 37188\"\n  },\n  {\n    \"name\": \"Tulsa Eagles\",\n    \"url\": \"https://www.softballconnected.com/teams/tulsa-eagles-owasso-oklahoma\",\n    \"image\": null,\n    \"location\": \"P.O. Box 2173,\\nOwasso, Oklahoma, 74055\"\n  },\n  {\n    \"name\": \"TULSA ELITE OKC 2024-2025\",\n    \"url\": \"https://www.softballconnected.com/teams/tulsa-elite-okc-2024-2025-edmond-oklahoma\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/tulsa-elite-06_1624241140.jpg\",\n    \"location\": \"2932 N. ASHECROFT DRIVE,\\nEdmond, Oklahoma, 73034\"\n  },\n  {\n    \"name\": \"Unity Helt\",\n    \"url\": \"https://www.softballconnected.com/teams/unity-helt-carrollton-virginia\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/img_8735_1753420645.jpeg\",\n    \"location\": \"13036 Nike Park Rd,\\nCarrollton, Virginia, 23314\"\n  },\n  {\n    \"name\": \"Upper Thunder-Zaika 14U\",\n    \"url\": \"https://www.softballconnected.com/teams/upper-thunder-zaika-14u-harpster-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/304907386_521303899801468_331631214786885458_n_1735524618.png\",\n    \"location\": \"18270 Township Highway 125,\\nHarpster, Ohio, 43351\"\n  },\n  {\n    \"name\": \"Urbana Lady Rams\",\n    \"url\": \"https://www.softballconnected.com/teams/urbana-lady-rams-urbana-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/fulllogo_1690851114.jpg\",\n    \"location\": \"1411 Kennard-Kingscreek Rd,\\nUrbana, Ohio, 43078\"\n  },\n  {\n    \"name\": \"USA Pride 2033 11u\",\n    \"url\": \"https://www.softballconnected.com/teams/usa-pride-2033-11u-linton-indiana\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/d64033e0-0463-4275-8fdc-a5013ed2da73_1749683068.png\",\n    \"location\": \"Central / southern,\\nLinton, Indiana, 47441\"\n  },\n  {\n    \"name\": \"USA Prime\",\n    \"url\": \"https://www.softballconnected.com/teams/usa-prime-phoenix-arizona\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/usa-prime-softball-az_1690894372.png\",\n    \"location\": \"3344 E GRANITE VIEW DR,\\nPhoenix, Arizona, 85044\"\n  },\n  {\n    \"name\": \"USA Prime Northern Illinois\",\n    \"url\": \"https://www.softballconnected.com/teams/usa-prime-northern-illinois-south-elgin-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/usa-prime-northern-illinois-softball-logo_1746631635.png\",\n    \"location\": \"384 Sundown,\\nSouth Elgin, Illinois, 60177\"\n  },\n  {\n    \"name\": \"USSSA NY Pride\",\n    \"url\": \"https://www.softballconnected.com/teams/usssa-ny-pride\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/pride-logo_1699383944.png\",\n    \"location\": \"392 Pearl Street, Suite 401,\\nBuffalo, New York, 14202\"\n  },\n  {\n    \"name\": \"Usssa Pride elite 27/28\",\n    \"url\": \"https://www.softballconnected.com/teams/usssa-pride-elite-27-28-central-indiana\",\n    \"image\": null,\n    \"location\": \"790 N Main St,\\nCentral, Indiana, 47401\"\n  },\n  {\n    \"name\": \"VA Glory Gagliardi\",\n    \"url\": \"https://www.softballconnected.com/teams/va-glory-gagliardi-wi\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/logo---red-narrow_1646073381.png\",\n    \"location\": \"9867 49th Avenue,\\nPleasant Prairie, Wisconsin, 53158\"\n  },\n  {\n    \"name\": \"Valley Extreme Girls Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/warren-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/valley_1580160958.jpg\",\n    \"location\": \"2619 Bazetta Rd NE,\\nWarren, Ohio, 44481\"\n  },\n  {\n    \"name\": \"VALLEY STORM FASTPITCH\",\n    \"url\": \"https://www.softballconnected.com/teams/valley-storm-fastpitch-tipp-city-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/storm_1579904474.png\",\n    \"location\": \"752 Barbara Drive,\\nTipp City, Ohio, 45371\"\n  },\n  {\n    \"name\": \"Valley Voodoo\",\n    \"url\": \"https://www.softballconnected.com/teams/valley-voodoo-manteca-california\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/e337f69b854601cdcf0a7b3ac2ffe598_0_1710430285.jpeg\",\n    \"location\": \"208 Joseph Road, Manteca, CA, USA,\\nManteca, California, 95336\"\n  },\n  {\n    \"name\": \"Velocity Academy\",\n    \"url\": \"https://www.softballconnected.com/teams/velocity-academy-belton-missouri\",\n    \"image\": null,\n    \"location\": \"16514 Cornerstone Dr, Belton, MO 64012,\\nBelton, Missouri, 64083\"\n  },\n  {\n    \"name\": \"Vengeance Fastpitch 2k13\",\n    \"url\": \"https://www.softballconnected.com/teams/vengeance-fastpitch-2k13-yukon-oklahoma\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screenshot_20240601_094131_gmail_1719801245.jpg\",\n    \"location\": \"4720 Stag Horn Dr.,\\nYukon, Oklahoma, 73099\"\n  },\n  {\n    \"name\": \"Venom Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/venom-fastpitch-joplin-missouri\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/fb_img_1657163180311_1657548098.jpg\",\n    \"location\": \"2721 Briaroaks Ln,\\nJoplin, Missouri, 64804\"\n  },\n  {\n    \"name\": \"Vernon Hills Stingers\",\n    \"url\": \"https://www.softballconnected.com/teams/vernon-hills-stingers-vernon-hills-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/stinger_1570321688.jpg\",\n    \"location\": \"254 Stone Fence Ln.,\\nVernon Hills, Illinois, 60061\"\n  },\n  {\n    \"name\": \"Villa Park Blue Wings 9U\",\n    \"url\": \"https://www.softballconnected.com/teams/villa-park-blue-wings-9u-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/vp-blue-wings-logo-(1)_1678907428.jpg\",\n    \"location\": \"P.O. Box 6264,\\nVilla Park, Illinois, 60181\"\n  },\n  {\n    \"name\": \"Vipers Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/vipersfaspitch\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/2020_vfp_logo_03_1574259942.jpg\",\n    \"location\": \"P.O. Box 323,\\nCarlyle, Illinois, 62231\"\n  },\n  {\n    \"name\": \"Vipers Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/vipers-fastpitch-carlyle-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/vipers-fastpitch-softball-team-illinois-_1694783622.png\",\n    \"location\": \"NA,\\nCarlyle, Illinois, 62231\"\n  },\n  {\n    \"name\": \"Virginia Unity-Richards 2026\",\n    \"url\": \"https://www.softballconnected.com/teams/virginia-unity-richards-2026-salem-virginia\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/unity_1707167960.jpg\",\n    \"location\": \"1730 Margaret Lane Apt 106,\\nSalem, Virginia, 24153\"\n  },\n  {\n    \"name\": \"VVBASE Spartans\",\n    \"url\": \"https://www.softballconnected.com/teams/vvbase-spartans-germantown-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/vvbase-spartans_1624231671.png\",\n    \"location\": \"2727 Farmersville Johnsville Rd.,\\nFarmersville, Ohio, 45325\"\n  },\n  {\n    \"name\": \"Wallen Warriors\",\n    \"url\": \"https://www.softballconnected.com/teams/fort-wayne-indiana\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screen-shot-2022-10-28-at-8.41.03-am_1666964481.png\",\n    \"location\": \"4308 Great Hollow Court,\\nFort Wayne, Indiana, 46818\"\n  },\n  {\n    \"name\": \"Warren County Crush\",\n    \"url\": \"https://www.softballconnected.com/teams/warren-county-crush-blairstown-new-jersey\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/250304550_186012680378291_2823990114469861899_n_1687697166.jpg\",\n    \"location\": \"16 Ridgeway Ave,\\nBlairstown, New Jersey, 7825\"\n  },\n  {\n    \"name\": \"Warren County Crush 18u\",\n    \"url\": \"https://www.softballconnected.com/teams/warren-county-crush-18u-blairstown-new-jersey\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/photo_02_1660842206.jpg\",\n    \"location\": \"16 Ridgeway ave,\\nBlairstown, New Jersey, 7825\"\n  },\n  {\n    \"name\": \"Wasco Warriors 12u\",\n    \"url\": \"https://www.softballconnected.com/teams/wasco-warriors-12u-north-aurora-illinois\",\n    \"image\": null,\n    \"location\": \"1420 Prairie Court,\\nNorth Aurora, Illinois, 60542\"\n  },\n  {\n    \"name\": \"Welles Park Youth Softball\",\n    \"url\": \"https://www.softballconnected.com/teams/welles-park-youth-softball-chicago-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/welles-park-softball_1578757323.jpg\",\n    \"location\": \"2333 W Sunnyside Ave,\\nChicago, Illinois, 60625\"\n  },\n  {\n    \"name\": \"West Chicago Wildcats Softball\",\n    \"url\": \"https://www.softballconnected.com/teams/west-chicago-wildcats-softball-west-chicago-illinois\",\n    \"image\": null,\n    \"location\": \"1140 Ridgewood Drive,\\nWest Chicago, Illinois, 60185\"\n  },\n  {\n    \"name\": \"West Ga Knock-Outs 2031\",\n    \"url\": \"https://www.softballconnected.com/teams/west-ga-knock-outs-2031-douglasville-georgia\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/fb_img_1668424799989_1669307878.jpg\",\n    \"location\": \"2105 Mack Rd,\\nDouglasville, Georgia, 30135\"\n  },\n  {\n    \"name\": \"​West Liberty Force\",\n    \"url\": \"https://www.softballconnected.com/teams/west-liberty-force-marysville-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/west-liberty-force-fastpitch-v2-_1594515404.jpg\",\n    \"location\": \"1550 Bay Laurel Dr,\\nMarysville, Ohio, 43040\"\n  },\n  {\n    \"name\": \"Westside Elite '10 - WHITE\",\n    \"url\": \"https://www.softballconnected.com/teams/westside-elite-10-white-cincinnati-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/20211229_193927_1640824872.jpg\",\n    \"location\": \"6553 Duet Ln,\\nCincinnati, Ohio, 45239\"\n  },\n  {\n    \"name\": \"Wheaton Wildcats - Morris 12U\",\n    \"url\": \"https://www.softballconnected.com/teams/wheaton-wildcats-12u-morris-wheaton-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screen-shot-2022-08-09-at-3.46.39-pm_1660079483.png\",\n    \"location\": \"NA,\\nWheaton, Illinois, 60187\"\n  },\n  {\n    \"name\": \"Wheaton Wildcats 18u-Chaney\",\n    \"url\": \"https://www.softballconnected.com/teams/wheaton-wildcats-18u-chaney-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/wildcats_orange_1721582105.png\",\n    \"location\": \"1411 Champion Forest Court,\\nWheaton, Illinois, 60187\"\n  },\n  {\n    \"name\": \"Whitnall Falcon 18U\",\n    \"url\": \"https://www.softballconnected.com/teams/whitnall-falcon-18u-hales-corners-wisconsin\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/whitnall-_1596847601.jpg\",\n    \"location\": \"5301 S 116th St,\\nHales Corners, Wisconsin, 53130\"\n  },\n  {\n    \"name\": \"Whitpain United\",\n    \"url\": \"https://www.softballconnected.com/teams/whitpain-united-blue-bell-pennsylvania\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/united-shield_1714870577.png\",\n    \"location\": \"1000 Anvil Lane,\\nBlue Bell, Pennsylvania, 19422\"\n  },\n  {\n    \"name\": \"Wicked Elite Travel Softball\",\n    \"url\": \"https://www.softballconnected.com/teams/wicked-elite-travel-softball-hendersonville-tennessee\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/wicked_1581374846.png\",\n    \"location\": \"1050 Avondale Road,\\nHendersonville, Tennessee, 37075\"\n  },\n  {\n    \"name\": \"Wilmot Panthers Softball Club\",\n    \"url\": \"https://www.softballconnected.com/teams/none\",\n    \"image\": null,\n    \"location\": \"205 Lynne Dr,\\nWilmot, Wisconsin, 53181\"\n  },\n  {\n    \"name\": \"Windmills 11U Stone\",\n    \"url\": \"https://www.softballconnected.com/teams/windmills-11u-stone-berwyn-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/windmills-logo-high-resolution-copy-2_1731239337.jpg\",\n    \"location\": \"2839 S. Wenonah Ave,\\nBerwyn, Illinois, 60402\"\n  },\n  {\n    \"name\": \"Windy City Ice 16U\",\n    \"url\": \"https://www.softballconnected.com/teams/windy-city-ice-16u-crestwood-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/wci-logo.jpg\",\n    \"location\": \"13900 S. Laramie,\\nCrestwood, Illinois, 60418\"\n  },\n  {\n    \"name\": \"Windy City Rage\",\n    \"url\": \"https://www.softballconnected.com/teams/windy-city-rage-lake-zurich-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/new2019-2020logo_1596476868.jpg\",\n    \"location\": \"558 Applegate Ln,\\nLake Zurich, Illinois, 60047\"\n  },\n  {\n    \"name\": \"Windy City Rage\",\n    \"url\": \"https://www.softballconnected.com/teams/windy-city-rage-lincolnwood-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/rage-logo_1610151186.png\",\n    \"location\": \"7369 N EAST PRAIRIE RD,\\nLincolnwood, Illinois, 60712\"\n  },\n  {\n    \"name\": \"Windy City Rage 16U-AS\",\n    \"url\": \"https://www.softballconnected.com/teams/windy-city-rage-16u-as-chicago-illinois\",\n    \"image\": null,\n    \"location\": \"6259 W Holbrook St Apt,\\nChicago, Illinois, 60646\"\n  },\n  {\n    \"name\": \"Windy City Wicked\",\n    \"url\": \"https://www.softballconnected.com/teams/windy-city-wicked-north-riverside-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/screenshot-2024-06-06-at-3.37.20%E2%80%AFpm_1717706398.png\",\n    \"location\": \"2320 S 11th Ave,\\nNorth Riverside, Illinois, 60546\"\n  },\n  {\n    \"name\": \"Windy City wildcats\",\n    \"url\": \"https://www.softballconnected.com/teams/windy-city-wildcats-oak-forest-illinois\",\n    \"image\": null,\n    \"location\": \"5476 Natalie Drive,\\nOak Forest, Illinois, 60452\"\n  },\n  {\n    \"name\": \"Wisconsin Slammers\",\n    \"url\": \"https://www.softballconnected.com/teams/wisconsin-slammers-oak-creek-wisconsin\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/img_2646-(002)_1595533625.jpg\",\n    \"location\": \"1125 E Fitzsimmons Rd,\\nOak Creek, Wisconsin, 53154\"\n  },\n  {\n    \"name\": \"Wizards Fastpitch\",\n    \"url\": \"https://www.softballconnected.com/teams/wizards-fastpitch-willowick-ohio\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/wizards_1580165484.jpg\",\n    \"location\": \"N/A,\\nWillowick, Ohio, 44094\"\n  },\n  {\n    \"name\": \"Woodstock Storm 13U- JS\",\n    \"url\": \"https://www.softballconnected.com/teams/woodstock-storm-13u-js-crystal-lake-illinois\",\n    \"image\": null,\n    \"location\": \"2453 Ajax St.,\\nCrystal Lake, Illinois, 60014\"\n  },\n  {\n    \"name\": \"WSLL 10U Hit Queens\",\n    \"url\": \"https://www.softballconnected.com/teams/wsll-10u-hit-queens-hamilton-ohio\",\n    \"image\": null,\n    \"location\": \"1010 Eaton Ave,\\nHamilton, Ohio, 45013\"\n  },\n  {\n    \"name\": \"Wv liberty 07 A\",\n    \"url\": \"https://www.softballconnected.com/teams/wv-liberty-07-a-charleston-west-virginia\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/74596424-009a-4c15-9c47-39a08934ce0a_1653760791.jpeg\",\n    \"location\": \"816 Paint Creek rd,\\nCharleston, West Virginia, 25103\"\n  },\n  {\n    \"name\": \"Xplosion Softball\",\n    \"url\": \"https://www.softballconnected.com/teams/xplosion-softball-millstadt-illinois\",\n    \"image\": null,\n    \"location\": \"29 Coronation Dr,\\nMillstadt, Illinois, 62220\"\n  },\n  {\n    \"name\": \"Xpress 18u/High School\",\n    \"url\": \"https://www.softballconnected.com/teams/xpress-18u-high-school-warren-michigan\",\n    \"image\": null,\n    \"location\": \"24563 Columbus Ave,\\nWarren, Michigan, 48089\"\n  },\n  {\n    \"name\": \"Yorkville Foxes\",\n    \"url\": \"https://www.softballconnected.com/teams/yorkville-foxes-yorkville-illinois\",\n    \"image\": \"https://www.softballconnected.com/images/module_images/yorkville-foxes-1536715929.jpg\",\n    \"location\": \"600 Hayden Dr,\\nYorkville, Illinois, 60560\"\n  }\n];\n\n// Convert array → individual items for Split In Batches\nreturn teams.map(team => ({\n  json: team\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,16],"id":"2e08fe2f-aa23-40ca-9b0b-e749b73fce5d","name":"Code in JavaScript1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Scrape team profile and get details","type":"main","index":0}]]},"Scrape team profile and get details":{"main":[[{"node":"AI Agent - Get team details","type":"main","index":0}]]},"AI Agent - Get team details":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Google Gemini 2.0 Flash":{"ai_languageModel":[[{"node":"AI Agent - Get team details","type":"ai_languageModel","index":0}]]},"Output Helper":{"ai_outputParser":[[{"node":"AI Agent - Get team details","type":"ai_outputParser","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Format fixer":{"ai_languageModel":[[{"node":"Output Helper","type":"ai_languageModel","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cfc1ea2c-2e56-4784-bfae-29339d352bc0","triggerCount":0,"shared":[{"updatedAt":"2025-11-24T09:41:29.730Z","createdAt":"2025-11-24T09:41:29.730Z","role":"workflow:owner","workflowId":"LVWazJvVnJv7zya4","projectId":"tsuA2t8C154Ytetn"}],"tags":[]}