whatsapp-flow-test-4qG9tTg8Ly2GjxwN.json
{"updatedAt":"2025-11-13T10:55:48.957Z","createdAt":"2025-11-13T10:07:23.106Z","id":"4qG9tTg8Ly2GjxwN","name":"Whatsapp Flow test","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 3 * * *"}]}},"id":"a01bd3f8-63e6-4124-9a5c-6f6535a7edb7","name":"Schedule Trigger - 9 AM IST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,480],"notesInFlow":true,"notes":"Triggers daily at 9:00 AM IST (3:30 AM UTC)"},{"parameters":{"jsCode":"// Get current date in YYYY-MM-DD format (IST timezone)\nconst today = new Date();\n\n// Convert to IST (UTC + 5:30)\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istDate = new Date(today.getTime() + istOffset);\n\n// Format as YYYY-MM-DD\nconst year = istDate.getUTCFullYear();\nconst month = String(istDate.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(istDate.getUTCDate()).padStart(2, '0');\n\nconst formattedDate = `${month}/${day}/${year}`;\n\nreturn {\n  currentDate: formattedDate\n};"},"id":"b8bf31fc-ecbe-4920-85c6-630ac61d0775","name":"Get Current Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,480],"notesInFlow":true,"notes":"Generates current date in YYYY-MM-DD format (IST)"},{"parameters":{"documentId":{"__rl":true,"value":"1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU","mode":"list","cachedResultName":"LinkedIn-post-content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l0cfJoU7jx6LEz8Wg4V-qWKUXq2KdEAWGPhdVWc-zCU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $('Get Current Date').item.json.currentDate }}"}]},"options":{}},"id":"4da21161-fe10-4388-a4c2-14a19d3dab98","name":"Get Sheet Row by Date","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-640,480],"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}},"notes":"Searches for row with today's date in the 'Date' column"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-row-found","leftValue":"={{ $json.Date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"492ce70e-b727-461c-9c12-bc18731d8852","name":"Check If Post Data Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[-384,480],"notesInFlow":true,"notes":"Checks if a row exists with valid date and image URL"},{"parameters":{"errorMessage":"No post scheduled for today ({{ $('Get Current Date').item.json.currentDate }})"},"id":"bdb7bc4a-5779-4a39-9b12-6dd52eaaadfd","name":"No Post Found - Stop","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[0,624],"notesInFlow":true,"notes":"Stops workflow if no post is scheduled for today"},{"parameters":{"documentId":{"__rl":true,"value":"1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo","mode":"list","cachedResultName":"Phone_numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1292739667,"mode":"list","cachedResultName":"Phone_numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit#gid=1292739667"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,304],"id":"13dcb325-d9ed-485c-a967-d4108029a48f","name":"Get Phonenumbers","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,304],"id":"cd82abb7-65f5-48c0-a7a6-73169748cd69","name":"Loop Over Phonenumber"},{"parameters":{"operation":"send","phoneNumberId":"=654345678","recipientPhoneNumber":"={{ $json.PhoneNumber }}","messageType":"image","mediaLink":"={{ $('Get Sheet Row by Date').item.json.URL }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[624,320],"id":"ec65fee1-98bc-4fcf-95e9-8cf56ed19bcd","name":"Send message","webhookId":"1dcf2482-6d2f-4684-9505-cfbb6dcc74a5","credentials":{"whatsAppApi":{"id":"T7gwiOAaiP2KO6qm","name":"WhatsApp account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo","mode":"list","cachedResultName":"Phone_numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1292739667,"mode":"list","cachedResultName":"Phone_numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvHWsm5tkl1VbUVLB3glkzM5T20-6dyWmSk3JjHMKpo/edit#gid=1292739667"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Phonenumber').item.json.row_number }}","Name":"={{ $('Loop Over Phonenumber').item.json.Name }}","PhoneNumber":"={{ $('Loop Over Phonenumber').item.json.PhoneNumber }}","Sent":"sent","SentOn":"={{ $now }}"},"matchingColumns":["row_number"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PhoneNumber","displayName":"PhoneNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sent","displayName":"Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SentOn","displayName":"SentOn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,320],"id":"bd334f35-6c09-43ad-8d0a-b19f28b21c41","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fYAQYufcnf2edeKy","name":"shrinivas-linkedin-post-content-sheet"}}}],"connections":{"Schedule Trigger - 9 AM IST":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Get Sheet Row by Date","type":"main","index":0}]]},"Get Sheet Row by Date":{"main":[[{"node":"Check If Post Data Found","type":"main","index":0}]]},"Check If Post Data Found":{"main":[[{"node":"Get Phonenumbers","type":"main","index":0}],[{"node":"No Post Found - Stop","type":"main","index":0}]]},"Get Phonenumbers":{"main":[[{"node":"Loop Over Phonenumber","type":"main","index":0}]]},"Loop Over Phonenumber":{"main":[[],[{"node":"Send message","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Phonenumber","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fe29dc0-e153-4aec-9a06-540399289c48","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T10:07:23.106Z","createdAt":"2025-11-13T10:07:23.106Z","role":"workflow:owner","workflowId":"4qG9tTg8Ly2GjxwN","projectId":"1vIebgCv7zceWZsM"}],"tags":[]}